<div class="absolute inset-0 flex flex-col min-w-0">

  <mat-drawer-container class="flex-auto h-full">
    <mat-drawer 
            class="w-1/2 max-w-72 dark:bg-gray-900"
            [mode]="drawerMode"
            [disableClose]="disableClose"
            [opened]="drawerOpened"
            #drawer>
            <advance-salary-sidebar></advance-salary-sidebar>
        </mat-drawer>
        <!-- Drawer content -->
      <mat-drawer-content class="flex flex-col">
        <router-outlet></router-outlet>
      </mat-drawer-content>
  </mat-drawer-container>
  
  
</div>
