<div class="page-layout simple">
  <!-- HEADER -->
  <div
    class="header indigo-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <button
      matTooltip="Retour à la liste des utilisateurs"
      mat-icon-button
      class="back mr-16"
      [routerLink]="'/settings'"
    >
      <mat-icon class="fuse-white-500-fg">arrow_back</mat-icon>
    </button>
    <h1
      class="fuse-white-500-fg"
      [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
    >
      Gestion de modules
    </h1>
    <div
      fxLayout="row"
      fxLayoutAlign="end"
      style="position: absolute;right:12px;"
    >
      <button
        mat-fab
        color="warn"
        [@animate]="{ value: '*', params: { delay: '300ms', scale: '.2' } }"
        (click)="addOrUpdateModule(null, null, 'new')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- / HEADER -->
  <div class="content p-24">
    <!--
      [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'"
    -->
    <div class="modules" fxLayout="row wrap" fxLayoutAlign="center">
      <div
        class="p-16"
        *ngFor="let m of modules"
        fxFlex="100"
        fxFlex.gt-xs="50"
        fxFlex.gt-sm="33"
      >
        <div class="fuse-card">
          <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h1 pr-16">{{ m.title }}</div>
            <div>
              <button mat-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button
                  *ngIf="m.type === 'collapsable'"
                  mat-menu-item
                  (click)="addOrUpdateModule(m, null, 'new')"
                >
                  <mat-icon color="primary">add</mat-icon>
                  Ajouter
                </button>
                <button
                  mat-menu-item
                  (click)="addOrUpdateModule(m, null, 'edit')"
                >
                  <mat-icon color="accent">edit</mat-icon>
                  Modifier
                </button>
              </mat-menu>
            </div>
          </div>
          <table class="simple clickable">
            <thead>
              <tr>
                <th class="text-right">Name</th>
                <th class="text-right">Key</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let child of m.children"
                (click)="addOrUpdateModule(m, child, 'edit')"
              >
                <td>{{ child.title }}</td>
                <td class="text-right">{{ child.key }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
