@import "src/@fuse/scss/fuse";

meetings-tasks {
  .fuse-card {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 0;

    // @include media-breakpoint(gt-sm) {
    //     padding: 24px 4px 24px 24px;
    // }

    .card {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      padding: 0;
      border-radius: 8px;
      background-color: white !important;

      @include media-breakpoint(gt-sm) {
        @include mat-elevation(1);
      }

      > .header {
        flex: 0 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      > .content {
        flex: 0 1 auto;
      }
    }

    .nav-item {
      text-decoration: none !important;
      border: 1px solid;
      border-radius: 5px;
      margin-bottom: 8px;
      border-color: #0000001f;
    }

    .nav.material2 .nav-item .nav-link,
    .material2 .nav .nav-item .nav-link {
      border-radius: 5px !important;
      margin-right: 0px !important;
    }
  }

  .header {
    .search-wrapper {
      background-color: white;
      width: 100%;
      max-width: 480px;
      border-radius: 28px;
      overflow: hidden;
      @include mat-elevation(1);

      .search {
        width: 100%;
        height: 48px;
        line-height: 48px;

        input {
          width: 100%;
          height: 48px;
          min-height: 48px;
          max-height: 48px;
          padding: 0 16px;
          border: none;
          outline: none;
        }
      }
    }
  }

  .content-text {
    color: rgba(0, 0, 0, 0.5) !important;
  }

  .sector-text {
    color: rgb(132, 193, 255);
    font-weight: bold;
    padding: 4px 16px;
  }

  .decision-text {
    font-weight: bold;
    padding: 4px 16px;
  }

  .comment-panel {
    float: left;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background-color: #039be5;
    color: #ffffff;
    padding: 15px 10px;
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 1px;
    width: 100%;
  }

  .deadline-checked-yellow {
    background-color: #ffd802 !important;
    color: white !important;
    cursor: pointer;
  }

  .deadline-checked-red {
    background-color: #ff4a4a !important;
    color: white !important;
    cursor: pointer;
  }

  .deadline-checked-green {
    background-color: #91dc5a !important;
    color: white !important;
    cursor: pointer;
  }

  .mat-tab-label, .mat-tab-label-active{
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
   }
}
