<div class="mat-card mat-elevation-z4 mb-2 p-4">
  <h2 class=" text-xl text-red-700">Détail des heures supplémentaires par semaine</h2>
  <mat-table [dataSource]="statsOvertimeDetails">
    <ng-container matColumnDef="weekNumber">
      <mat-header-cell  *matHeaderCellDef
        >N° Semaine</mat-header-cell
      >
      <mat-cell  *matCellDef="let stat">
        <span class="job-title">
          {{ stat.weekNumber }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalWorkedHours">
      <mat-header-cell  *matHeaderCellDef
        >Total heures travaillées</mat-header-cell
      >
      <mat-cell  *matCellDef="let stat">
        <span class="job-title">
          {{ stat.totalWorkedHours }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalOverTimeHours">
      <mat-header-cell  *matHeaderCellDef
        >Heures supplémentaires</mat-header-cell
      >
      <mat-cell  *matCellDef="let stat">
        <span class="job-title">
          {{ stat.totalOverTimeHours }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="partialTaux">
      <mat-header-cell  *matHeaderCellDef
        >Taux partiels</mat-header-cell
      >
      <mat-cell  *matCellDef="let stat">
        <span class="job-title">
          {{ stat.partialTaux }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dates">
      <mat-header-cell  *matHeaderCellDef
        >Dates</mat-header-cell
      >
      <mat-cell  *matCellDef="let stat">
        <span class="job-title">
          {{ stat.dates }}
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let stat; columns: displayedColumns"
      class="activity"
      matRipple
    >
    </mat-row>
  </mat-table>
</div>
