@import "src/@fuse/scss/fuse";

activity-absence-content {
  .employee-fullName {
    background-color: #f79b08 !important;
    color: white !important;
    font-weight: bold !important;
  }

  .header {
    .search-wrapper {
      background-color: white;
      width: 100%;
      max-width: 480px;
      border-radius: 28px;
      overflow: hidden;
      @include mat-elevation(1);

      .search {
        width: 100%;
        height: 48px;
        line-height: 48px;

        input {
          width: 100%;
          height: 48px;
          min-height: 48px;
          max-height: 48px;
          padding: 0 16px;
          border: none;
          outline: none;
        }
      }
    }
  }

  .datatable-body-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
  .datatable-header-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
}
