<div class="content">
  <div
    class="header p-8"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
  >
    <div fxLayoutAlign="space-between center" class="pl-4">
      <mat-checkbox
        (change)="onHideRecoveryAbsences($event.checked)"
        [checked]="hideRecoveryAbsencesValue"
        >Cacher les absences "Récupérations" et "Formations" ?
      </mat-checkbox>
    </div>
    <div
      fxLayoutAlign="space-between center"
      class="search-wrapper mt-16 mt-md-0 pl-4"
    >
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button class="secondary-text">
          <mat-icon>search</mat-icon>
        </button>
        <input
          placeholder="Filtrer les salariés"
          name="search"
          [(ngModel)]="filterValue"
          (keyup)="onFilterByName($event)"
        />
      </div>
    </div>
  </div>
</div>
<div class="demo-content line-height-1.75">
  <div id="ngx-datatable">
    <!-- CONTENT -->
    <div class="table-wrapper content p-4">
      <ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [selectionType]="'checkbox'"
        [messages]="{
          emptyMessage: 'Pas de resultats',
          totalMessage: 'Total'
        }"
      >
        <ngx-datatable-column
          name="SALARIÉ"
          prop="employee.fullName"
          cellClass="employee-fullName"
        ></ngx-datatable-column>

        <ngx-datatable-column name="ABSENCE" prop="absenceType.title">
        </ngx-datatable-column>

        <ngx-datatable-column name="DÉBUT" prop="startTime">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{(row.startTime) | date:'dd/MM/yyyy'}}
             </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="FIN" prop="endTime">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{(row.endTime) | date:'dd/MM/yyyy'}}
             </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          *ngIf="!smallScreen"
          name="ACTIONS"
          [resizeable]="false"
          [canAutoResize]="true"
          [sortable]="false"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <div
              class="buttons-row"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <button
                *ngIf="habilitation.canEdit()"
                mat-icon-button
                color="accent"
                class="mat-elevation-z1"
                (click)="updateActivityAbsence(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="habilitation.canDelete()"
                mat-icon-button
                color="warn"
                class="mat-elevation-z1"
                (click)="deleteActivityAbsence(row)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
