<div class="w-full flex flex-col ">
  <div class="mt-3 mb-6 flex flex-row place-content-end items-center">
    <!-- SEARCH -->
    <div class="sm:w-1/2 w-full mx-2 my-1 rounded-full shadow
      bg-white flex items-center ">
      <mat-icon class="text-dark h-2 pl-2 ">search</mat-icon>
      <input class="border-0 p-4 flex" placeholder="Rechercher article" name="search" />
    </div>
    <!-- Add btn for lg screen-->
    <div class="ml-6 hidden sm:flex">
      <button class="add-post-btn" *ngIf="habilitation.canCreate()" mat-fab color="warn"
        title="Ajouter un nouvel article" routerLink="posts" [queryParams]="{ mode: 'new', isNews: false}">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="border-0 w-1/2 max-w-72 bg-transparent" [mode]="drawerMode" [disableClose]="disableClose"
      [opened]="drawerOpened" #drawer>
      <contacts-main-sidebar></contacts-main-sidebar>
    </mat-drawer>
    <!-- Drawer content -->
    <mat-drawer-content class="border-2 rounded-xl  border-gray-100">
      <div class="h-36 sm:h-20 sm:p-0  p-4 items-center   bg-white flex flex-col sm:flex-row justify-between">
        <div class="flex justify-between w-full">
          <div class="flex items-center ">
            <button mat-icon-button (click)="drawer.toggle()" class="ml-2">
              <mat-icon class="text-gray-600">reorder</mat-icon>
            </button>
          </div>

          <!-- Add btn for sm screen-->
          <div class="flex sm:hidden m-0 sm:my-2" *ngIf="habilitation.canCreate()">
            <button class="add-post-btn" mat-fab color="warn" title="Ajouter un nouvel article" routerLink="posts"
              [queryParams]="{ mode: 'new', isNews: false}">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <posts-list></posts-list>
    </mat-drawer-content>
  </mat-drawer-container>
</div>