<!-- HEADER -->
<div class="w-full">
  <div class="h-30 p-6 sm:px-4 sm:h-20 items-center bg-indigo-600 flex 
  justify-between  " color="primary">

    <div class="flex items-center">
      <button mat-icon-button [routerLink]="'/followupSheet'" matTooltip="Retour à la liste des fiches de suivi">
        <mat-icon class="text-white">arrow_back</mat-icon>
      </button>
      <span class="text-white text-lg sm:text-2xl"> Configuration des fiches de suivi</span>

    </div>
    <button mat-fab color="accent" (click)="addEmployeeLevel()" *ngIf="habilitation.isSuperAdmin()">
      <mat-icon>add</mat-icon>
    </button>


  </div>

  <!-- / HEADER -->
  <div class="p-4 sm:p-10">
    <mat-checkbox (change)="getEmployeeLevels()" [(ngModel)]="includeDisabledEmployeeLevels"
      name="includeDisabledEmployeeLevels">
      Afficher également les employés désactivés
    </mat-checkbox>

    <div class="mt-4">
      <table mat-table class="text-center w-full"  #table [dataSource]="employeesLevels" matSort (matSortChange)="sortEmployeeLevels($event)">
        <!-- fullName Column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef class="place-content-center"   mat-sort-header="employeeLevel">Employé</mat-header-cell>
          <mat-cell *matCellDef="let employeeLevel" class="place-content-center" >
            {{ employeeLevel.employee.fullName }}

            </mat-cell>
        </ng-container>

        <!-- responsible Column -->
        <ng-container matColumnDef="responsible">
          <mat-header-cell *matHeaderCellDef class="place-content-center" >Responsable</mat-header-cell>
          <mat-cell *matCellDef="let employeeLevel" class="place-content-center">

            {{ employeeLevel.responsible.fullName }}
          </mat-cell>
        </ng-container>

        <!-- hierarchyLevel Column -->
        <ng-container matColumnDef="hierarchyLevel">
          <mat-header-cell *matHeaderCellDef class="place-content-center" >Niveau hiérarchique</mat-header-cell>
          <mat-cell  *matCellDef="let employeeLevel" class="place-content-center">
 
  {{ employeeLevel.hierarchyLevel }}


          </mat-cell>
        </ng-container>

        <!-- SectionDefaultTitle Column -->
        <ng-container matColumnDef="sectionDefaultTitle">
          <mat-header-cell *matHeaderCellDef class="place-content-center" >Intitulé de la fiche</mat-header-cell>
          <mat-cell *matCellDef="let employeeLevel" class="place-content-center">
            {{ employeeLevel.sectionDefaultTitle }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="place-content-center" ></mat-header-cell>
          <mat-cell   *matCellDef="let employeeLevel" class="text-center content-center">
            <button mat-button [matMenuTriggerFor]="actionsMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="updateEmployeeLevel(employeeLevel)" *ngIf="habilitation.isSuperAdmin()">
                <mat-icon color="accent">edit</mat-icon>
                Modifier
              </button>
              <button mat-menu-item (click)="deactivateEmployeeLevel(employeeLevel)"
                *ngIf="habilitation.isSuperAdmin() && employeeLevel.isActive">
                <mat-icon color="warn">close</mat-icon>
                Désactiver
              </button>
              <button mat-menu-item (click)="activateEmployeeLevel(employeeLevel)"
                *ngIf="habilitation.isSuperAdmin() && !employeeLevel.isActive">
                <mat-icon color="accent">check</mat-icon>
                Activer
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let employeeLevel; columns: displayColumns" class="place-content-center"
          [ngStyle]="{'background-color': employeeLevel.isActive ? true : '#f44336' }">
        </mat-row>
      </table>
    </div>
  </div>