<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logoavs.jpg">
            </div>

            <div class="title">CHANGEMENT DE MOT DE PASSE</div>

            <form #f="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nouveau Mot de pase</mat-label>
                    <input minlength="6" required matInput type="password" [(ngModel)]="password" name="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmation mot de passe</mat-label>
                    <input minlength="6" required matInput type="password" [(ngModel)]="passwordConfirmation" name="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Confirmation de mot de passe requise
                    </mat-error>
                    <mat-error *ngIf="passwordsDontMacth">
                        Les deux mots de passe doivent être identiques
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="confirmPasswordReset()"
                        aria-label="RESET MY PASSWORD" [disabled]="f.invalid">
                    CHANGER LE MOT DE PASSE
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Retourner la page de connexion</a>
            </div>

        </div>

    </div>

</div>
