<div class="demo-sidebar">
  <form
    class="mat-card mat-elevation-z4 p-8"
    fxLayout="column"
    fxLayoutAlign="start"
    name="form"
  >
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="mt-16">
        <mat-label>Numéro de semaine</mat-label>
        <mat-select [(ngModel)]="week" name="week">
          <mat-option *ngFor="let week of weeks" [value]="week">
            {{ week }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Année</mat-label>
        <mat-select [(ngModel)]="year" name="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Sélectionner un salarié</mat-label>
        <mat-select [(ngModel)]="employeeId" name="employeeId">
          <mat-option>
            <ngx-mat-select-search
              ngModel
              name="searchINput"
              (ngModelChange)="searchEmployee($event)"
              placeholderLabel="Rechercher"
              noEntriesFoundLabel="pas de resultats"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let employee of filtredEmployees" [value]="employee.id">
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-raised-button
        color="accent"
        fxFlex="100"
        (click)="getActivitiesRoadMapForUserAndWeek()"
      >
        Afficher
        <mat-icon class="s-20">filter_list</mat-icon>
      </button>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="warn" fxFlex="100" (click)="print()">
        Imprimer
        <mat-icon class="s-20">print</mat-icon>
      </button>
    </div>
  </form>
</div>
