<div fusePerfectScrollbar>
  <div class="flex flex-col items-center place-content-center py-2 mx-auto w-full">
    <button *ngIf="habilitation.canCreate()" mat-fab color="warn" title="Ajouter actualité"
      [queryParams]="{ mode: 'new', isNews: true }" [routerLink]="['posts']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="mt-5">
    <mat-table #table [dataSource]="news">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let post">
          <p class="job-title text-truncate">
            {{ post.timestamp | date: "dd/MM/yyyy" }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
        <mat-cell *matCellDef="let post">
          <p class="text-truncate font-weight-600">{{ post.title }}</p>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let post; columns: displayedColumns" class="post" routerLink="posts"
        [queryParams]="{ mode: 'edit', isNews: true , postId: post.uid}" matRipple>
      </mat-row>
    </mat-table>

  </div>
</div>