<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">
        Ajouter Pause
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="updateBreaksActivity(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerOne"
            placeholder="Début"
            [(ngModel)]="activityBreaks[0].startTime"
            name="startTimePickerOne"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerOne"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerOne
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerOne"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[0].endTime"
            name="endTimePickerOne"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerOne"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerOne
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(0)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerTwo"
            placeholder="Début"
            [(ngModel)]="activityBreaks[1].startTime"
            name="startTimePickerTwo"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerTwo"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerTwo
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerTwo"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[1].endTime"
            name="endTimePickerTwo"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerTwo"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerTwo
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(1)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerThree"
            placeholder="Début"
            [(ngModel)]="activityBreaks[2].startTime"
            name="startTimePickerThree"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerThree"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerThree
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerThree"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[2].endTime"
            name="endTimePickerThree"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerThree"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerThree
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(2)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerFour"
            placeholder="Début"
            [(ngModel)]="activityBreaks[3].startTime"
            name="startTimePickerFour"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerFour"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerFour
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerFour"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[3].endTime"
            name="endTimePickerFour"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerFour"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerFour
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(3)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerFive"
            placeholder="Début"
            [(ngModel)]="activityBreaks[4].startTime"
            name="startTimePickerFive"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerFive"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerFive
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerFive"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[4].endTime"
            name="endTimePickerFive"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerFive"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerFive
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(4)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            [matDatetimepicker]="startTimePickerSix"
            placeholder="Début"
            [(ngModel)]="activityBreaks[5].startTime"
            name="startTimePickerSix"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePickerSix"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePickerSix
          ></mat-datetimepicker>
        </mat-form-field>
        <mat-form-field fxFlex="40" class="pr-4">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            [matDatetimepicker]="endTimePickerSix"
            placeholder="Fin"
            [(ngModel)]="activityBreaks[5].endTime"
            name="endTimePickerSix"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePickerSix"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePickerSix
          ></mat-datetimepicker>
        </mat-form-field>
        <div fxFlex="10" class="pr-4">
          <button
            type="button"
            mat-icon-button
            (click)="resetActivityBreak(5)"
            aria-label="Close dialog"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          Valider
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
