<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="traceability-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <traceability-sidebar></traceability-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <button
        mat-icon-button
        class="sidebar-toggle mr-8"
        fxHide.gt-sm
        (click)="commonService.toggleSidebar('traceability-sidebar')"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <h2 class="m-0">TRAÇABILITÉ DESCENDANTE</h2> -->
      <div class="logo-text h2"
            [@animate]="{value: '*',params: { delay: '100ms', x: '-25px' }}">
            Traçabilité Descendante
    </div>
    <div fxLayoutAlign="end" *ngIf="habilitation.canCreate()">
        <button mat-fab
        title="Créer un nouvel audit"
        color="warn"
        class=""
        aria-label=""
        [@animate]="{value:'*', params:{delay:'600ms',scale:'0.2'}}"
        type="button"
        mat-raised-button
        (click)="popupAddTraceability()"
        [disabled]="!traceabilityPlanification"
        >
          <mat-icon>add</mat-icon>
        </button>
    </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-8" ngClass.gt-sm="p-24" >
      <traceability-content></traceability-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
