<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Statistiques
      </mat-panel-title>
      <mat-panel-description>
        Cliquez pour afficher les statistiques
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox
      (change)="onDisplayStatsChanged($event.checked)"
      [checked]="displayByPeriod"
      >Afficher les stats pour le tonnage sélectionné
    </mat-checkbox>
    <mat-table [dataSource]="totalData">
      <ng-container matColumnDef="animalType">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >TYPE</mat-header-cell
        >
        <mat-cell
          fxLayoutAlign="center center"
          *matCellDef="let total"
          class="type-column"
        >
          <span class="job-title">
            {{ total.animalType }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="realWeight">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >POIDS RÉEL</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.realWeight }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="averageWeight">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >POIDS MOYEN</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.averageWeight }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="total">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >TOTAL</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.total }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pr30">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >30%</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.pr30 }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pr50">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >50%</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.pr50 }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pr100">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >100%</mat-header-cell
        >
        <mat-cell fxLayoutAlign="center center" *matCellDef="let total">
          <span class="job-title">
            {{ total.pr100 }}
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="totaldisplayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let total; columns: totaldisplayedColumns"
        class="activity"
      >
      </mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
