<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Statistiques
      </mat-panel-title>
      <mat-panel-description>
        Cliquez pour afficher les statistiques
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row" fxFlex="100">
        <mat-checkbox
          (change)="onDisplayStatsChanged($event.checked)"
          [checked]="displayByPeriod"
          >Afficher les stats pour le tonnage sélectionné
        </mat-checkbox>
      </div>
      <div
        class="widget-group p-12"
        fxLayout="row wrap"
        fxFlex="100"
        *fuseIfOnDom
        [@animateStagger]="{ value: '50' }"
      >
        <fuse-widget
          *ngFor="let total of totalData"
          [@animate]="{ value: '*', params: { y: '100%' } }"
          class="widget"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-xs="50"
          fxFlex.gt-md="25"
        >
          <div class="fuse-widget-front">
            <div
              class="pl-16 pr-8 py-16 h-52 border-bottom"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <div class="h3">{{ total.animalType }}</div>
            </div>
            <div
              class="pt-8 pb-32"
              fxLayout="column"
              fxLayoutAlign="center center"
            >
              <div class="red-fg font-size-22 line-height-42">
                {{ total.totalCarcassWeight }} Kg
              </div>
              <div class="h3 secondary-text font-weight-500">
                {{ total.totalCarcassQuantity }}
              </div>
              <div class="red-fg font-size-22 line-height-42">
                {{ total.totalGibletWeight }} Kg
              </div>
              <div class="h3 secondary-text font-weight-500">
                {{ total.totalGibletQuantity }}
              </div>
            </div>
          </div>
        </fuse-widget>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
