.type-column {
  background-color: #ef4b4b !important;
  color: white !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-weight: 600 !important;
}

.popover-info {
  font-size: 1.0em;
  padding: 16px;
  background-color: white;
  max-width: 460px;
  border-radius: 5px;
  font-weight: 600;
}
