<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="foreign-mission-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <foreign-mission-sidebar></foreign-mission-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div
      class="header accent p-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <button
          mat-icon-button
          class="sidebar-toggle mr-8"
          fxHide.gt-sm
          (click)="commonService.toggleSidebar('foreign-mission-sidebar')"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span
          class="logo-text h2"
          [@animate]="{
            value: '*',
            params: { delay: '100ms', x: '-25px' }
          }"
        >
          Missions à l'étranger
        </span>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        *ngIf="habilitation.canCreate()"
      >
        <button
          mat-fab
          color="warn"
          [@animate]="{
            value: '*',
            params: { delay: '600ms', scale: '0.2' }
          }"
          type="button"
          class="ml-8"
          (click)="addForeignMission()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-md-24">
      <foreign-mission-content></foreign-mission-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
