<div id="mail" class="page-layout carded left-sidebar inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar sidebar-background"
    name="technical-sheet-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <technical-sheet-sidebar></technical-sheet-sidebar>
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center ml-20 mr-20">
    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
          <button
            mat-icon-button
            class="sidebar-toggle mr-12"
            fxHide.gt-sm
            (click)="commonService.toggleSidebar('technical-sheet-sidebar')"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span
            class="logo-text h2"
            [@animate]="{
              value: '*',
              params: { delay: '100ms', x: '-25px' }
            }"
          >
            FICHES TECHNIQUES
          </span>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        *ngIf="habilitation.canCreate()"
      >
        <button
          mat-fab
          color="warn"
          [@animate]="{
            value: '*',
            params: { delay: '600ms', scale: '0.2' }
          }"
          type="button"
          class="ml-8"
          (click)="addTechnicalSheet()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div
      class="content-card mt-24"
      [ngClass]="{ 'current-mail-selected': currentTechnicalSheet }"
    >
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8" fxHide.gt-sm>
        <div *ngIf="currentTechnicalSheet" fxHide.gt-sm>
          <button mat-icon-button (click)="currentTechnicalSheet = null">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
          </button>
        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->
      <!-- CONTENT -->
      <div class="content" fxLayout="row">
        <technical-sheet-list
          fusePerfectScrollbar
          fxFlex="1 1 0%"
        ></technical-sheet-list>
        <technical-sheet-details
          fusePerfectScrollbar
          fxFlex="3 1 0%"
        ></technical-sheet-details>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
