<div *ngIf="missionOrder">
  <div id="non-printable" fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-icon-button
      color="accent"
      class="mat-elevation-z1 ml-8"
      (click)="print()"
    >
      <mat-icon>print</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <h2 fxLayout="row">OBJET DE LA MISSION</h2>
    <h3 fxLayout="row">{{ missionOrder.title }}</h3>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Début de la mission</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <span class="details">{{
          missionOrder.missionStart | date: "dd/MM/yyyy"
        }}</span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Fin de la mission</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <span class="details">{{
          missionOrder.missionEnd | date: "dd/MM/yyyy"
        }}</span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Clients</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <div class="details">
          <table width="100%">
            <thead>
              <tr>
                <th>Client</th>
                <th>Sites</th>
              </tr>
            </thead>
            <tbody *ngFor="let client of missionOrder.clients">
              <tr>
                <td>{{ client.name }}</td>
                <td>
                  <p *ngFor="let site of client.sites">{{ site.name }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Intervenats</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <div class="details">
          <table width="100%">
            <thead>
              <tr>
                <th>Client</th>
                <th>Jours facturés</th>
                <th>Dates</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of missionOrder.missionOrderEmployees">
              <tr>
                <td>{{ item.employee.fullName }}</td>
                <td>{{ item.daysWork }}</td>
                <td>
                  du <span>{{ item.start | date: "dd/MM/yyyy" }}</span> au
                  <span>{{ item.end | date: "dd/MM/yyyy" }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Frais</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <span class="details">
          <p>{{ "Remise  :" + missionOrder.rebate }}</p>
          <p>{{ "Total des frais  : " + getTotalFrais() }}</p>
          <p>{{ "Total des frais perso  : " + getTotalFraisPerso() }}</p>
          <p>{{ "Intervenants  : " + getTotalIntervenants() }}</p>
          <p>{{ "TOTAL (après remise) : " + getTotal() }}</p>
        </span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxFill class="mb-8">
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <span class="order-title">Rapport</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
        <span class="details" [innerHTML]="missionOrder.report"> </span>
      </div>
    </div>
  </div>
  <div
    id="non-printable"
    fxLayout="column"
    fxLayoutAlign="start center"
    *ngIf="habilitation.canEdit()"
  >
    <h2 fxLayout="row">Traitement</h2>
    <div fxLayout="row" fxLayoutAlign="center center" class="status-width">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="currentInvoiceState" name="status">
          <mat-option
            *ngFor="let status of missionOrderstatus"
            [value]="status.value"
          >
            {{ status.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        color="accent"
        class="mat-elevation-z1 ml-8"
        (click)="changeState(missionOrder)"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</div>
