<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{
          data.mode == "edit" ? "Modifier une mission" : "Ajouter une mission"
        }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline">
        <mat-label>Salariés</mat-label>
        <mat-select
          #employee="ngModel"
          name="employee"
          required
          [(ngModel)]="foreignMission.employee.id"
        >
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="employee.invalid && (employee.dirty || employee.touched)"
        >
          Veuillez choisir un salarié !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sites</mat-label>
        <mat-select
          #site="ngModel"
          name="site"
          required
          [(ngModel)]="foreignMission.site.id"
        >
          <mat-option *ngFor="let site of sites" [value]="site.id">
            {{ site.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="site.invalid && (site.dirty || site.touched)">
          Veuillez choisir un site !
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Début de mission</mat-label>
        <input
          #departingDate="ngModel"
          matInput
          [matDatetimepicker]="departingDatePicker"
          placeholder="Début de la mission"
          [(ngModel)]="foreignMission.departingDate"
          name="departingDatePicker"
          required
        />
        <mat-datetimepicker-toggle
          matSuffix
          [for]="departingDatePicker"
        ></mat-datetimepicker-toggle>
        <mat-datetimepicker
          type="datetime"
          timeInterval="5"
          #departingDatePicker
        ></mat-datetimepicker>
        <mat-error
          *ngIf="
            departingDate.invalid &&
            (departingDate.dirty || departingDate.touched)
          "
        >
          Veuillez renseigner la date début de la mission !
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fin de la mission</mat-label>
        <input
          #returningDate="ngModel"
          matInput
          [matDatetimepicker]="returningDatePicker"
          placeholder="Début de la mission"
          [(ngModel)]="foreignMission.returningDate"
          name="returningDatePicker"
          required
          [min]="foreignMission.departingDate"
        />
        <mat-datetimepicker-toggle
          matSuffix
          [for]="returningDatePicker"
        ></mat-datetimepicker-toggle>
        <mat-datetimepicker
          type="datetime"
          openOnFocus="true"
          timeInterval="5"
          #returningDatePicker
        ></mat-datetimepicker>
        <mat-error
          *ngIf="
            returningDate.invalid &&
            (returningDate.dirty || returningDate.touched)
          "
        >
          Veuillez renseigner la date de fin de la mission !
        </mat-error>
      </mat-form-field>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
