<div id="changelog" class="page-layout simple fullwidth docs">

  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="h2 mt-16">Historique des changements</div>
      <div
      *ngIf="currentUser && currentUser.customClaims.isRoot === true && hasWaitingVersion === false"
      fxLayout="row"
      fxLayoutAlign="end center"
      >
      <button
        mat-fab
        color="warn"
        [@animate]="{
          value: '*',
          params: { delay: '600ms', scale: '0.2' }
        }"
        type="button"
        class="ml-8"
        matTooltip="Ajouter une nouvelle version"
        (click)="popupNewVersion()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
      <div class="changelog" *ngIf="appVersions && appVersions.length > 0">
          <div class="entry" *ngFor="let version of appVersions">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="title" fxLayoutAlign="start">
                <span class="version mr-12">{{version.vName}}</span>
                <span class="date">{{version.date | date:'dd.MM.yyyy'}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!version.published && currentUser.customClaims.isRoot" >
                <button mat-button [matMenuTriggerFor]="actionsMenu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                  <button
                    mat-menu-item
                    (click)="updateVersion(version)"
                  >
                    <mat-icon color="primary">edit</mat-icon>
                    Modifier
                  </button>
                  <button
                    mat-menu-item
                    (click)="publishVersion(version)"
                  >
                    <mat-icon color="accent">check</mat-icon>
                    Publier
                  </button>
                </mat-menu>
            </div>
            </div>

              <div class="groups">
                  <div class="new" *ngIf="version.details.new && version.details.new.length > 0">
                      <span class="title">Nouveautés</span>
                      <ul>
                          <li *ngFor="let n of version.details.new" >{{n}}</li>
                      </ul>
                  </div>
                  <div class="fixed" *ngIf="version.details.improved && version.details.improved.length > 0">
                      <span class="title">Évolutions</span>
                      <ul>
                        <li *ngFor="let n of version.details.improved" >{{n}}</li>
                      </ul>
                  </div>
                  <div class="breaking-changes" *ngIf="version.details.fixed && version.details.fixed.length > 0">
                    <span class="title">Correctifs</span>
                    <ul>
                      <li *ngFor="let n of version.details.fixed" >{{n}}</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <!-- / CONTENT -->

</div>
