<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logoavs.jpg">
            </div>

            <div class="title">RÉINITIALISATION MOT PASSE</div>

            <form #f="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input required type="email" [(ngModel)]="emailParameter" name="email"  matInput>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error>
                        Addresse mail correcte obligatoire
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="sendPasswordResetEmail()"
                        aria-label="SEND RESET LINK" [disabled]="f.invalid">
                    Recevoir le lien par mail
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Retourner à la page de connexion</a>
            </div>

        </div>

    </div>

</div>
