<mat-table [dataSource]="sites">
  <ng-container matColumnDef="name">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >NOM</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let site"
      [ngClass]="{
        'site-active': site.active,
        'site-inactive': !site.active
      }"
    >
      <span class="job-title">
        {{ site.name }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="city">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef fxHide.lt-md
      >VILLE</mat-header-cell
    >
    <mat-cell fxLayoutAlign="center center" *matCellDef="let site" fxHide.lt-md>
      <span class="job-title">
        {{ site.city }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="zipCode">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >CP</mat-header-cell
    >
    <mat-cell fxLayoutAlign="center center" *matCellDef="let site">
      <span class="job-title">
        {{ site.zipCode }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >ACTIONS</mat-header-cell
    >
    <mat-cell fxLayoutAlign="center center" *matCellDef="let site">
      <span class="job-title">
        <button mat-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="getSiteDetails(site)">
            <mat-icon color="primary">remove_red_eye</mat-icon>
            Details
          </button>
          <button mat-menu-item (click)="updateSite(site)" *ngIf="habilitation.canEdit()">
            <mat-icon color="accent">edit</mat-icon>
            Modifier
          </button>
          <button mat-menu-item (click)="setRestaurantVoucher(site)" *ngIf="habilitation.isAdmin()">
            <span
              [ngClass]="{
                'site-green': site.isRestaurantVoucher,
                'site-red': !site.isRestaurantVoucher
              }"
              >TR</span
            >
          </button>
          <button mat-menu-item (click)="setActivityMealBonus(site)" *ngIf="habilitation.isAdmin()">
            <span
              [ngClass]="{
                'site-green': site.isActivityMealBag,
                'site-red': !site.isActivityMealBag
              }"
              >PR</span
            >
          </button>
          <button mat-menu-item (click)="setIncludedInTraceability(site)" *ngIf="habilitation.isAdmin()">
            <span
              [ngClass]="{
                'site-green': site.isIncludedInTraceability,
                'site-red': !site.isIncludedInTraceability
              }"
              >TRACA</span
            >
          </button>
          <button mat-menu-item (click)="enableOrDisableSite(site)" *ngIf="habilitation.isAdmin()">
            <mat-icon color="warn">{{
              site.active ? "close" : "check"
            }}</mat-icon>
            {{ site.active ? "Résilier" : "Réactiver" }}
          </button>
        </mat-menu>
      </span>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let site; columns: displayedColumns" class="activity">
  </mat-row>
</mat-table>
<mat-paginator
  *ngIf="sites.length > 0"
  [pageIndex]="pageIndex"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 25, 100]"
  (page)="pageChanged($event)"
>
</mat-paginator>
<!-- </div> -->
