<div
  *ngIf="tickets.length === 0"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <span class="no-messages-text hint-text">Il n'y a pas de ticket!</span>
</div>

<div class="mail-list" [@animateStagger]="{ value: '50' }">
  <ticket-list-item
    matRipple
    *ngFor="let ticket of tickets"
    [ticket]="ticket"
    (click)="getTicketDetails(ticket.id)"
    [ngClass]="{ 'current-mail': ticket?.id == currentTicket?.id }"
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </ticket-list-item>
  <div
  *ngIf="!isScrolling"
  class="mt-12"
  fxHide.gt-xs
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <button
    *ngIf="!completed"
    mat-raised-button
    color="warn"
    (click)="getMore.emit()"
  >
    <mat-icon>expand_more</mat-icon>
    Afficher plus
    <mat-icon>expand_more</mat-icon>
  </button>
</div>
<div class="my-12" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner [diameter]="30" *ngIf="isScrolling"></mat-spinner>
</div>
</div>
