<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="mr-16"
        [routerLink]="'/audit-poles'"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div>
        <h2>Gestion des valeurs possibles</h2>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div id="course-content" class="content">
      <ng-container>
        <div class="course-step p-12" fusePerfectScrollbar>
          <div id="course-step-content" class="course-step-content mb-20">
              <div fxLayout="column" fxFlex>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    fxFlex
                  >
                    <mat-form-field
                      appearance="outline"
                      fxFlex="100"
                      class="pr-12"
                    >
                      <mat-label>Nom</mat-label>
                      <input
                        name="name"
                        matInput
                        placeholder="Nom"
                        [(ngModel)]="newPossibleValueName"
                        (keyup.enter)="addPossibleValue()"
                      />
                    </mat-form-field>
                    <button
                      [disabled]="!newPossibleValueName || newPossibleValueName.trim().length < 3"
                      matTooltip="Ajouter une nouvelle plage de valeurs"
                      mat-fab
                      color="accent"
                      (click)="addPossibleValue()"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
          </div>
          <div id="course-step-content" class="course-step-content mb-20">
              <div class="section">
                <div fxLayout="column">
                  <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                    class="mt-8"
                  >
                    <div fxLayoutAlign="space-between center" fxFlex>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Valeurs possible</mat-label>
                        <mat-select
                          [(ngModel)]="selectedPossibleValue"
                          name="possibleValue"
                        >
                          <mat-option
                            *ngFor="let possibleValue of possibleValues"
                            [value]="possibleValue"
                          >
                            {{ possibleValue.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <button
                        *ngIf="false"
                        mat-icon-button
                        color="warn"
                        type="button"
                        (click)="deletePossibleValue()"
                      >
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="100">
                      <mat-chip-list #chipList required>
                        <mat-chip
                          *ngFor="
                            let value of selectedPossibleValue?.values;
                            let indx = index
                          "
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="removeValue(indx)"
                        >
                          {{ value }}
                          <mat-icon matChipRemove *ngIf="removable"
                            >cancel</mat-icon
                          >
                        </mat-chip>
                        <input
                          placeholder="Ajouter une valeur"
                          #valueInput
                          [formControl]="valueCtrl"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          (matChipInputTokenEnd)="addValue($event)"
                        />
                      </mat-chip-list>
                    </mat-form-field>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
