<div class="page-layout simple">
  <!-- HEADER -->
  <div
    class="header primary-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <button
        matTooltip="Retour à mes tickets"
        mat-icon-button
        class="back mr-16"
        [routerLink]="'/employee-tickets'"
      >
        <mat-icon class="fuse-white-500-fg">arrow_back</mat-icon>
      </button>
      <h1
        class="fuse-white-500-fg"
        [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
      >
        {{ ticket.title }}
      </h1>
    </div>
  </div>
  <!-- / HEADER -->
  <div class="content p-sm-24">
    <div>
      <fuse-widget
        [@animate]="{ value: '*', params: { y: '100%' } }"
        class="widget"
        fxLayout="row"
        fxFlex="100"
      >
        <div class="fuse-widget-front">
          <div class="timeline-item">
            <header fxLayout="row" fxLayoutAlign="space-between start">
              <div class="user" fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/images/avatars/profile.jpg" class="avatar" />
                <div fxLayout="column">
                  <div class="title">
                    <span class="username">{{
                      ticket.ownerLastName + " " + ticket.ownerFirstName
                    }}</span>
                  </div>
                  <div class="time">
                    {{ ticket.date }} {{ ticket.time }}
                  </div>
                </div>
              </div>
            </header>

            <div class="content">
              <div class="message" [innerHTML]="ticket.details"></div>
              <div
              *ngIf="ticket.hasAttachments"
              fxLayout="row"
              fxLayoutAlign="start"
            >
              <ul *ngFor="let attachment of ticket.attachments">
                <li>
                  <a
                    style="cursor: pointer;"
                    (click)="downloadAttachment(attachment)"
                  >
                    {{ attachment.fileName }}
                  </a>
                </li>
              </ul>
            </div>
            </div>

            <footer class="p-24" fxLayout="column" fxLayoutAlign="start start">
              <div fxLayout="row" fxLayoutAlign="start center">
                {{ ticket.comments ? ticket.comments.length : 0 }}
                commentaires
                <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
              </div>
              <div
                class=""
                *ngIf="ticket.comments && ticket.comments.length > 0"
              >
                <div
                  class="comment"
                  fxLayout="row"
                  fxFlexFill
                  *ngFor="let comment of ticket.comments"
                >
                  <img src="assets/images/avatars/profile.jpg" class="avatar" />
                  <div fxLayout="column" fxFlex>
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span class="username">
                        {{ comment.owner | uppercase }}
                      </span>
                      <span class="time">
                        {{ comment.date }} {{ comment.time }}
                      </span>
                    </div>
                    <div class="message">
                      <div class="content" [innerHTML]="comment.content"></div>
                    </div>
                    <div
                    *ngIf="comment.hasAttachments"
                    fxLayout="row"
                    fxLayoutAlign="start"
                  >
                    <ul *ngFor="let attachment of comment.attachments">
                      <li>
                        <a
                          style="cursor: pointer;"
                          (click)="downloadAttachment(attachment)"
                        >
                          {{ attachment.fileName }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  </div>
                </div>
              </div>
              <div class="reply" fxLayout="row" fxFlexFill *ngIf="!ticket.isResolved">
                <img src="assets/images/avatars/profile.jpg" class="avatar" />
                <form fxFlex>
                  <textarea
                    [(ngModel)]="newComment"
                    name="commentMsg"
                    placeholder="commentaire ..."
                  ></textarea>
                  <div fxLayout="row" fxLayoutAlign ="space-between center">
                    <button
                      (click)="addComment()"
                      mat-raised-button
                      color="accent"
                      class="post-comment-button"
                      aria-label="Post Comment"
                    >
                      Envoyer
                    </button>
                    <div fxLayout="row" fxLayoutAlign="end center">
                      <div
                        class="file-uploader"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                      >
                        <input
                          hidden
                          #file
                          type="file"
                          name="file"
                          id="file"
                          multiple="multiple"
                          class="inputfile"
                          (change)="preview(file.files)"
                        />
                        <button mat-fab color="warn" type="button" (click)="file.click()">
                          <mat-icon>attachment</mat-icon>
                        </button>
                      </div>

                    </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end center">
                    <div
                      *ngFor="let file of filesToUpload"
                      fxLayout="row wrap"
                      fxLayoutAlign="start center"
                    >
                      <span>{{ file.name }}</span>
                      <button mat-icon-button (click)="removeFile(file)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div
                *ngIf="ticket.isResolved"
                fxFlex="100"
                fxLayout="row"
                fxLayoutAlign="center"
                class="w-100-p"
              >
                <button mat-raised-button>
                  Ce ticket a été clôturé
                </button>
              </div>
            </footer>
          </div>
        </div>
      </fuse-widget>
    </div>
  </div>
</div>
