<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="activity-absence-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <traceability-sheet-sidebar></traceability-sheet-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="sidebar-toggle mr-8"
        fxHide.gt-sm
        (click)="commonService.toggleSidebar('activity-absence-sidebar')"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <h2 class="m-0">Feuille de traçabilité hebdomadaire</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-8" ngClass.gt-sm="p-24" >
      <traceability-sheet-content></traceability-sheet-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
