.site-style {
  background-color: #d94354;
  color: white !important;
  font-weight: 600 !important;
  text-align: center;
}

.label-style {
  background-color: #91dc5b;
  text-transform: uppercase;
  color: white !important;
  font-weight: 600 !important;
  text-align: center;
}

.week-style {
  background-color: #f1f1f1;
  text-align: center;
  color: gray !important;
  border-right: 1px solid white;
}
