<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{
          data.mode == "edit" ? "Modifier une activité" : "Ajouter une activité"
        }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline">
        <mat-label>Séléection salarié</mat-label>
        <mat-select
          #employee="ngModel"
          name="employee"
          required
          [(ngModel)]="activity.employee.id"
          [disabled]="data.mode == 'edit'"
        >
        <mat-option>
          <ngx-mat-select-search
            ngModel
            name="searchINput"
            (ngModelChange)="searchEmployee($event)"
            placeholderLabel="Rechercher"
            noEntriesFoundLabel="pas de resultats"
          ></ngx-mat-select-search>
        </mat-option>
          <mat-option *ngFor="let employee of filtredEmployees" [value]="employee.id">
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="employee.invalid && (employee.dirty || employee.touched)"
        >
          Veuillez choisir un salarié !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Séléection site</mat-label>
        <mat-select
          #site="ngModel"
          name="site"
          required
          [(ngModel)]="activity.site.id"
        >
        <mat-option>
          <ngx-mat-select-search
            ngModel
            name="searchINput"
            (ngModelChange)="searchSite($event)"
            placeholderLabel="Rechercher"
            noEntriesFoundLabel="pas de resultats"
          ></ngx-mat-select-search>
        </mat-option>
          <mat-option *ngFor="let site of filtredSites" [value]="site.id">
            {{ site.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="site.invalid && (site.dirty || site.touched)">
          Veuillez choisir un site !
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Date</mat-label>
        <input
          #day="ngModel"
          matInput
          [matDatepicker]="dayPicker"
          placeholder="Date"
          [(ngModel)]="activity.startDate"
          name="day"
          required
          [disabled]="data.mode == 'edit'"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dayPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dayPicker></mat-datepicker>
        <mat-error *ngIf="day.invalid && (day.dirty || day.touched)">
          Veuillez renseigner la date de l'activité'!
        </mat-error>
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="space-between center"
        fxFlex="1 0 auto"
      >
        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" class="pr-sm-4">
          <mat-label>Heure de début</mat-label>
          <input
            #startTime="ngModel"
            matInput
            [matDatetimepicker]="startTimePicker"
            placeholder="Début"
            [(ngModel)]="activity.startTime"
            name="startTimePicker"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="startTimePicker"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #startTimePicker
          ></mat-datetimepicker>
          <mat-error
            *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)"
          >
            Veuillez renseigner l'heure de début!
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" class="pr-sm-4">
          <mat-label>Heure de fin</mat-label>
          <input
            #endTime="ngModel"
            matInput
            [matDatetimepicker]="endTimePicker"
            placeholder="Fin"
            [(ngModel)]="activity.endTime"
            name="endTimePicker"
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="endTimePicker"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            type="time"
            timeInterval="5"
            #endTimePicker
          ></mat-datetimepicker>
          <mat-error
            *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)"
          >
            Veuillez renseigner l'heure de fin!
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline">
          <mat-label>Remarque</mat-label>
          <textarea matInput name="title" [(ngModel)]="activity.title" rows="4">
          </textarea>
        </mat-form-field>
      </div>

      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
