<div class="flex flex-col max-w-140 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary">
    <div class="text-lg font-medium">{{
      data.mode == "edit" ? "Modifier une tâche" : "Ajouter une tâche"
      }}</div>
    <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <div class="p-6">
    {{ boardTask.title }}
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" name="composeForm" class="compose-form">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Titre </mat-label>
        <input #broadTaskTitle="ngModel" matInput placeholder="Titre" [(ngModel)]="boardTask.title"
          name="broadTaskTitle" required />

        <mat-error *ngIf="
        broadTaskTitle.invalid &&
          (broadTaskTitle.dirty || broadTaskTitle.touched)
        ">
          Veuillez renseigner le titre de la tache !
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description </mat-label>
        <input #broadTaskDetail="ngModel" matInput placeholder="Description" [(ngModel)]="boardTask.detail"
          name="broadTaskDetail" required />

        <mat-error *ngIf="
        broadTaskDetail.invalid &&
          (broadTaskDetail.dirty || broadTaskDetail.touched)
        ">
          Veuillez renseigner la description la tache !
        </mat-error>
      </mat-form-field>


      <!-- Due date -->
      <div class="w-auto">
        <div class="font-medium">Date limite</div>
        <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
          [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !boardTask.deadline,
                                'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': boardTask.deadline && !isOverdue(boardTask.deadline),
                                'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': boardTask.deadline && isOverdue(boardTask.deadline)}" (click)="dueDatePicker.open()">

          <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
          <span class="ml-2 text-md font-medium">
            <ng-container *ngIf="boardTask.deadline">{{boardTask.deadline | date:'longDate' }}</ng-container>
            <ng-container *ngIf="!boardTask.deadline">Not set</ng-container>
          </span>
          <mat-form-field
            class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
            <input matInput [matDatepicker]="dueDatePicker" #broadTaskDealine="ngModel" [(ngModel)]="boardTask.deadline"
              name="broadTaskDealine" required>
            <mat-datepicker #dueDatePicker>
              <!-- (click)="boardTask.get('dueDate').setValue(null)" -->
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>
                  Clear
                </button>
                <button mat-flat-button [color]="'primary'" matDatepickerApply>
                  Select
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- Labels -->
      <div class="w-full mt-2">
        <div class="font-medium">Tags</div>
        <div class="mt-1 rounded-md border border-gray-300 shadow-sm overflow-hidden">
          <!-- Header -->
          <div class="flex items-center my-2 mx-3">
            <div class="flex items-center flex-auto min-w-0">
              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
              <input class="min-w-0 ml-2 py-1 border-0" type="text" placeholder="Enter label name"
                (input)="filterLabels($event)" (keydown)="filterLabelsInputKeyDown($event)" [maxLength]="50">
            </div>
          </div>
          <!-- Available labels -->
          <div class="max-h-40 leading-none overflow-y-auto border-t">
            <!-- Labels -->
            <ng-container *ngFor="let label of filteredLabels;">
              <mat-checkbox class="flex items-center h-10 min-h-10 px-4" [color]="'primary'" [checked]="hasLabel(label)"
                (change)="toggleProductTag(label, $event)">
                {{label.title}}
              </mat-checkbox>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="my-6 flex flex-col sm:flex-row sm:items-end items-end justify-between">
        <div class="ml-auto">

          <button mat-raised-button color="primary" type="submit">
            {{ data.mode == "edit" ? "Modifier" : "Créer" }}
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>