<div class="flex flex-col max-w-240 md:min-w-160 -m-6 -mb-0">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <span class="hidden sm:block text-lg font-medium">
      Ajouter tonnage details par poids totale et quantité
    </span>
    <span class="block sm:hidden text-lg font-medium">
      Poids totale / Quantité
    </span>
    <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
 
    <form #f="ngForm" (ngSubmit)="addTonnageDetailByTotalWeight(f)" name="composeForm"
      class="flex flex-col    px-6 mt-4  max-h-screen ">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select required name="type" [(ngModel)]="newTonnageDetails.itemType">
          <mat-option *ngFor="let tonnageItemType of tonnageItemTypes" [value]="tonnageItemType">
            {{ tonnageItemType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Poids totale</mat-label>
        <input matInput name="title" type="number" [(ngModel)]="newTonnageDetails.weight" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantité</mat-label>
        <input matInput name="quantity" type="number" [(ngModel)]="newTonnageDetails.quantity" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pourcentage</mat-label>
        <mat-select name="percentage" [(ngModel)]="newTonnageDetails.percentage" required>
          <mat-option *ngFor="let percentage of possiblePercentage" [value]="percentage">
            {{ percentage }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Actions -->
      <div class="flex flex-col sm:flex-row sm:items-end items-end justify-between">
        <div class="ml-auto">
          <button mat-raised-button color="accent" type="submit" [disabled]="!isValidatedValues()">
            Créer
            <mat-icon class="ml-1">check</mat-icon>
          </button>
        </div>
      </div>
    </form>
 
</div>
