h5 {
  font-weight: 100;
  margin: 0px;
}

td {
  border-bottom: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 4px !important;
}

th {
  border-bottom: 2px solid black !important;
  text-align: left !important;
  padding: 4px !important;
}

.week-color-div {
  margin: 0px 0px 20px 10px;
}

.logo-info-div {
  margin: 0px 30px 30px;
}
