<div *ngIf="audit != null" id="invoice" class="modern page-layout blank" fxLayout="row">
  <div class="invoice-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button fxLayoutAlign="start center" mat-icon-button class="back mr-16"
        [routerLink]="'/audit-detail/'+ audit.poleId" [queryParams]="{isDraft:false}">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <!-- INVOICE -->
    <div class="card">
      <div class="content">
        <div fxLayout="column">
          <div class="font-size-18">
            <div>Audit réalisé en date du : {{audit.date | date:'dd/MM/yyyy'}}</div>
            <div>Au sein de l'établissement : {{ audit.site.name}}</div>
            <div>Nom et prénom de l'auditeur : {{audit.responsible.displayName}}</div>
          </div>

          <ul style="list-style: none; padding: 0px;">
            <li *ngFor="let menu of audit.menus">
              <div fxLayout="column">
                <h1 style="background-color: gray; color:white" class="p-8">
                  {{ menu.title }}
                </h1>
                <ul style="list-style: none; padding: 0px;">
                  <li *ngFor="let section of menu.sections">
                    <h2 style="text-decoration: underline; margin:0;">
                      {{ section.title  }}
                    </h2>
                    <ul style="list-style: none; padding: 0px;">
                      <li *ngFor="let item of section.items">
                        <div fxLayout="column">
                          <p style="background-color: gainsboro;" class="p-8">
                            {{ item.title }}
                            <span fxLayoutAlign="end center" class="values my-12">
                              <button class="mx-8" color="{{v===item.effectiveValue ? 'accent' :''}}" mat-stroked-button *ngFor="let v of item.possibleValues.values">{{v}}</button>
                            </span>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div fxLayout="column">
                <h1>Rapport</h1>
                <p class="p-8">
                  {{ audit.report }}
                </p>
                <mat-divider *ngIf="audit.attachments && audit.attachments.length > 0" class="mt-0"></mat-divider>
                <div class="attachments p-4" fxLayout="row wrap" *ngIf="true || audit.attachments && audit.attachments.length > 0">
                    <div class="media" *ngFor="let attachment of audit.attachments">
                        <img class="preview" [src]="attachment.url" />
                        <div class="title" [innerHTML]="attachment.fileName"></div>
                    </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- / INVOICE -->
  </div>
</div>
