ul {
  list-style-type: none !important;
}

.enable-icon {
  cursor: pointer;
  border-radius: 5%;
}

activity-temporary-workers .header mat-form-field .mat-form-field-wrapper {
  margin: 0px !important;
  padding-bottom: 10px !important ;
}
