<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="activity-absence-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <activity-statistics-sidebar></activity-statistics-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="sidebar-toggle mr-8"
        fxHide.gt-sm
        (click)="commonService.toggleSidebar('activity-absence-sidebar')"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span
        class="logo-text h2"
        [@animate]="{
          value: '*',
          params: { delay: '100ms', x: '-25px' }
        }"
      >
        Paies
      </span>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-12">
      <activity-statistics-content></activity-statistics-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
