<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="academy-course-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>
            <div class="steps" *ngIf="currentTemplate && currentTemplate.menus">
              <div fxLayout="column" *ngFor="let menu of currentTemplate.menus; let i = index; let last = last; let first = first">
                <div class="step"
                (click)="setCurrentMenu(menu, i)"
                [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                  <div class="index">
                      <span>{{ i + 1 }}</span>
                  </div>
                  <form fxFlex="80%" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="85">
                      <input name="{{i}}" matInput type="text" [(ngModel)]="menu.title" (change)="updateTemplateDetails()" />
                    </mat-form-field>
                    <button fxFlex="20" *ngIf="!menu.sections || menu.sections.length == 0" mat-icon-button color="warn" (click)="removeMenu(i)" >
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </form>
               </div>
               <div class="px-16 py-4" *ngIf="menu.title.trim() === ''" fxLayout="row" fxLayoutAlign="center space-between">
                  <mat-icon class="yellow-700-fg" >warning</mat-icon> <span class="pl-8" >Veuillez renseigner le titre de ce menu.</span>
              </div>
              <div class="px-16 py-4" *ngIf="!menu.sections || menu.sections?.length == 0" fxLayout="row" fxLayoutAlign="center space-between">
                <mat-icon class="yellow-700-fg" >warning</mat-icon> <span class="pl-8" >Veuillez ajouter au moins une section dans ce menu.</span>
              </div>
              <div class="px-16 py-4" *ngIf="checkSectionsTitle(menu.sections)" fxLayout="row" fxLayoutAlign="center space-between">
                <mat-icon class="yellow-700-fg" >warning</mat-icon> <span class="pl-8" >Veuillez vérifier que le titre de chaque section est renseingné au sein de ce menu </span>
              </div>
              <div class="px-16 py-4" *ngIf="checkSectionsItems(menu.sections)" fxLayout="row" fxLayoutAlign="center space-between">
                  <mat-icon class="yellow-700-fg" >warning</mat-icon> <span class="pl-8" >Veuillez vérifier que chaque section contienne au moins un point à auditer</span>
              </div>
              <div class="px-16 py-4" *ngIf="checkItemsTitle(menu.sections)" fxLayout="row" fxLayoutAlign="center space-between">
                <mat-icon class="yellow-700-fg" >warning</mat-icon> <span class="pl-8" >Veuillez renseigner le titre pour tous les points </span>
              </div>
             </div>

          </div>
            <div class="p-16" *ngIf="!currentTemplate?.menus || currentTemplate.menus.length === 0">
              Veuillez commencer à créer la structure de ce modèle d'audit. <br /> Il faut créer les menus qui le composent puis les sections et les points à auditer.
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button matTooltip="Ajouter un menu" mat-flat-button color="warn" >
                <mat-icon (click)="pushMenu()">add</mat-icon>
              </button>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="sidebar-toggle mr-16" fxHide.gt-md
                  (click)="toggleSidebar('academy-course-left-sidebar-1')">
              <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button class="mr-16" [routerLink]="'/audits/administration'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2 *ngIf="templateProperties" >{{templateProperties.name}}</h2>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content" *ngIf="currentTemplate">
            <ng-container *ngFor="let step of currentTemplate.menus; let i = index;">
              <div class="course-step" fusePerfectScrollbar
                     *ngIf="currentStep === i"
                     [@slideIn]="animationDirection">
                <div id="course-step-content" *ngIf="currentMenu" class="course-step-content">
                  <div class="section" *ngFor="let section of currentMenu.sections; let j = index">
                    <div fxLayout="row" fxLayoutAlign="end">
                        <button *ngIf="j===0" matTooltip="Ajouter une nouvelle section" mat-fab color="warn" (click)="pushSection()"><mat-icon>add</mat-icon> </button>
                    </div>
                    <div class="title" fxLayout="column">
                      <div fxLayout="row" fxLayoutAlign="space-between start">
                        <mat-form-field class="w-100-p">
                          <input matInput placeholder="Intitulé de la section" [(ngModel)]="section.title" (change)="updateTemplateDetails()" />
                      </mat-form-field>
                      <button *ngIf="!section.items || section.items.length == 0" mat-icon-button color="warn" (click)="removeSection(i,j)">
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                      </div>
                    </div>
                    <div>
                        <div  class="audit-item p-16 mt-24"  *ngFor="let item of section.items; let itemIndex = index" [class.mat-elevation-z2]="true">
                          <div fxLayout="row" fxLayoutAling="space-between start">
                            <mat-form-field appearance="outline" class="w-100-p">
                              <mat-label>Point à auditer</mat-label>
                              <textarea matInput name="title" [(ngModel)]="item.title" (change)="updateTemplateDetails()" rows="2">
                              </textarea>
                          </mat-form-field>
                          <button mat-icon-button color="warn" (click)="removeItem(i,j,itemIndex)" >
                            <mat-icon>remove_circle</mat-icon>
                          </button>
                          </div>
                          <div fxLayout="row" fxLayoutAlign="end end" >
                            <form>
                              <mat-form-field *ngIf="item && item.possibleValues" >
                                <mat-label>Valeurs</mat-label>
                              <mat-select matTooltip="{{item.possibleValues.values.toString().split(',').join(' | ')}}" (selectionChange)="possibleValueChanged(item.possibleValues)" name="possible_values" [(ngModel)]="item.possibleValues">
                                <mat-option *ngFor="let range of possibleValues" [value]="range">{{range.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </form>
                          </div>
                      </div>
                      <div *ngIf="section" class="mt-16" fxLayout="row" fxLayoutAlign="center center">
                          <button matTooltip="Ajouter un point à auditer" mat-button color="warn" (click)="pushItem(section)"><mat-icon>add</mat-icon> </button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!currentMenu.sections || currentMenu.sections.length === 0" fxLayout="row"fxLayoutAlign="end">
                      <button mat-fab color="warn" matTooltip="Ajouter une nouvelle section"  (click)="pushSection()"><mat-icon>add</mat-icon> </button>
                  </div>
                  <div *ngIf="!currentMenu.sections || currentMenu.sections.length === 0">
                      Veuillez ajouter les intitulés et les points à auditer
                  </div>
                </div>
              </div>
            </ng-container>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->


    </div>
