<div fxLayout="column" fxLayoutAlign="space-between">
  <div
    fxLayout="column"
    fxLayoutAlign="start start"
    [matTooltip]="tonnage.client?.name"
  >
    <div>
      {{ tonnage.site.name }}
    </div>
    <div>
      {{ tonnage.date | date: "dd/MM/yyyy" }}
    </div>
  </div>
  <div></div>
  <div fxLayout="row" fxLayoutAlign="end">
    <button
      mat-icon-button
      [matMenuTriggerFor]="moreMenu"
      aria-label="More"
      (click)="$event.stopPropagation()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
      <button
        *ngIf="habilitation.canEdit()"
        mat-menu-item
        aria-label="Modifier"
        (click)="
          $event.preventDefault();
          $event.stopPropagation();
          updateTonnage(tonnage)
        "
      >
        <mat-icon color="accent">edit</mat-icon>
        <span>Modifier</span>
      </button>
      <button
        *ngIf="habilitation.canDelete()"
        mat-menu-item
        aria-label="Supprimer"
        (click)="
          $event.preventDefault();
          $event.stopPropagation();
          deleteTonnage(tonnage)
        "
      >
        <mat-icon color="warn">delete_outline</mat-icon>
        <span>Supprimer</span>
      </button>
      <button
        *ngIf="habilitation.canEdit() && !tonnage.isValidated"
        mat-menu-item
        aria-label="Valider"
        (click)="
          $event.preventDefault();
          $event.stopPropagation();
          validateTonnage(tonnage)
        "
      >
        <mat-icon color="primary">send</mat-icon>
        <span>Valider</span>
      </button>
      <button
        *ngIf="habilitation.isAdmin() && tonnage.isValidated"
        mat-menu-item
        aria-label="Ouvrir"
        (click)="
          $event.preventDefault();
          $event.stopPropagation();
          openTonnage(tonnage)
        "
      >
        <mat-icon color="primary">lock_open</mat-icon>
        <span>Ouvrir</span>
      </button>
    </mat-menu>
  </div>
</div>
