@import "src/@fuse/scss/fuse";

traceability-content {
  .stamp-cell-color {
    color: #026cff !important;
  }

  .ring-cell-color {
    color: gray !important;
  }

  .mat-header-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }

  .mat-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
}
