<div id="non-printable" class="content">
  <div
    class="p-8 mat-elevation-z2 mb-4"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="background-color: white !important;"
  >
    <div fxLayout="row" fxLayoutAlign="start center">
      <button
        type="button"
        mat-icon-button
        color="accent"
        class="mat-elevation-z1"
        (click)="changeWeekNumber(-1)"
        [disabled]="requestParameter.week == 1"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 class="mr-12 ml-12">Sem. {{ getDateforCurrentYearAndWeek() }}</h3>
      <button
        type="button"
        mat-icon-button
        color="accent"
        class="mat-elevation-z1"
        (click)="changeWeekNumber(1)"
        [disabled]="requestParameter.week == 52"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-icon-button
        (click)="printTraceabilitySites()"
        matTooltip="Imprimer les codes de la semaine"
      >
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <mat-table
    [dataSource]="traceabilityPlanification.items"
    *ngIf="traceabilityPlanification"
  >
    <ng-container matColumnDef="site">
      <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>
        SITE</mat-header-cell
      >
      <mat-cell fxLayoutAlign="start center" *matCellDef="let traceability">
        <span fxLayout="row wrap">
          {{ traceability.site.name }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stamp">
      <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>
        TAMPON</mat-header-cell
      >
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let traceability"
        class="stamp-cell-color"
      >
        <div fxLayout="column" fxLayout.gt-sm="row wrap">
          <div *ngFor="let item of traceability.traceabilityItems">
            <span *ngIf="!item.isRing"> {{ item.itemTitle }} . </span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ring">
      <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>
        BAGUE</mat-header-cell
      >
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let traceability"
        class="ring-cell-color"
      >
        <div fxLayout="column" fxLayout.gt-sm="row wrap">
          <div *ngFor="let item of traceability.traceabilityItems">
            <span *ngIf="item.isRing"> {{ item.itemTitle }}. </span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell
        fxHide.sm
        fxHide.xs
        fxHide.md
        fxLayoutAlign="start center"
        *matHeaderCellDef
      >
        COULEUR</mat-header-cell
      >
      <mat-cell
        fxHide.sm
        fxHide.xs
        fxHide.md
        fxLayoutAlign="start center"
        *matCellDef="let traceability"
      >
        <span class="job-title" *ngIf="traceability.color">
          {{
            traceability.color + " ( " + traceabilityPlanification.mel + " ) "
          }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell
        fxHide.sm
        fxHide.xs
        fxHide.md
        fxLayoutAlign="start center"
        *matHeaderCellDef
      >
        COMMENTAIRES</mat-header-cell
      >
      <mat-cell
        fxHide.sm
        fxHide.xs
        fxHide.md
        fxLayoutAlign="start center"
        *matCellDef="let traceability"
      >
        <span class="job-title">
          {{ traceability.description }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell
        fxLayoutAlign="center center"
        *matHeaderCellDef
        width ="145px"
      ></mat-header-cell>
      <mat-cell
        fxLayoutAlign="center center"
        *matCellDef="let traceability"
        width ="145px"
      >
        <div
          fxHide.lt-md
          class="buttons-row"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <button
            matTooltip="Gérer les codes"
            *ngIf="habilitation.canCreate()"
            type="button"
            mat-icon-button
            color="accent"
            class="mat-elevation-z1"
            (click)="updateTraceability(traceability)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matTooltip="Ajouter manuellement un code exceptionnel"
            *ngIf="habilitation.isAdmin()"
            type="button"
            mat-icon-button
            color="primary"
            class="mat-elevation-z1"
            (click)="addExceptionCode(traceability)"
          >
            <mat-icon>assignment_late</mat-icon>
          </button>
          <button
            matTooltip="Supprimer la ligne de traçabilité"
            *ngIf="habilitation.isAdmin()"
            type="button"
            mat-icon-button
            color="warn"
            class="mat-elevation-z1"
            [disabled]="traceability.traceabilityItems?.length > 0"
            (click)="deleteTraceability(traceability)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
        <span class="job-title" fxHide.gt-sm>
          <button mat-button [matMenuTriggerFor]="actionsMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button
              color="accent"
              mat-menu-item
              (click)="updateTraceability(traceability)"
              *ngIf="habilitation.canCreate()"
            >
              <mat-icon color="primary">edit</mat-icon>
              Gérer les codes
            </button>
            <button
              color="primary"
              mat-menu-item
              *ngIf="habilitation.isAdmin()"
              (click)="addExceptionCode(traceability)"
            >
              <mat-icon color="primary">gesture</mat-icon>
              Ajouter un code exceptionnel
            </button>
            <button
              color="warn"
              mat-menu-item
              *ngIf="habilitation.isAdmin()"
              (click)="deleteTraceability(traceability)"
              [disabled]="traceability.traceabilityItems?.length > 0"
            >
              <mat-icon color="primary">delete_outline</mat-icon>
              Supprimer la ligne de traçabilité
            </button>
          </mat-menu>
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let traceability; columns: displayedColumns"
      class="activity"
      matRipple
    >
    </mat-row>
  </mat-table>
</div>

<!-- TEMPLATE TO PRINT -->
<div id="printSitesContent" *ngIf="traceabilityPlanification">
  <div id="hidden_div" hidden style="max-width: 700px;margin:auto">
    <div fxLayout="column">
      <h3 fxLayout="row" fxLayoutAlign="center center">
        PLANIFICATION DES CODES DE LA SEMAINE
      </h3>
      <div fxLayout="row" fxLayoutAlign="space-between" class="logo-info-div">
        <div fxLayout="column" fxLayoutAlign="start start">
          <h5>Service Traçabilité AVS</h5>
          <h5>Mohamed MELLOUK</h5>
          <h5>06 25 01 52 46 - t5acabilite@avs.fr</h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <img src="assets/images/logos/logoavs.jpg" />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h5>
          Planification de la semaine : {{ requestParameter.week }} / Année :
          {{ requestParameter.year }}
        </h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h5 class="week-color-div">
          Semaine du {{ getDateforCurrentYearAndWeek() }} Couleur programmée :
          {{ traceabilityPlanification.color }}
        </h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <table style="border-collapse: collapse;width: 100%;">
          <tr>
            <th>Site</th>
            <th>Tampon(s)</th>
            <th>Bague(s)</th>
          </tr>
          <tr *ngFor="let traceability of traceabilityPlanification.items">
            <td>{{ traceability.site.name }}</td>
            <td>
              <div fxLayout="column" fxLayout.gt-sm="row wrap">
                <div
                  *ngFor="
                    let item of traceability.traceabilityItems;
                    index as i
                  "
                >
                  <span *ngIf="!item.isRing"> {{ item.itemTitle }} - </span>
                </div>
              </div>
            </td>
            <td>
              <div fxLayout="column" fxLayout.gt-sm="row wrap">
                <div *ngFor="let item of traceability.traceabilityItems">
                  <span *ngIf="item.isRing"> {{ item.itemTitle }} - </span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
