<div class="overflow-y-auto max-h-screen w-full">

  <tonnage-stats class="ml-4" *ngIf="tonnage"></tonnage-stats>

  <div *ngIf="tonnage">
    <div class="p-2" *ngIf="habilitation.canEdit()">
      <form #specificCarcassForm="ngForm" name="tonnageGibletform" class="flex flex-row items-center"
        (ngSubmit)="addSpecificCarcass(specificCarcassForm)">

        <div class="text-md w-2/3">
          AJOUTER DES AGNEAUX AU POIDS MOYEN (POIDS MOYEN 18 KG):
        </div>

        <mat-form-field appearance="outline" class="w-1/4">
          <mat-label>Quantité</mat-label>
          <input matInput name="title" type="number" [(ngModel)]="specificCarcassAverageWeight" required />
        </mat-form-field>
        <button mat-raised-button class="ml-4 w-1/4" color="primary" type="submit" [disabled]="tonnage.isValidated">
          Valider
        </button>


      </form>
    </div>
  </div>
  <mat-tab-group class="mt-3" mat-align-tabs="center" animationDuration="0ms" mat-stretch-tabs *ngIf="tonnage">
    <mat-tab label="Carcasses" routerLink="#">
      <form #f="ngForm" name="form" (ngSubmit)="addTonnageDetail(f)" *ngIf="habilitation.canEdit()">
        <div class="flex flex-col sm:flex-row justify-between w-full">
          <mat-form-field appearance="outline" class="w-1/4 text-sm">
            <mat-label>Type</mat-label>
            <mat-select required name="type" [(ngModel)]="newTonnageDetails.itemType">
              <mat-option *ngFor="let tonnageItemType of tonnageItemTypes" [value]="tonnageItemType">
                {{ tonnageItemType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-1/4   text-sm mx-2">
            <mat-label>Poids</mat-label>
            <input matInput name="title" type="number" [(ngModel)]="newTonnageDetails.weight" required />
          </mat-form-field>
          <mat-form-field appearance="outline" class=" w-1/4  text-sm mr-1 ">
            <mat-label>Pourcentage</mat-label>
            <mat-select name="percentage" [(ngModel)]="newTonnageDetails.percentage" required>
              <mat-option *ngFor="let percentage of possiblePercentage" [value]="percentage">
                {{ percentage }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button [disabled]="tonnage.isValidated" mat-icon-button color="accent" class="mat-elevation-z1"
            type="submit">
            <mat-icon>add</mat-icon>
          </button>
          <button [disabled]="tonnage.isValidated" class="ml-0 ml-sm-8"
            matTooltip="Ajouter tonnage details par poids totale et quantité" mat-mini-fab color="accent" type="button"
            (click)="addTonnageDetailByTotalWeightAndQuantity()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </form>
      <div class="mt-2 ml-8">
        <mat-checkbox (change)="reverseList()">Inverser l'ordre d'affichage ?
        </mat-checkbox>
      </div>
      <mat-table [dataSource]="tonnage.details">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class=" border-0 w-1/4">Type</th>
          <td mat-cell *matCellDef="let tonnage" class="border-0 w-1/4 pl-1">
            {{ tonnage.itemType.typeFamily.name }}

          </td>
        </ng-container>
        <ng-container matColumnDef="weight" class="ml-1">
          <th mat-header-cell *matHeaderCellDef class="ml-1 w-1/4 border-0 ">Poids</th>
          <td mat-cell *matCellDef="let tonnage" class="w-1/4 border-0 ">
            <mat-form-field class="w-22">
              <input [(ngModel)]="tonnage.weight" matInput name="weight" type="number"
                (keyup.enter)="updateTonnageDetail(tonnage)" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef class="w-20 border-0">%</th>
          <td mat-cell *matCellDef="let tonnage" class="w-20 border-0">
            <mat-form-field class="w-18">
              <mat-select name="percentageS" [(ngModel)]="tonnage.percentage"  class="w-18">
                <mat-option *ngFor="let percentage of possiblePercentage" [value]="percentage">
                  {{ percentage }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="p-0 w-1/3 border-0"></th>
          <td mat-cell *matCellDef="let tonnageDetails" class=" p-0 w-1/3 border-0">
            <div class="hidden sm:block">
              <button [disabled]="tonnage.isValidated" mat-icon-button color="primary" class="mat-elevation-z1"
                (click)="updateTonnageDetail(tonnageDetails)" *ngIf="habilitation.canEdit()">
                <mat-icon>edit</mat-icon>
              </button>
              <button [disabled]="tonnage.isValidated" mat-icon-button color="warn" class="ml-1 mat-elevation-z1"
                (click)="deleteTonnageDetail(tonnageDetails)" *ngIf="habilitation.canDelete()">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div *ngIf="habilitation.canEdit()" class="block sm:hidden">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item [disabled]="tonnage.isValidated" (click)="updateTonnageDetail(tonnageDetails)"
                  *ngIf="habilitation.canEdit()">
                  <span>
                    <mat-icon color="accent">edit</mat-icon>Modifier
                  </span>
                </button>
                <button mat-menu-item [disabled]="tonnage.isValidated" (click)="deleteTonnageDetail(tonnageDetails)"
                  *ngIf="habilitation.canDelete()">
                  <span>
                    <mat-icon color="warn">delete_outline</mat-icon>Supprimer
                  </span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tonnageDetailsdisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let tonnage; columns: tonnageDetailsdisplayedColumns" class="pt-2"
          [hidden]="!tonnage.itemType.isCarcass || !tonnage.isRealWeight">
        </mat-row>
      </mat-table>
    </mat-tab>
    <!-- ABATS -->
    <mat-tab label="Abats">
      <div class="content" *ngIf="habilitation.canEdit()">
        <form #gibletsForm="ngForm" name="tonnageGibletform" (ngSubmit)="addTonnageGibletDetail(gibletsForm)">
          <div class="flex-col sm:flex-row items-center">
            <mat-form-field appearance="outline" class="mr-1">
              <mat-label>Type</mat-label>
              <mat-select class="custom-select" name="type" [(ngModel)]="newTonnageGibletDetails.itemType" required>
                <mat-option *ngFor="let tonnageGiblet of tonnageGiblets" [value]="tonnageGiblet">
                  {{
                  tonnageGiblet.typeFamily.name +
                  "[" +
                  tonnageGiblet.name +
                  "]" +
                  " - PM (" +
                  tonnageGiblet.weight +
                  ")"
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-1">
              <mat-label>Quantité</mat-label>
              <input matInput name="title" type="number" [(ngModel)]="newTonnageGibletDetails.quantity" required />
            </mat-form-field>
            <button [disabled]="tonnage.isValidated" mat-icon-button color="accent" class="mat-elevation-z1"
              type="submit">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
      </div>
      <mat-table [dataSource]="tonnage.details">
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type (Abats)</mat-header-cell>
          <mat-cell *matCellDef="let tonnageGiblet">
            <span class="job-title">
              {{
              tonnageGiblet.itemType.typeFamily.name +
              " - " +
              tonnageGiblet.itemType.name
              }}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef>PM</mat-header-cell>
          <mat-cell *matCellDef="let tonnageGiblet">
            {{ tonnageGiblet.weight }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
          <mat-cell *matCellDef="let tonnageGiblet">
            <mat-form-field class="w-20">
              <input [(ngModel)]="tonnageGiblet.quantity" matInput name="quantity" type="number" />
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totale">
          <mat-header-cell *matHeaderCellDef>TOTAL(Kg)</mat-header-cell>
          <mat-cell *matCellDef="let tonnageGiblet">
            {{ geTotal(tonnageGiblet.weight, tonnageGiblet.quantity) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let tonnageGiblet">
            <div class="hidden sm:block">
              <button [disabled]="tonnage.isValidated" *ngIf="habilitation.canEdit()" mat-icon-button color="primary"
                class="mat-elevation-z1 mr-1" (click)="updateTonnageDetail(tonnageGiblet)">
                <mat-icon>edit</mat-icon>
              </button>
              <button [disabled]="tonnage.isValidated" *ngIf="habilitation.canDelete()" mat-icon-button color="warn"
                class="mat-elevation-z1" (click)="deleteTonnageDetail(tonnageGiblet)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div *ngIf="habilitation.canEdit()" class="block sm:hidden">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item [disabled]="tonnage.isValidated" (click)="updateTonnageDetail(tonnageGiblet)"
                  *ngIf="habilitation.canEdit()">
                  <span>
                    <mat-icon color="accent">edit</mat-icon>Modifier
                  </span>
                </button>
                <button mat-menu-item [disabled]="tonnage.isValidated" (click)="deleteTonnageDetail(tonnageGiblet)"
                  *ngIf="habilitation.canDelete()">
                  <span>
                    <mat-icon color="warn">delete_outline</mat-icon>Supprimer
                  </span>
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tonnageGibletDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let tonnageGiblet; columns: tonnageGibletDisplayedColumns" class="py-2"
          [hidden]="tonnageGiblet.itemType.isCarcass">
        </mat-row>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
</div>