<!-- SIDEBAR CONTENT -->
<div
  class="content p-8"
  fusePerfectScrollbar
  [@animate]="{ value: '*', params: { y: '50px' } }"
>
  <div class="demo-sidebar">
    <form
      #f="ngForm"
      (ngSubmit)="getTechnicalSheets(f)"
      class="mat-card mat-elevation-z4 p-8"
      fxLayout="column"
      fxLayoutAlign="start"
      name="form"
    >
      <div
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxFlex="1 0 auto"
        class="mt-8"
      >
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Sélectionner un site</mat-label>
          <mat-select
            required
            [(ngModel)]="technicalSheetFilter.site"
            name="partner"
          >
            <mat-option *ngFor="let site of sites" [value]="site">
              {{ site.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Début</mat-label>
          <input
            required
            matInput
            [matDatepicker]="startDatePicker"
            placeholder="Du"
            [(ngModel)]="technicalSheetFilter.startDate"
            name="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Fin</mat-label>
          <input
            required
            matInput
            [matDatepicker]="endDatePicker"
            placeholder="Au"
            [(ngModel)]="technicalSheetFilter.endDate"
            name="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button type="submit" mat-raised-button color="accent" fxFlex="100">
          Afficher
          <mat-icon class="s-20">filter_list</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- / SIDEBAR CONTENT -->
