<div [hidden]="!activities || activities.length === 0" >
  <mat-table [dataSource]="activities">
    <ng-container matColumnDef="site">
      <mat-header-cell *matHeaderCellDef>Sites</mat-header-cell>
      <mat-cell *matCellDef="let activity">
        {{ activity.site.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="monday" >
      <mat-header-cell *matHeaderCellDef>Lundi</mat-header-cell>
      <mat-cell *matCellDef="let activity" >
        <ul>
          <li *ngFor="let mondayActivity of activity.mondayActivities">
            <div class="bg-gray-100 rounded-md p-3 m-2">
              <span class="font-bold">
                {{
                mondayActivity.employee.lastName +
                ", " +
                mondayActivity.employee.firstName
                }}
              </span>
              <span class="text-gray-700">
                {{ mondayActivity.startTime + " - " + mondayActivity.endTime }}
              </span>
            </div>
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tuesday">
      <mat-header-cell *matHeaderCellDef>Mardi</mat-header-cell>
      <mat-cell *matCellDef="let activity">
        <ul>
          <li *ngFor="let tuesdayActivity of activity.tuesdayActivities">
            <div class="bg-gray-100 rounded-md p-3 m-2">
              <span class="font-bold">
                {{
                tuesdayActivity.employee.lastName +
                ", " +
                tuesdayActivity.employee.firstName
                }}
              </span>
              <span class="text-gray-700">
                {{ tuesdayActivity.startTime + " - " + tuesdayActivity.endTime }}
              </span>
            </div>
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="wednesday">
      <mat-header-cell *matHeaderCellDef>Mercredi</mat-header-cell>
      <mat-cell *matCellDef="let activity">
        <ul>
          <li *ngFor="let wednesdayActivity of activity.wednesdayActivities">
            <div class="bg-gray-100 rounded-md p-3 m-2">
              <span class="font-bold">
                {{
                wednesdayActivity.employee.lastName +
                ", " +
                wednesdayActivity.employee.firstName
                }}
              </span>
              <span class="text-gray-700">
                {{
                wednesdayActivity.startTime + " - " + wednesdayActivity.endTime
                }}
              </span>
            </div>
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="thursday">
      <mat-header-cell *matHeaderCellDef>Jeudi</mat-header-cell>
      <mat-cell *matCellDef="let activity">
        <ul>
          <li *ngFor="let thursdayActivity of activity.thursdayActivities">
            <div class="bg-gray-100 rounded-md p-3 m-2">
              <span class="font-bold">
                {{
                thursdayActivity.employee.lastName +
                ", " +
                thursdayActivity.employee.firstName
                }}
              </span>
              <span class="text-gray-700">
                {{
                thursdayActivity.startTime + " - " + thursdayActivity.endTime
                }}
              </span>
            </div>
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="friday">
      <mat-header-cell *matHeaderCellDef>Vendredi</mat-header-cell>
      <mat-cell *matCellDef="let activity">
        <ul>
          <li *ngFor="let fridayActivity of activity.fridayActivities">
            <div class="bg-gray-100 rounded-md p-3 m-2">
              <span class="font-bold">
                {{
                fridayActivity.employee.lastName +
                ", " +
                fridayActivity.employee.firstName
                }}
              </span>
              <span class="text-gray-700">
                {{ fridayActivity.startTime + " - " + fridayActivity.endTime }}
              </span>
            </div>
          </li>
        </ul>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let activity; columns: displayedColumns" class="activity" class="border-b-2 border-gray-100">
    </mat-row>
  </mat-table>
  
</div>

<div [hidden]="activities && activities.length > 0" class="w-full" >
  <p class="p-6 pt-10 w-full text-center print:text-center text-gray-900 text-lg" >Aucun élément à afficher</p>
</div>

