<!-- Activities Display Templates-->
<!-- PER EMPLOYEE MODE -->
<ng-template #searchPanel>
  <div class="  flex flex-col sm:flex-row sm:items-end items-end justify-between">
    <div class="ml-auto">
      <div class="flex flex-row py-1 bg-white border-2 border-gray-100 rounded-full mr-3 w-140">
        <button mat-icon-button class="secondary-text">
          <mat-icon>search</mat-icon>
        </button>
        <input placeholder="Filtrer les salariés par site" name="search" [(ngModel)]="filterValue"
          (keyup.enter)="onFilterBySite()" />
      </div>
    </div>
  </div>

</ng-template>
<ng-template #perEmployeeDisplay>
  <div *ngIf="!displaySimpleList" class="p-2">
    <div *ngFor="let activityPerEmployee of activitiesPerEmployee">
      <div class="p-4 text-3xl text-fuchsia-900 font-semibold shadow-md bg-white max-w-max mb-2 mt-4">
        {{ activityPerEmployee.employee.fullName }}
      </div>
      <div *ngFor="
            let activityPerWeek of activityPerEmployee.activitiesPerWeek;
            index as i">
        <div class="flex flex-row mb-2">
          <div class="p-2 flex flex-col items-center justify-evenly  bg-purple-900">
            <div class="text-green-400">Semaine</div>
            <div class="text-4xl text-green-400">
              {{ activityPerWeek.weekNumber }}
            </div>
            <div class="text-gray-400">
              {{ activityPerWeek.totalWorkTimeString }}
            </div>
          </div>
          <table mat-table [dataSource]="activityPerWeek.activities" class="w-full ">

            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef class="w-1/3 sm:w-1/5 text-left border-0 text-xs">DATE

              </th>
              <td mat-cell *matCellDef="let activity"
                class="w-1/3 sm:w-1/5 text-black text-left border-0 text-sm break-words pl-3 pr-1">
                {{ activity.day }}
              </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
              <th mat-header-cell *matHeaderCellDef class="w-1/5 sm:w-0.5/4  border-0 text-xs">DÉBUT</th>
              <td mat-cell *matCellDef="let activity" class="w-1/5 sm:w-0.5/4  text-black border-0 text-sm pl-2">
                <span>
                  {{ activity.startTime }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="totalBreakTimeString">
              <th mat-header-cell *matHeaderCellDef class="w-0.5/4 border-0 text-xs hidden sm:table-cell">PAUSES</th>
              <td mat-cell *matCellDef="let activity" 
              class="text-black w-0.5/4 hidden sm:table-cell border-0 text-sm">
                <span satPopoverAnchor #breaksAnchor="satPopoverAnchor" (mouseenter)="breaksPopover.open()"
                  (mouseleave)="breaksPopover.close()">
                  {{ activity.totalBreakTimeString }}
                </span>
                <sat-popover #breaksPopover [anchor]="breaksAnchor" horizontalAlign="after">
                  <div class="bg-white p-2 rounded-lg">
                    {{activity.breaksString}}
                  </div>
                </sat-popover>
              </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
              <th mat-header-cell *matHeaderCellDef class="w-1/5 sm:w-0.5/4 border-0 text-sm">FIN</th>
              <td mat-cell *matCellDef="let activity" class="w-1/5 sm:w-0.5/4 text-black  border-0 text-sm">
                <span>
                  {{ activity.endTime }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="totalWorkedTimeString">
              <th mat-header-cell *matHeaderCellDef class="border-0 text-xs w-1/5 sm:w-0.5/4  hidden sm:table-cell">
                TOTAL HEURES
              </th>
              <td mat-cell *matCellDef="let activity"
                class="border-0 text-sm  w-1/5 sm:w-0.5/4 text-black  hidden sm:table-cell">
                <span>
                  {{ activity.totalWorkedTimeString }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="site">
              <th mat-header-cell *matHeaderCellDef class="w-0.75/4   text-center border-0 text-xs">SITE</th>
              <td mat-cell *matCellDef="let activity" class="w-0.75/4 text-black border-0 text-sm">
                {{ activity.site.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="bonusString">
              <th mat-header-cell *matHeaderCellDef class="w-0.75/4 text-center border-0 text-xs  hidden sm:table-cell">
                PRIME
              </th>
              <td mat-cell *matCellDef="let activity"
                class="text-black  w-0.75/4 px-1  hidden sm:table-cell border-0 text-xs break-all ">

                {{ activity.bonusString }}

              </td>
            </ng-container>
            <ng-container matColumnDef="manuallyCreated">
              <th mat-header-cell *matHeaderCellDef class="border-0 text-sm w-8 hidden sm:table-cell">[T]</th>
              <td mat-cell *matCellDef="let activity" class="border-0 text-sm w-8 text-black  hidden sm:table-cell ">
                <span *ngIf="activity.activityType == 1">
                  <mat-icon class="text-black text-lg">
                    {{
                    activity.manuallyCreated
                    ? "keyboard"
                    : "stay_current_portrait"
                    }}
                  </mat-icon>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="dayCounter">
              <th mat-header-cell *matHeaderCellDef class="border-0 text-xs w-8 hidden sm:table-cell">J</th>
              <td mat-cell *matCellDef="let activity" class="border-0 text-sm w-8  text-black  hidden sm:table-cell ">
                <span>
                  {{ activity.dayCounter > 0 ? activity.dayCounter : "" }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="border-0 text-xs   w-0.75/4 hidden md:table-cell">REMARQUE
              </th>
              <td mat-cell *matCellDef="let activity" class="border-0 text-sm w-0.75/4 text-black hidden md:table-cell">

                {{ activity.title }}

              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell class="actions-header" class="w-8 border-0 text-sm  hidden sm:table-cell"
                *matHeaderCellDef>
              </th>
              <td mat-cell class="actions-cell" *matCellDef="let activity"
                class="w-8 border-0 text-sm  hidden sm:table-cell">
                <span *ngIf="habilitation.canEdit()">
                  <button mat-button class="p-0" [matMenuTriggerFor]="actionsMenu">
                    <mat-icon class="text-white">more_vert</mat-icon>
                  </button>
                  <mat-menu #actionsMenu="matMenu">
                    <button mat-menu-item (click)="updateActivity(activity)" [disabled]="activity.activityType != 1">
                      <mat-icon color="accent">edit</mat-icon>
                      Modifier
                    </button>
                    <button mat-menu-item (click)="updateBonusActivity(activity)"
                      [disabled]="activity.activityType != 1">
                      <mat-icon color="primary">euro_symbol</mat-icon>
                      Primes
                    </button>
                    <button mat-menu-item (click)="updateBreaksActivity(activity)"
                      [disabled]="activity.activityType != 1">
                      <mat-icon color="primary">local_cafe</mat-icon>
                      Pauses
                    </button>
                    <button mat-menu-item (click)="deleteActivity(activity)" [disabled]="
                            (activity.activityType != 1 &&
                              activity.activityType != 2 &&
                              activity.activityType != 5)
                          " *ngIf="habilitation.canDelete()">
                      <mat-icon color="warn">delete_outline</mat-icon>Supprimer
                    </button>
                  </mat-menu>
                </span>
              </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="i > 0"></mat-header-row>
            <mat-row *matRowDef="let activity; columns: displayedColumns" class="activity" matRipple
              [class.bg-green-400]="
                    activity.activityType === 1 && activity.activityState === 3
                  " [class.bg-yellow-500]="
                    activity.activityType === 1 && activity.activityState < 3
                  " [class.bg-red-400]="
                    activity.activityType === 2 ||
                    activity.activityType === 9 ||
                    activity.activityType === 4
                  " [class.bg-gray-400]="activity.activityType === 0"
              [class.bg-purple-500]="activity.activityType === 5" [class.bg-blue-500]="activity.activityType === 23">
            </mat-row>
          </table>
        </div>

      </div>
    </div>
  </div>
</ng-template>
<!-- LIST MODE -->
<ng-template #simpleListDisplay>
  <div *ngIf="displaySimpleList" class="p-2">
    <table mat-table [dataSource]="activities" matSort
     (matSortChange)="sortActivities($event)" class="w-full">
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fullName" 
        class="w-1/4 sm:w-1/5 border-0 text-xs">SALARIE
        </th>
        <td mat-cell *matCellDef="let activity" 
        class="w-1/4 sm:w-1/5 text-black border-0 text-sm break-words pl-2" >
          {{ activity.employee.fullName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="day" class="w-1/5 sm:w-0.75/4 border-0 text-xs">DATE</th>
        <td mat-cell *matCellDef="let activity" class="text-black break-words w-1/5 sm:w-0.75/4 border-0 text-sm">
             {{ activity.startDate }}   
        </td>
      </ng-container>
      <ng-container matColumnDef="startTime">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="startTime" class="w-0.75/4 sm:w-0.5/4 text-xs border-0" >DÉBUT</th>
        <td mat-cell *matCellDef="let activity" class="text-black border-0 text-sm w-0.75/4 sm:w-0.5/4" >
       
            {{ activity.startTime }}
     
        </td>
      </ng-container>
      <ng-container matColumnDef="totalBreakTimeString">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="totalBreakTime"
          class="w-0.5/4 hidden md:table-cell sm:hidden border-0 text-xs">PAUSES</th>
        <td mat-cell *matCellDef="let activity" 
        class="text-black border-0 text-sm w-0.5/4 hidden md:table-cell sm:hidden">
          <span satPopoverAnchor #breaksAnchor="satPopoverAnchor" (mouseenter)="breaksPopover.open()"
            (mouseleave)="breaksPopover.close()">
            {{ activity.totalBreakTimeString }}
          </span>
          <sat-popover #breaksPopover [anchor]="breaksAnchor" horizontalAlign="after">
            <div class="bg-white p-1 rounded-md popover-info mat-elevation-z8 text-sm">
              {{activity.breaksString}}
            </div>
          </sat-popover>
        </td>
      </ng-container>
      <ng-container matColumnDef="endTime">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="endTime" class="w-0.75/4 sm:w-0.5/4 text-xs border-0" >FIN</th>
        <td mat-cell *matCellDef="let activity" class="text-black border-0 text-sm w-0.75/4 sm:w-0.5/4" >
         
            {{ activity.endTime }}
        
        </td>
      </ng-container>
      <ng-container matColumnDef="totalWorkedTimeString">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="totalWorkedTime" 
        class="border-0 text-xs w-0.5/4 hidden sm:table-cell" >
          TOTAL HEURES
        </th>
        <td mat-cell *matCellDef="let activity" class="text-black hidden sm:table-cell border-0 text-sm  w-0.5/4" >
      
            {{ activity.totalWorkedTimeString }}
        
        </td>
      </ng-container>
      <ng-container matColumnDef="site">

        <th mat-header-cell *matHeaderCellDef mat-sort-header="site"
         class="border-0 text-xs w-1/4 sm:w-0.5/4">SITE</th>
        <td mat-cell *matCellDef="let activity" class="text-black border-0 text-sm w-1/4 sm:w-0.5/4">
            {{ activity.site.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="bonusString">
        <th mat-header-cell *matHeaderCellDef   class="hidden sm:table-cell border-0 w-0.5/4 text-xs">PRIME</th>
        <td mat-cell *matCellDef="let activity"   class="hidden sm:table-cell text-black w-0.5/4 border-0 text-xs break-all ">
          <span>
            {{ activity.bonusString }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="manuallyCreated">
        <th mat-header-cell *matHeaderCellDef class="w-7  border-0 text-xs hidden sm:table-cell">[T]</th>
        <td mat-cell *matCellDef="let activity" class="w-7  border-0 text-sm hidden sm:table-cell">
          <span *ngIf="activity.activityType == 1">
            <mat-icon class="text-black text-lg">
              {{
              activity.manuallyCreated
              ? "keyboard"
              : "stay_current_portrait"
              }}
            </mat-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="dayCounter">

        <th mat-header-cell *matHeaderCellDef   class="w-7 border-0 text-xs hidden sm:table-cell">J</th>
        <td mat-cell *matCellDef="let activity" class="w-7  text-black border-0 text-sm hidden sm:table-cell">

          {{ activity.dayCounter > 0 ? activity.dayCounter : "" }}

        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="w-0.5/4 border-0 text-xs hidden md:table-cell sm:hidden">
          REMARQUE
        </th>
        <td mat-cell *matCellDef="let activity"  class="text-black w-0.5/4 border-0 text-sm hidden md:table-cell sm:hidden">
          {{ activity.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="w-7 border-0 text-xs hidden sm:table-cell" *matHeaderCellDef>ACTIONS</th>
        <td mat-cell *matCellDef="let activity" class="w-7 border-0 text-sm hidden sm:table-cell">
          <span *ngIf="habilitation.canEdit()">
            <button mat-button [matMenuTriggerFor]="actionsMenu">
              <mat-icon class="text-white">more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="updateActivity(activity)" [disabled]="activity.activityType != 1">
                <mat-icon color="accent">edit</mat-icon>
                Modifier
              </button>
              <button mat-menu-item (click)="updateBonusActivity(activity)" [disabled]="activity.activityType != 1">
                <mat-icon color="primary">euro_symbol</mat-icon>
                Primes
              </button>
              <button mat-menu-item (click)="updateBreaksActivity(activity)" [disabled]="activity.activityType != 1">
                <mat-icon color="primary">local_cafe</mat-icon>
                Pauses
              </button>
              <button mat-menu-item (click)="deleteActivity(activity)" [disabled]="
                      (activity.activityType != 1 &&
                        activity.activityType != 2 &&
                        activity.activityType != 5)
                    " *ngIf="habilitation.canDelete()">
                <mat-icon color="warn">delete_outline</mat-icon>Supprimer
              </button>
            </mat-menu>
          </span>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
      <mat-row *matRowDef="let activity; columns: displayedColumns2" class="activity" matRipple [class.bg-green-400]="
              activity.activityType === 1 && activity.activityState === 3
            " [class.bg-yellow-500]="
              activity.activityType === 1 && 
              activity.activityState < 3
            " [class.bg-red-400]="
              activity.activityType === 2 ||
              activity.activityType === 9 ||
              activity.activityType === 4
            " [class.bg-gray-400]="activity.activityType === 0" [class.bg-purple-500]="activity.activityType === 5"
        [class.g-blue-500]="activity.activityType === 23">
      </mat-row>
    </table>

  </div>
</ng-template>

<!-- AVS Workers Template -->
<ng-container>
  <!-- Simple User Display -->
  <div class="mt-4">
    <ng-container *ngTemplateOutlet="searchPanel"></ng-container>
    <ng-container *ngTemplateOutlet="perEmployeeDisplay"> </ng-container>
    <ng-container *ngTemplateOutlet="simpleListDisplay"> </ng-container>
  </div>
</ng-container>