<div
  *ngIf="!technicalSheet"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex
>
  <span
    class="select-message-text hint-text"
    fxLayoutAlign="center center"
    [@animate]="{ value: '*', params: { delay: '400ms' } }"
  >
    <h2>Veuillez sélectionner une fiche technique dans la liste de resultat</h2>
  </span>
</div>
<div *ngIf="technicalSheet" fxLayout="column" fxLayoutAlign="start" fxFlex>
  <h2 fxLayoutAlign="center center">
    Fiche technique : {{ technicalSheet.site.name }}
  </h2>
  <div fxLayout="column" fxFlex>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="mat-card mat-elevation-z4 p-12"
      style="background-color: #F4F4F4;"
    >
      <div class="code-sticker">
        <img class="qr-code" [src]="qrserverApi + technicalSheet.sheetCode" />
        <span class="sheet-code">{{ technicalSheet.sheetCode }}</span>
      </div>
    </div>
    <div
      class="mat-card mat-elevation-z4 p-12"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlex
    >
      <form #f="ngForm" name="technicalSheetForm" fxLayout="column" fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Nom du produit</mat-label>
          <input
            [readonly]="!habilitation.canEdit()"
            #productName="ngModel"
            [(ngModel)]="technicalSheet.productName"
            placeholder="Produit ou mix"
            matInput
            name="productName"
            required
            minlength="3"
            (change)="updateTechnicalSheet()"
          />
          <mat-error
            *ngIf="
              productName.invalid && (productName.dirty || productName.touched)
            "
          >
            Veuillez renseigner le nom du produit associé à la fiche !
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Réference du produit</mat-label>
          <input
            [readonly]="!habilitation.canEdit()"
            #productCharacteristics="ngModel"
            [(ngModel)]="technicalSheet.productCharacteristics"
            placeholder="Réference du produit"
            matInput
            name="productCharacteristics"
            (change)="updateTechnicalSheet()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Remarque</mat-label>
          <input
            [readonly]="!habilitation.canEdit()"
            #comment="ngModel"
            [(ngModel)]="technicalSheet.comment"
            placeholder="Remarque"
            matInput
            name="comment"
            (change)="updateTechnicalSheet()"
          />
        </mat-form-field>
        <div class="file-uploader" fxLayout="row" fxLayoutAlign="center center" *ngIf="habilitation.canEdit()">
          <h3 class="mr-12">Document joint</h3>
          <input
            hidden
            #file
            type="file"
            name="file"
            id="file"
            class="inputfile"
            (change)="uploadAttachment(file.files)"
          />
          <button mat-fab color="warn" type="button" (click)="file.click()">
            <mat-icon>attachment</mat-icon>
          </button>
        </div>
        <div
          *ngIf="technicalSheet.attachment"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <span style="cursor:pointer" (click)="downloadAttachment()">{{
            technicalSheet.attachment.fileName
          }}</span>
          <button mat-icon-button color="warn" (click)="removeAttachment()" *ngIf="habilitation.canEdit()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
