.code-sticker {
  width: 175px;
  height: 200px;
  background: url("/assets/images/etiquette_fiche.png") no-repeat;
  background-position: center;
  background-size: 20px;
  background-size: contain;
  position: relative;
}

.qr-code {
  width: 75px;
  position: absolute;
  bottom: 35px;
  left: 50px;
}

.sheet-code {
  position: absolute;
  left: 51px;
  bottom: 15px;
  font-size: 16px;
}
