<form class="flex flex-col mat-card mat-elevation-z4 p-4 pt-6 mx-2 mt-4 print:hidden" name="form">

  <mat-form-field appearance="outline">
    <mat-label>Numéro de semaine</mat-label>
    <mat-select [(ngModel)]="week" name="week">
      <mat-option *ngFor="let week of weeks" [value]="week">
        {{ week }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Année</mat-label>
    <mat-select [(ngModel)]="year" name="year">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Secteur</mat-label>
    <mat-select [(ngModel)]="departmentId" name="departmentId">
      <mat-option *ngFor="let department of departments" [value]="department.id">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="getActivitiesByRegionForDepartmentAndWeek()">
    Afficher
    <mat-icon class="ml-1">filter_list</mat-icon>
  </button>

    <button *ngIf="activities && activities.activitiesByRegionRows && 
    activities.activitiesByRegionRows.length > 0"
    class="mt-3"  
    mat-raised-button color="warn" (click)="print()">
      Imprimer
      <mat-icon class="ml-1">print</mat-icon>
    </button>
</form>