<div class="grid  place-items-center">
  <div fusePerfectScrollbar class="w-full mt-4">
    <div class="flex w-full py-2 justify-end ">
      <button *ngIf="habilitation.canCreate()" mat-fab color="warn" 
      title="Ajouter un focus" routerLink="focuses"
        [queryParams]="{ mode: 'new'}">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="content">
      <mat-table #table [dataSource]="focuses">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let focus">
            <p class="job-title text-truncate">
              {{ focus.date | date: "dd/MM/yyyy" }}
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
          <mat-cell *matCellDef="let focus">
            <p class="text-truncate font-weight-600">{{ focus.title }}</p>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let focus; columns: displayedColumns" class="focus" routerLink="focuses"
          [queryParams]="{ mode: 'edit', focusId: focus.uid}">
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>