<div *ngIf="missionOrder" class="pt-3 overflow-y-auto max-h-140 w-full">
  <div id="non-printable" class="flex flex-col sm:flex-row sm:items-end items-end justify-between">
    <div class="ml-auto">
      <button mat-icon-button color="primary" class="mat-elevation-z1 mr-4" (click)="print()">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex-col  items-center">
    <h2 class="text-xl">OBJET DE LA MISSION</h2>
    <h3 class="text-lg my-4">{{ missionOrder.title }}</h3>
  </div>
  <div class="flex flex-col px-6">  
    <table class="min-w-full">

      <tbody>
        <tr class="bg-white  border-b-8 border-white transition duration-300 ease-in-out">
          <td class="w-50 py-2 break-words text-gray-900"><span class="font-bold">Début de la
              mission</span></td>
          <td class="  text-gray-900 px-3  break-words bg-gray-100">
            <span>{{
              missionOrder.missionStart | date: "dd/MM/yyyy"
              }}</span>
          </td>

        </tr>
        <tr class="bg-white   border-b-8 border-white  transition duration-300 ease-in-out">
          <td class="w-50 py-2 break-words    text-gray-900"><span class="font-bold">Fin de la mission</span>
          </td>
          <td class="  text-gray-900 marker: px-3   break-words bg-gray-100">
            <span>{{
              missionOrder.missionEnd | date: "dd/MM/yyyy"
              }}</span>
          </td>

        </tr>
        <tr class="bg-white  border-b-8 border-white transition duration-300 ease-in-out">
          <td class="w-50 py-2 break-words text-gray-900"><span class="font-bold">Clients</span></td>
          <td class="  text-gray-900 px-3 break-words bg-gray-100">
            <div class="flex flex-col">
              <div class="py-2 inline-block min-w-full">
                <div class="overflow-hidden">
                  <table class="min-w-full">
                    <thead>
                      <tr>
                        <th scope="col" class="  text-gray-900 px-2   text-left">
                          Client
                        </th>
                        <th scope="col" class="  text-gray-900 px-2  text-left">
                          Sites
                        </th>

                      </tr>
                    </thead>
                    <tbody *ngFor="let client of missionOrder.clients">
                      <tr class=" transition duration-300 ease-in-out">
                        <td class="px-3 py-2 break-words text-gray-900">{{ client.name }}</td>
                        <td class="  text-gray-900  px-2 break-words">
                          <p *ngFor="let site of client.sites">{{ site.name }}</p>

                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="bg-white  border-b-8 border-white transition duration-300 ease-in-out">
          <td class="w-50 py-4 break-words    text-gray-900"><span class="font-bold">Intervenants</span></td>
          <td class="  text-gray-900   px-3 py-2 break-words bg-gray-100">
            <div class="flex flex-col">
              <div class="py-2 inline-block min-w-full">
                <div class="overflow-hidden">
                  <table class="min-w-full">
                    <thead>
                      <tr>
                        <th scope="col" class="  text-gray-900 px-2 text-left">
                          Client
                        </th>
                        <th scope="col" class="  text-gray-900 px-2 text-left">
                          Jours facturés
                        </th>
                        <th scope="col" class="  text-gray-900 px-2 text-left">
                          Dates
                        </th>

                      </tr>
                    </thead>
                    <tbody *ngFor="let item of missionOrder.missionOrderEmployees">
                      <tr class=" transition duration-300 ease-in-out">
                        <td class="w-50 px-2 py-1 break-words text-gray-900">{{ item.employee.fullName }}</td>
                        <td class="  text-gray-900  px-2 py-1 break-words">
                          {{item.daysWork}}
                        </td>
                        <td class="w-50  text-gray-900  px-2 py-1 break-words">
                          du <span>{{ item.start | date: "dd/MM/yyyy" }}</span> au
                          <span>{{ item.end | date: "dd/MM/yyyy" }}</span>

                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="bg-white  border-b-8 border-white transition duration-300 ease-in-out">
          <td class="w-50 py-4 break-words    text-gray-900"><span class="font-bold">Frais</span></td>
          <td class="  text-gray-900   px-3 py-2 break-words bg-gray-100">
            <span>
              <p>{{ "Remise : " + missionOrder.rebate }}</p>
              <p>{{ "Total des frais : " + getTotalFrais() }}</p>
              <p>{{ "Total des frais perso : " + getTotalFraisPerso() }}</p>
              <p>{{ "Intervenants : " + getTotalIntervenants() }}</p>
              <p>{{ "TOTAL (après remise) : " + getTotal() }}</p>
            </span>
          </td>

        </tr>
        <tr class="bg-white  border-b-8 border-white transition duration-300 ease-in-out">
          <td class="w-50 py-4 break-words    text-gray-900"><span class="font-bold">Rapport</span></td>
          <td class="  text-gray-900   px-3 py-2 break-words bg-gray-100">
            <span [innerHTML]="missionOrder.report"> </span>

          </td>

        </tr>
      </tbody>
    </table> 
  </div>

  <div id="non-printable" *ngIf="habilitation.isAdmin()" class="flex flex-col items-center">
    <h2 class="text-2xl">Traitement</h2>
    <div class="flex flex-row items-baseline mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="currentInvoiceState" name="status">
          <mat-option *ngFor="let status of missionOrderstatus" [value]="status.value">
            {{ status.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" class="ml-3 mat-elevation-z1" (click)="changeState(missionOrder)">
        <mat-icon class="ml-1">check</mat-icon>
      </button>
    </div>
  </div>
</div>