<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Modifier un article</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">

            <div class="image">
              <img *ngIf="post.src && post.src.length>0" [src]="post.src" class=" huge m-0"/>
              <button *ngIf="post.src" class=remove (click)="removePostUrl()" ><mat-icon>delete</mat-icon></button>
              <button class=upload (click)="ii.click()" ><mat-icon>cloud_upload</mat-icon></button>
              <input (change)="filePicked($event)" type="file" #ii hidden accept="image/*" />
            </div>
            <div class="contact-name mt-8">{{post.title}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form >
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Titre</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input [(ngModel)]="post.title"  name="lastName" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date de publication</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="nickname" matInput type="date"  [ngModel]="dateParam | date:'yyyy-MM-dd'" (ngModelChange)="dateParam = $event"  >
                </mat-form-field>
            </div>
            <div id="parent" #ref [innerHTML]="post.content">
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button style="display: none"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete'], post)"
                aria-label="Delete"
                matTooltip="Delete">
            SUPPRIMER
        </button>
        <button mat-button
                class="save-button"
                (click)="save()"
                aria-label="SAVE">
            ENREGISTRER
        </button>

    </div>
</div>
