<mat-table [dataSource]="checkedCodes" [@animateStagger]="{ value: '50' }">
  <ng-container matColumnDef="typedCode">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Code</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let checkedCode"
    >
      <span class="job-title">
        {{ checkedCode.typedCode }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="shape">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Forme</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let checkedCode"
    >
      <span class="job-title">
        {{ checkedCode.traceabilityMaterial.shape }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="site">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Site</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let checkedCode"
    >
      <span class="job-title">
        {{ checkedCode.site.name }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="entryDate">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Date d'entrée</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let checkedCode"
    >
      <span class="job-title">
        {{ checkedCode.entryDate }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let checkedCode; columns: displayedColumns"
    class="activity"
    matRipple
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </mat-row>
</mat-table>
