<div fxFlex fxLayout="column" fxLayoutAlign="space-between" class="p-md-24" *ngIf="focus?.focusDetails">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button matTooltip="Gestion de contenu" mat-icon-button class="back mr-16" [routerLink]="'/website'">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="pl-12">{{mode == 'edit' ? "Modifier focus" : "Nouveau focus"}}</h2>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxFlex>
    <fuse-widget fxFlex="70" fxFlex.lt-md="100" [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
      <!-- Title,Subtitle,Date,Excerpt -->
      <div class="fuse-widget-front p-16">
        <div fxLayout="column">
          <div class="mb-12" fxLayout="row">
            <div class="h2">Focus info</div>
          </div>
          <form #f="ngForm" fxLayout="column" name="addFocusForm">
            <mat-form-field appearance="outline">
              <mat-label>Titre</mat-label>
              <input #title="ngModel" [(ngModel)]="focus.title" name="title" matInput required minlength="10" />
              <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
                Veuillez renseigner le titre (10 caractères minimum) !
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Sous-titre</mat-label>
              <input #subTitle="ngModel" [(ngModel)]="focus.subTitle" name="subTitle" matInput required
                minlength="10" />
              <mat-error *ngIf="subTitle.invalid && (subTitle.dirty || subTitle.touched)">
                Veuillez renseigner le sous-titre (10 caractères minimum) !
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input #date="ngModel" required matInput [matDatepicker]="datePicker" placeholder="Date"
                [(ngModel)]="focus.date" name="date" />
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
                Veuillez renseigner la date !
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Extrait</mat-label>
              <textarea matInput placeholder="Extrait" name="excerpt" required [(ngModel)]="focus.excerpt"
                minlength="10" rows="5"></textarea>
              <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
                Veuillez renseigner l'extrait (10 caractères minimum) !
              </mat-error>
            </mat-form-field>
          </form>
        </div>

      </div>
      <!-- Descrptions Block -->
      <div class="fuse-widget-front p-16 mt-12">
        <div fxLayout="column">
          <div class="mb-12" fxLayout="row">
            <div class="h2">Blocs de description</div>
          </div>
          <div fxLayout="column">
            <mat-accordion>
              <mat-expansion-panel [expanded]="false"
                *ngFor="let descriptionBlock of focus?.focusDetails?.descriptionsBlock">
                <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
                  <mat-panel-title>
                    <input [(ngModel)]="descriptionBlock.title" name="descriptionBlock" matInput />
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                  <mat-form-field appearance="outline">
                    <mat-label>Contenu</mat-label>
                    <textarea matInput placeholder="Presentation" name="content" [(ngModel)]="descriptionBlock.content"
                      rows="5"></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <!-- Illustractions -->
      <div class="fuse-widget-front p-16 mt-12">
        <div fxLayout="column">
          <div class="mb-12" fxLayout="row">
            <div class="h2">Illustractions</div>
          </div>
          <div fxLayout="column">
            <mat-accordion>
              <mat-expansion-panel [expanded]="false"
                *ngFor="let illustration of focus?.focusDetails?.illustrations; index as i">
                <mat-expansion-panel-header (keydown.Space)="$event.stopImmediatePropagation();">
                  <mat-panel-title>
                    <input [(ngModel)]="illustration.title" name="illustration" matInput />
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                  <div fxLayout="column" fxLayoutAlign="center center" class="p-16" fxFlex>
                    <div class="image">
                      <img *ngIf="illustration.image && illustration.image.length > 0" [src]="illustration.image"
                        class="huge m-0" />
                    </div>
                    <div fxLayoutAlign="center center">
                      <button fxLayoutAlign="center" mat-fab color="warn" type="button" class="upload"
                        (click)="illustrationImage.click()">
                        <mat-icon>{{
                          illustration.image && illustration.image.length > 0 ? "edit" : "add_photo_alternatet"
                          }}</mat-icon>
                      </button>
                      <input name="illustrationImage" (change)="uploadImageForIllustration($event, i)" type="file"
                        #illustrationImage hidden accept="image/*" />
                    </div>
                  </div>
                  <mat-form-field appearance="outline">
                    <mat-label>Commentaires</mat-label>
                    <textarea matInput placeholder="Presentation" name="comment" [(ngModel)]="illustration.comment"
                      rows="5"></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <!-- Images -->
      <div class="fuse-widget-front p-16 mt-12">
        <div fxLayout="column">
          <div class="mb-12" fxLayout="row">
            <div class="h2">Images</div>
          </div>
          <div fxLayoutAlign="center center" class="mb-16">
            <button fxLayoutAlign="center" mat-fab color="warn" type="button" class="upload" (click)="file.click()">
              <mat-icon>
                add_photo_alternatet"
              </mat-icon>
            </button>
            <input name="focusImages" (change)="uploadImageForFocus($event)" type="file" #file hidden
              accept="image/*" />
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start start">
            <div *ngFor="let image of focus?.images; index as i">
              <div *ngIf="focus?.images.length > 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                <div class="container">
                  <button class="remove-image-btn" mat-icon-button color="warn" (click)="removeImage(i)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                  <img class="media" [src]="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Info -->
      <mat-accordion>
        <mat-expansion-panel [expanded]="false" class="mt-12">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Info complémentaires</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Adresse</mat-label>
              <input [(ngModel)]="focus.focusDetails.address" name="address" matInput />
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Latitude</mat-label>
                <input [(ngModel)]="focus.focusDetails.location.latitude" name="latitude" matInput  type="number"/>
              </mat-form-field>
              <mat-form-field appearance="outline" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
                <mat-label>Longitude</mat-label>
                <input [(ngModel)]="focus.focusDetails.location.longitude" name="longitude" matInput type="number"/>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Ville</mat-label>
                <input [(ngModel)]="focus.focusDetails.city" name="city" matInput />
              </mat-form-field>
              <mat-form-field appearance="outline" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
                <mat-label>Code Postal</mat-label>
                <input [(ngModel)]="focus.focusDetails.zipCode" name="zipCode" matInput />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Pays</mat-label>
                <input [(ngModel)]="focus.focusDetails.country" name="country" matInput />
              </mat-form-field>
              <mat-form-field appearance="outline" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
                <mat-label>Téléphone</mat-label>
                <input [(ngModel)]="focus.focusDetails.phone" name="phone" matInput />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="focus.focusDetails.email" name="email" matInput />
              </mat-form-field>
              <mat-form-field appearance="outline" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
                <mat-label>Site Web</mat-label>
                <input [(ngModel)]="focus.focusDetails.webSite" name="webSite" matInput />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Twitter</mat-label>
                <input [(ngModel)]="focus.focusDetails.twitter" name="twitter" matInput />
              </mat-form-field>
              <mat-form-field appearance="outline" appearance="outline" fxFlex="50" fxFlex.lt-md="100">
                <mat-label>Facebook</mat-label>
                <input [(ngModel)]="focus.focusDetails.facebook" name="facebook" matInput />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-md-8" fxFlex.lt-md="100">
                <mat-label>Instagram</mat-label>
                <input [(ngModel)]="focus.focusDetails.instagram" name="instagram" matInput />
              </mat-form-field>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- Videos -->
      <div class="fuse-widget-front p-16 mt-12">
        <div fxLayout="column">
          <div class="mb-12" fxLayout="row">
            <div class="h2">Videos</div>
          </div>
          <ckeditor [editor]="editor" [config]="config" [(ngModel)]="focus.focusDetails.videos" name="editor"
            (ready)="onEditorReady($event)">
          </ckeditor>
        </div>
      </div>
    </fuse-widget>
    <div fxLayout="column" fxFlex="30" fxFlex.lt-md="100" class="pt-16">
      <div fxFlexOrder="0" fxFlexOrder.lt-md="1" fxLayout="column" class="pt-0 p-16" fxLayoutAlign="center center">
        <button fxFlexOrder="0" fxFlexOrder.lt-md="1" mat-raised-button (click)="onSubmit(f)" color="accent" aria-label="SAVE" type="submit">
          {{ mode === "new" ? "Créer" : "Modifier" }}
        </button>
        <mat-checkbox fxFlexOrder="1" fxFlexOrder.lt-md="0" class="mt-12" [(ngModel)]="focus.published">Publié?</mat-checkbox>
      </div>
      <fuse-widget fxFlexOrder="1" fxFlexOrder.lt-md="0" [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
        <div class="fuse-widget-front" fxFlex>
          <div class="pb-0 p-16" fxLayout="row">
            <div class="h2">Interlocuteur</div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="p-16" fxFlex>
            <div class="image">
              <img *ngIf="focus.focusDetails.interlocutor.image && focus.focusDetails.interlocutor.image.length > 0"
                [src]="focus.focusDetails.interlocutor.image" class="huge m-0" />
            </div>
            <div fxLayoutAlign="center center">
              <button fxLayoutAlign="center" mat-fab color="warn" type="button" class="upload"
                (click)="interLocutorImage.click()">
                <mat-icon>{{
                  focus.focusDetails.interlocutor.image && focus.focusDetails.interlocutor.image.length > 0 ? "edit" : "add_photo_alternatet"
                  }}</mat-icon>
              </button>
              <input name="interlocutorImage" (change)="uploadImageForInterlocutor($event)" type="file"
                #interLocutorImage hidden accept="image/*" />
            </div>
          </div>

          <form fxLayout="column" class="p-16">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input [(ngModel)]="focus.focusDetails.interlocutor.lastName" name="lastName" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Prénom</mat-label>
              <input [(ngModel)]="focus.focusDetails.interlocutor.firstName" name="firstName" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Profession</mat-label>
              <input [(ngModel)]="focus.focusDetails.interlocutor.profession" name="profession" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Entreprise</mat-label>
              <input [(ngModel)]="focus.focusDetails.interlocutor.companyName" name="companyName" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Presentation</mat-label>
              <textarea matInput placeholder="Presentation" name="presentation"
                [(ngModel)]="focus.focusDetails.interlocutor.presentation" rows="5"></textarea>
            </mat-form-field>

          </form>
        </div>
      </fuse-widget>
    </div>
  </div>
</div>
