<div class="demo-sidebar">
  <form
    #f="ngForm"
    (ngSubmit)="getActivities(f)"
    class="mat-card mat-elevation-z4 p-8"
    fxLayout="column"
    fxLayoutAlign="start"
    name="form"
  >
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxFlex="1 0 auto"
      class="mt-16"
    >
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Sélection secteur</mat-label>
        <mat-select
          (selectionChange)="getEmployeesForDepartment()"
          [(ngModel)]="selectedDepartment"
          name="department"
        >
          <mat-option
            *ngFor="let department of departments"
            [value]="department"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Sélection salariés</mat-label>
        <mat-select
          multiple
          required
          [(ngModel)]="activityParameters.employees"
          name="employees"
        >
          <mat-option>
            <ngx-mat-select-search
              ngModel
              name="searchINput"
              (ngModelChange)="searchEmployee($event)"
              placeholderLabel="Rechercher"
              noEntriesFoundLabel="pas de resultats"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let employee of filtredEmployees"
            [value]="employee"
          >
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Début</mat-label>
        <input
          required
          matInput
          [matDatepicker]="startDatePicker"
          placeholder="Du"
          [(ngModel)]="activityParameters.startDate"
          name="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Fin</mat-label>
        <input
          required
          matInput
          [matDatepicker]="endDatePicker"
          placeholder="Au"
          [(ngModel)]="activityParameters.endDate"
          name="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button type="submit" mat-raised-button color="accent" fxFlex="100">
        Afficher
        <mat-icon class="s-20">filter_list</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" class="mt-12">
      <mat-checkbox
        *ngIf="!isTemporaryWorker"
        [(ngModel)]="displaySimpleList"
        name="displaySimpleList"
        (change)="changeDisplayMode($event.checked)"
        >Mode tableau simplifié
      </mat-checkbox>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxFlex="1 0 auto"
      class="mt-8"
    >
      <div class="legend">
        <label class="mat-body-2">Légende</label>
        <ul>
          <li><span class="green-bg"></span>Pointage terminé</li>
          <li><span class="red-bg"></span>Congé / Absence</li>
          <li><span class="yellow-bg"></span>Pointage non terminé</li>
          <li><span class="blue-bg"></span>Absence récupération</li>
          <li><span class="violet-bg"></span>Mission à l'étranger</li>
          <li><span class="gray-bg"></span>Donnée manquante</li>
        </ul>
      </div>
    </div>
  </form>
</div>
