<div id="mail" class="page-layout carded left-sidebar inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="mail-main-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <mail-main-sidebar></mail-main-sidebar>
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <div
        class="search-wrapper"
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <button
          mat-icon-button
          class="sidebar-toggle"
          fxHide.gt-sm
          (click)="toggleSidebar('mail-main-sidebar')"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <div class="search" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="secondary-text">search</mat-icon>
          <input
            [(ngModel)]="searchInput"
            placeholder="Rechercher"
            fxFlex
            (keyup.enter)="searchDiscussions($event)"
          />
          <mat-icon (click)="searchDiscussions(null)" style="cursor: pointer;"
            >close</mat-icon
          >
        </div>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div
      class="content-card"
      [ngClass]="{ 'current-mail-selected': currentMail }"
    >
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <div *ngIf="currentMail" fxHide.gt-xs>
          <button mat-icon-button (click)="currentMail = null">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
          </button>
        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->
      <!-- CONTENT -->
      <div class="content" fxLayout="row">
        <mail-list
          infiniteScroll
          [infiniteScrollDistance]="3"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
          fusePerfectScrollbar
          fxFlex
          [isScrolling]="isScrolling"
          [completed]="paginatedDiscussions.discussions.length >= paginatedDiscussions.total"
          (getMore)="onScroll()"
        ></mail-list>
        <mail-details fusePerfectScrollbar fxFlex></mail-details>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
