@import "src/@fuse/scss/fuse";

#academy-courses {

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 100px;
        max-height: 100px;
        text-align: center;
        overflow: hidden;
        background: #1A237E;
        background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

        @include media-breakpoint('xs') {
            //height: 240px;
            padding: 16px;
        }
        button.back{
          margin-top: 20px;
        }
        h1, button.back {
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0.01em;
            text-align: center;
            @include media-breakpoint('xs') {
                font-size: 24px;
            }
        }
        div.new-audit {
          position: absolute;
          right:10px;
          top:35%;
        }

    }

    .content {

        .category-selector {
            min-width: 320px;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 24px auto;
            padding: 0 20px;

            @include media-breakpoint('xs') {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint('gt-xs') {
                    margin-right: 16px;
                }
            }
        }

        .courses {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;

                &:hover {

                    .course-content {
                        cursor: pointer;
                    }
                }

                .course-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;
                        background: transparent;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                            color:blue;
                        }
                        button.delete-template{
                          display: none;
                        }
                        &:hover {
                          button.delete-template {
                            display: inline-block;
                          }
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        padding: 12px;

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}
