<div id="academy-courses" class="page-layout simple">
  <!-- HEADER -->
  <div
    class="header accent p-16 p-sm-24"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div fxLayout="row" class="w-100-p">
      <button
        matTooltip="Retour à la liste des audits"
        mat-icon-button
        class="back mr-16"
        [routerLink]="'/audits/'+ poleId"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1 [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
        ADMINISTRATION DES AUDITS
      </h1>
      <div class="new-audit" fxLayoutAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item (click)="popupNewTemplate()">
            <span>Ajouter un nouveau modèle</span>
          </button>
          <button mat-menu-item [routerLink]="'/audits-possibleValues'">
            <span>Gérer les valeurs possibles</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <div fxLayout="column" fxLayoutAlign="center">
      <div
        *ngIf="templates"
        class="courses"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        [@animateStagger]="{ value: '50' }"
      >
        <div
          *ngFor="let template of templates; let tempalteIndex = index"
          class="course"
          fxFlex="100"
          fxFlex.gt-xs="50"
          fxFlex.gt-sm="33"
          [ngClass]="template.name"
          [@animate]="{ value: '*', params: { y: '100%' } }"
        >
          <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon [routerLink]="'/audits-templates/' + template.id" matTooltip="Une vérification de ce modèle est nécessaire" *ngIf="template.status === 'invalid'" class="yellow-700-fg" >warning</mat-icon>
              <div class="category" color="accent" [routerLink]="'/audits-templates/' + template.id">
                {{ template.name }}
              </div>
              <div>
                <button class="delete-template"
                        matTooltip="Supprimer le modèle"
                        mat-icon-button color="warn"
                        (click)="removeTemplate(template)" >
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
            <div
              [routerLink]="'/audits-templates/' + template.id"
              class="content"
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex="1 1 auto"
            >
            </div>
          </div>
        </div>

        <div class="no-courses" *ngIf="templates.length === 0">
          <p>
            Aucun template dans la liste
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->
</div>
