<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">
        Générer une nouvelle version de l'application
      </span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div  class="p-24 m-0" fusePerfectScrollbar>
    <form #f="ngForm" name="changelogForm" class="compose-form" fxLayout="column">
      <mat-form-field appearance="outline" *ngIf="mode != 'edit'">
        <mat-label>Type de la mise à jour</mat-label>
        <mat-select name="version_type" [(ngModel)]="versionType">
          <mat-option value="major">
            Majeure
          </mat-option>
          <mat-option value="minor" selected>
            Mineure
          </mat-option>
          <mat-option value="patch">
            Patch
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <div> <span class="green-700-bg p-4 fuse-white-500-fg border-radius-2">Nouveautés</span> </div>
        <mat-form-field appearance="outline" class="w-100-p">
          <mat-label></mat-label>
          <textarea matInput name="new" [(ngModel)]="new" rows="6">
          </textarea>
        </mat-form-field>
        </div>
        <div>
          <div> <span class="accent-700-bg p-4 fuse-white-500-fg border-radius-2">Évolutions</span> </div>
          <mat-form-field appearance="outline" class="w-100-p">
            <mat-label></mat-label>
            <textarea matInput name="improved" [(ngModel)]="improvments" rows="6">
          </textarea>
          </mat-form-field>
        </div>
        <div>
          <div> <span class="warn-700-bg p-4 fuse-white-500-fg border-radius-2">Correctifs</span> </div>
          <mat-form-field appearance="outline" class="w-100-p">
            <mat-label></mat-label>
            <textarea matInput name="fixed" [(ngModel)]="fixes" rows="6">
          </textarea>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end">
          <button [disabled]="(mode != 'edit' && !versionType) || (new.trim().length === 0 && improvments.trim().length === 0 && fixes.trim().length === 0)"
          mat-raised-button
          color="accent"
          type="submit"
          (click)="save()">
            Sauvegarder <mat-icon>add</mat-icon>
          </button>
        </div>
    </form>
  </div>
