<div fxLayout="column" fxLayoutAlign="space-between">
  <form
    #f="ngForm"
    (ngSubmit)="getExecutiveEmployeeCounters(f)"
    name="form"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-form-field fxFlex fxFlex.gt-sm="20" class="pr-4">
      <mat-select name="year" [(ngModel)]="year" required>
        <mat-option *ngFor="let year of years" [value]="year">
          {{ 'Année ' +  year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex fxFlex.gt-sm="20" class="pr-4">
      <button type="submit" mat-raised-button color="accent">
        Afficher
      </button>
    </div>
  </form>
  <div class="mt-12">
    <mat-table
      [dataSource]="executiveEmployees"
      [@animateStagger]="{ value: '50' }"
    >
      <ng-container matColumnDef="fullName">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >Salariés</mat-header-cell
        >
        <mat-cell
          fxLayoutAlign="center center"
          *matCellDef="let executiveEmployee"
        >
          <span class="job-title">
            {{ executiveEmployee.fullName }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="presenceCounter">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >Compteur de présence</mat-header-cell
        >
        <mat-cell
          fxLayoutAlign="center center"
          *matCellDef="let executiveEmployee"
        >
          <span class="job-title">
            {{ executiveEmployee.presenceCounter }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="holidaysCounter">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
          >Compteur de congés payés</mat-header-cell
        >
        <mat-cell
          fxLayoutAlign="center center"
          *matCellDef="let executiveEmployee"
        >
          <span class="job-title">
            {{ executiveEmployee.holidaysCounter }}
          </span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let executiveEmployee; columns: displayedColumns"
        class="activity"
        [class.profile-1]="executiveEmployee.profileNumber == 1"
        matRipple
        [@animate]="{ value: '*', params: { y: '100%' } }"
      >
      </mat-row>
    </mat-table>
  </div>
</div>
