<!-- Activities Display Templates-->
<!-- PER EMPLOYEE MODE -->
<ng-template #searchPanel>
  <div class="content">
    <div
      class="header p-8"
      fxLayout.gt-md="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="end center"
    >
      <div
        fxLayoutAlign="space-between center"
        class="search-wrapper mt-16 mt-md-0 pl-4"
      >
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button class="secondary-text">
            <mat-icon>search</mat-icon>
          </button>
          <input
            placeholder="Filtrer les salariés par site"
            name="search"
            [(ngModel)]="filterValue"
            (keyup.enter)="onFilterBySite()"
          />
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #perEmployeeDisplay>
  <div class="p-md-24">
    <div *ngFor="let activityPerEmployee of activitiesPerEmployee" class="mt-8">
      <div fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex class="mb-8">
          <div class="employee-row mat-elevation-z2">
            {{ activityPerEmployee.employee.fullName }}
          </div>
        </div>
        <div
          *ngFor="
            let activityPerWeek of activityPerEmployee.activitiesPerWeek;
            index as i
          "
          fxLayout="row"
          class="mb-8"
        >
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlex="10"
            fxHide.lt-md
            class="week-number-column"
          >
            <div>
              <div class="week-number-label">Semaine</div>
              <div class="week-number">
                {{ activityPerWeek.weekNumber }}
              </div>
              <div class="total-worktime">
                {{ activityPerWeek.totalWorkTimeString }}
              </div>
            </div>
          </div>
          <div fxFlex>
            <mat-table [dataSource]="activityPerWeek.activities">
              <ng-container matColumnDef="day">
                <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef
                  >DATE</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.day }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="startTime">
                <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef
                  >DÉBUT</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.startTime }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="totalBreakTimeString">
                <mat-header-cell
                  fxLayoutAlign="start center"
                  *matHeaderCellDef
                  fxHide.lt-md
                  >PAUSES</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                  fxHide.lt-md
                >
                  <span class="job-title">
                    {{ activity.totalBreakTimeString }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="endTime">
                <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef
                  >FIN</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.endTime }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="totalWorkedTimeString">
                <mat-header-cell
                  fxLayoutAlign="start center"
                  *matHeaderCellDef
                  fxHide.lt-sm
                  >TOTAL HEURES</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                  fxHide.lt-sm
                >
                  <span class="job-title">
                    {{ activity.totalWorkedTimeString }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="site">
                <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef
                  >SITE</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.site.name }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="bonusString">
                <mat-header-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-sm
                  *matHeaderCellDef
                  >PRIME</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-sm
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.bonusString }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="provider">
                <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef
                  >Agence</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.providerName }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="manuallyCreated">
                <mat-header-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-sm
                  *matHeaderCellDef
                  >[T]</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-sm
                  *matCellDef="let activity"
                >
                  <span class="job-title" *ngIf="activity.activityType == 1">
                    <mat-icon color="accent">
                      {{
                        activity.manuallyCreated
                          ? "keyboard"
                          : "stay_current_portrait"
                      }}
                    </mat-icon>
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="title">
                <mat-header-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-md
                  *matHeaderCellDef
                  >REMARQUE</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="start center"
                  fxHide.lt-md
                  *matCellDef="let activity"
                >
                  <span class="job-title">
                    {{ activity.title }}
                  </span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell
                  fxLayoutAlign="center center"
                  fxHide.lt-sm
                  class="actions-header"
                  *matHeaderCellDef
                  >ACTIONS</mat-header-cell
                >
                <mat-cell
                  fxLayoutAlign="center center"
                  fxHide.lt-sm
                  class="actions-cell"
                  *matCellDef="let activity"
                >
                  <span class="job-title" *ngIf="habilitation.canEdit()">
                    <button mat-button [matMenuTriggerFor]="actionsMenu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                      <button
                        mat-menu-item
                        (click)="updateActivity(activity)"
                        [disabled]="activity.activityType != 1"
                      >
                        <mat-icon color="accent">edit</mat-icon>
                        Modifier
                      </button>
                      <button
                        mat-menu-item
                        (click)="updateBonusActivity(activity)"
                        [disabled]="activity.activityType != 1"
                      >
                        <mat-icon color="primary">euro_symbol</mat-icon>
                        Primes
                      </button>
                      <button
                        mat-menu-item
                        (click)="updateBreaksActivity(activity)"
                        [disabled]="activity.activityType != 1"
                      >
                        <mat-icon color="primary">local_cafe</mat-icon>
                        Pauses
                      </button>
                      <button
                        mat-menu-item
                        (click)="deleteActivity(activity)"
                        [disabled]="
                          (activity.activityType != 1 &&
                            activity.activityType != 2 &&
                            activity.activityType != 5)
                        "
                        *ngIf="habilitation.canDelete()"
                      >
                        <mat-icon color="warn">delete_outline</mat-icon
                        >Supprimer
                      </button>
                    </mat-menu>
                  </span>
                </mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
                [hidden]="i > 0"
              ></mat-header-row>
              <mat-row
                *matRowDef="let activity; columns: displayedColumns"
                class="activity"
                matRipple
                [class.green-bg]="
                  activity.activityType === 1 && activity.activityState === 3
                "
                [class.yellow-bg]="
                  activity.activityType === 1 && activity.activityState < 3
                "
                [class.red-bg]="
                  activity.activityType === 2 ||
                  activity.activityType === 9 ||
                  activity.activityType === 4
                "
                [class.gray-bg]="activity.activityType === 0"
                [class.violet-bg]="activity.activityType === 5"
                [class.blue-bg]="activity.activityType === 23"
              >
              </mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Module Dipslay Templates -->
<!-- Temporary Workers Template -->
<ng-container>
  <!-- Admin Display -->
  <mat-tab-group
    mat-align-tabs="center"
    mat-stretch-tabs
    *ngIf="habilitation.isAdmin()"
  >
    <!-- Temporary Workers Pointages -->
    <mat-tab label="Pointage intérimaires">
      <div class="tab-content mt-8">
        <ng-container *ngTemplateOutlet="searchPanel"></ng-container>
        <ng-container *ngTemplateOutlet="perEmployeeDisplay"></ng-container>
      </div>
    </mat-tab>
    <!-- Manage Temporary Workers -->
    <mat-tab label="Gestion des intérimaires">
      <div class="tab-content mt-8">
        <div class="p-12 content">
          <activity-temporary-workers></activity-temporary-workers>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!-- Simple User Display -->
  <div class="mt-12" *ngIf="!habilitation.isAdmin()">
    <ng-container *ngTemplateOutlet="searchPanel"></ng-container>
    <ng-container *ngTemplateOutlet="perEmployeeDisplay"> </ng-container>
  </div>
</ng-container>
