<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{ mode == "edit" ? "Édition codes traçabilité" : "Création lignes traçabilité" }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <ng-template #addMode>
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="pb-32" >
            <button
            class="mb-8"
            mat-raised-button
            color="accent"
            type="button"
            (click)="addTraceabilityForPreviousWeekSites()">
            <span fxHide.lt-md>Génération des sites de la semaine précédente</span>
            <span fxHide.gt-sm>Génération semaine précédente</span>
          </button>
          <blockquote>
              <p>
                  Cette opération génère des lignes de traçabilité pour tous les sites de la semaine précédente qui ne figurent pas dans le tableau de traçabilité.
              </p>
          </blockquote>
        </div>
        <mat-divider class="my-32"></mat-divider>
        <h3>Choisir un site dans la liste</h3>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Site</mat-label>
          <mat-select name="site" required [(ngModel)]="traceability.site.id">
            <mat-option
              *ngFor="let site of sites"
              [value]="site.id"
              [ngClass]="{ 'disabled-site': siteAlreadyExist(site) }"
            >
              {{ site.name }}
            </mat-option>
          </mat-select>
          <button
            matSuffix
            mat-icon-button
            color="accent"
            type="button"
            (click)="$event.stopPropagation(); addTraceability()"
            [disabled]="siteAlreadyExist(traceability.site)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </ng-template>
    <ng-template #editMode>
      <div fxFlex.gt-sm="100">
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
          <mat-tab label="Tampons et bagues">
            <div class="tab-content mt-8">
              <!-- TAMPON -->
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                  <h2>Tampons</h2>
                </div>
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-around center"
                  *ngIf="habilitation.canCreate()"
                >
                  <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>Code</mat-label>
                    <mat-select
                      msInfiniteScroll
                      (infiniteScroll)="getNextCodes()"
                      [complete]="paginationParameter.start >= total"
                      [threshold]="'30%'"
                      name="code"
                      [(ngModel)]="traceabilityItem.code"
                      (openedChange)="openedChange($event)"
                    >
                      <mat-option>
                        <ngx-mat-select-search
                          [(ngModel)]="searchInput"
                          name="searchINput"
                          (ngModelChange)="searchCode($event)"
                          placeholderLabel="Rechercher"
                          noEntriesFoundLabel="pas de resultats"
                          disableScrollToActiveOnOptionsChanged="true"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let code of codes" [value]="code">
                        {{ code.code }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="40">
                    <mat-label>Forme</mat-label>
                    <mat-select
                      name="shape"
                      required
                      [(ngModel)]="traceabilityItem.material.id"
                      (selectionChange)="updateDefaultShape()"
                    >
                      <mat-option
                        *ngFor="let shape of shapes"
                        [value]="shape.id"
                      >
                        {{ shape.shape }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button
                    type="submit"
                    mat-icon-button
                    color="accent"
                    class="mat-elevation-z1"
                    (click)="addTraceabilityItem()"
                    [disabled]="
                      !(
                        traceabilityItem?.material?.id &&
                        traceabilityItem?.code.id
                      )
                    "
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <!-- TAMPON LIST -->
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  *ngFor="
                    let traceabilityItem of traceability.traceabilityItems;
                    index as i
                  "
                >
                  <div fxLayout="row" *ngIf="!traceabilityItem.isRing">
                    <p class="m-8" *ngIf="!checkEditionMode(traceabilityItem)">
                      {{ traceabilityItem.itemTitle }}
                    </p>
                    <p
                      class="m-8"
                      fxLayoutAlign="space-between center"
                      *ngIf="checkEditionMode(traceabilityItem)"
                    >
                      {{ traceabilityItem.code.code }}
                    </p>
                    <mat-form-field
                      fxLayoutAlign="space-between center"
                      appearance="outline"
                      *ngIf="checkEditionMode(traceabilityItem)"
                    >
                      <mat-label>Forme</mat-label>
                      <mat-select
                        name="shape"
                        required
                        [(ngModel)]="selectedTraceabilityItem.material.id"
                      >
                        <mat-option
                          *ngFor="let shape of shapes"
                          [value]="shape.id"
                        >
                          {{ shape.shape }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="!checkEditionMode(traceabilityItem)">
                      <button
                        *ngIf="habilitation.canEdit()"
                        mat-icon-button
                        color="accent"
                        (click)="
                          enableUpdateTraceabilityItemMode(traceabilityItem)
                        "
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        *ngIf="habilitation.canDelete()"
                        mat-icon-button
                        color="warn"
                        (click)="deleteTraceabilityItem(traceabilityItem)"
                      >
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>

                    <div
                      *ngIf="checkEditionMode(traceabilityItem)"
                      class="buttons-row"
                      fxLayout="row wrap"
                      fxLayoutAlign="space-between center"
                    >
                      <button
                        type="button"
                        mat-icon-button
                        color="warn"
                        (click)="disableUpdateTraceabilityItemMode()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <button
                        type="button"
                        mat-icon-button
                        color="accent"
                        (click)="updateTraceabilityItem()"
                      >
                        <mat-icon>check</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- BAGUE -->
              <div fxLayout="column">
                <h2>Bagues</h2>
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-around center"
                  *ngIf="habilitation.canCreate()"
                >
                  <mat-form-field appearance="outline" fxFlex="80">
                    <mat-label>Code</mat-label>
                    <input
                      [(ngModel)]="ringTraceabilityItem.code.code"
                      placeholder="Code"
                      matInput
                      name="ringCode"
                      maxlength="3"
                      class="text-uppercase"
                    />
                  </mat-form-field>
                  <button
                    type="button"
                    mat-icon-button
                    color="accent"
                    class="mat-elevation-z1"
                    (click)="addRingTraceabilityItem()"
                    [disabled]="ringTraceabilityItem?.code?.code?.length <= 1"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  *ngFor="
                    let traceabilityItem of traceability.traceabilityItems;
                    index as i
                  "
                >
                  <div fxLayout="row" *ngIf="traceabilityItem.isRing">
                    <p class="m-8">{{ traceabilityItem.itemTitle }}</p>
                    <button
                      *ngIf="habilitation.canDelete()"
                      mat-icon-button
                      color="warn"
                      (click)="deleteTraceabilityItem(traceabilityItem)"
                    >
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab
            label="Couleur et commentaires"
            *ngIf="habilitation.isAdmin()"
          >
            <div class="tab-content mt-8">
              <div
                name="traceabilityForm"
                class="compose-form"
                fxLayout="column"
                fxFlex
              >
                <mat-form-field appearance="outline">
                  <mat-label>Site</mat-label>
                  <mat-select
                    name="site"
                    required
                    [(ngModel)]="traceability.site.id"
                    disabled
                  >
                    <mat-option *ngFor="let site of sites" [value]="site.id">
                      {{ site.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div fxLayout="column" fxFlex>
                  <mat-form-field appearance="outline">
                    <mat-label>Couleur</mat-label>
                    <mat-select name="color" [(ngModel)]="traceability.color">
                      <mat-option *ngFor="let color of colors" [value]="color">
                        {{ color }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Commentaires</mat-label>
                    <input
                      [(ngModel)]="traceability.description"
                      placeholder="Un commentaire"
                      matInput
                      name="description"
                    />
                  </mat-form-field>
                </div>
                <div
                  mat-dialog-actions
                  class="m-0 p-16"
                  fxLayout="row"
                  fxLayoutAlign="end end"
                >
                  <button
                    mat-raised-button
                    color="accent"
                    (click)="updateColorAndComment()"
                  >
                    Mettre à jour
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-template>

    <ng-container *ngIf="mode == 'new'">
      <ng-container *ngTemplateOutlet="addMode"></ng-container>
    </ng-container>
    <ng-container *ngIf="mode == 'edit'">
      <ng-container *ngTemplateOutlet="editMode"></ng-container>
    </ng-container>
  </div>
</div>
