<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{
          data.mode == "edit"
            ? "Modifier un partenaire"
            : "Ajouter un partenaire"
        }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="client.name"
          placeholder="Nom de client"
          matInput
          name="name"
          required
          minlength="3"
        />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Veuillez renseigner le nom (3 caractères minimum) !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom de l'entreprise</mat-label>
        <input
          [(ngModel)]="client.entrepriseName"
          placeholder="'Nom de l'entreprise'"
          matInput
          name="entrepriseName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input
          [(ngModel)]="client.address"
          placeholder="Adresse de client"
          matInput
          name="address"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ville</mat-label>
        <input
          [(ngModel)]="client.city"
          placeholder="Ville de client"
          matInput
          name="city"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Code postal</mat-label>
        <input
          [(ngModel)]="client.zipCode"
          placeholder="Code postal"
          matInput
          name="zipCode"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pays</mat-label>
        <input
          [(ngModel)]="client.country"
          placeholder="Pays"
          matInput
          name="country"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input
          [(ngModel)]="client.phone"
          placeholder="Téléphone"
          matInput
          name="phone"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Téléphone 2</mat-label>
        <input
          [(ngModel)]="client.phone2"
          placeholder="Téléphone"
          matInput
          name="phone"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fax</mat-label>
        <input [(ngModel)]="client.fax" placeholder="Fax" matInput name="fax" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Numéro RCS</mat-label>
        <input
          [(ngModel)]="client.rcsNumber"
          placeholder="Numéro RCS"
          matInput
          name="rcsNumber"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Numéro TVA</mat-label>
        <input
          [(ngModel)]="client.vatNumber"
          placeholder="Numéro TVA"
          matInput
          name="vatNumber"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom du contact</mat-label>
        <input
          [(ngModel)]="client.contact"
          placeholder="Contact"
          matInput
          name="contact"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="client.email"
          placeholder="Email"
          matInput
          name="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Site internet</mat-label>
        <input
          [(ngModel)]="client.webSite"
          placeholder="Site internet"
          matInput
          name="webSite"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Commentaires</mat-label>
        <input
          [(ngModel)]="client.comments"
          placeholder="Remarques"
          matInput
          name="comment"
        />
      </mat-form-field>
      <mat-checkbox [(ngModel)]="client.isEnable" name="isEnable"
        >Active ?
      </mat-checkbox>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
