<div id="mail-confirm" fxLayout="column">
    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <mat-icon class="s-96 green-600-fg">email</mat-icon>
            </div>
            <div *ngIf="email">
                <div class="title green-600-fg">Confirmation par émail</div>
                <div class="subtitle">
                    <p>
                        Un message de confirmation vous a été envoyé par émail à l'adresse <b>{{email}}</b>
                    </p>
                    <p>
                        Veuillez vérifier votre boite de messagerie, cliquer sur le lien de  réinitialisation et saisir votre nouveau mot de passe
                    </p>
                </div>
            </div>

            <div *ngIf="!email">
                <div class="title green-600-fg">Réinitialisation de mot de passe</div>
                <div class="subtitle">
                    <p>
                        Votre mot de passe a été réinitialisé avec succès.
                    </p>
                    <p>
                        Veuillez vous connecter à l'application avec votre adresse mail et votre nouveau mot de passe.
                    </p>
                </div>
                <div class="message" >
                    <a class="link" [routerLink]="'/login'">CONNECTEZ-VOUS</a>
                </div>
            </div>
            
        </div>

    </div>

</div>
