<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{
          data.mode == "edit" ? "Modifier fournisseur" : "Ajouter fournisseur"
        }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          #name="ngModel"
          [(ngModel)]="provider.name"
          placeholder="Titre par default"
          matInput
          name="name"
          required
          minlength="3"
        />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Veuillez renseigner le nom du fournisseur (3 caractères minimum) !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input
          #adress="ngModel"
          [(ngModel)]="provider.adress"
          placeholder="Adresse"
          matInput
          name="adress"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ville</mat-label>
        <input
          #city="ngModel"
          [(ngModel)]="provider.city"
          placeholder="Ville"
          matInput
          name="city"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pays</mat-label>
        <input
          #country="ngModel"
          [(ngModel)]="provider.country"
          placeholder="Pays"
          matInput
          name="country"
        />
      </mat-form-field>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
