<form class="flex flex-col mat-card mat-elevation-z4 p-4 py-6 mx-2 mt-4" name="form">
  <mat-form-field appearance="outline">
    <mat-label>Sélection zone</mat-label>
    <mat-select [(ngModel)]="absencesMainViewModel.departmentId" name="departmentId">
      <mat-option>
        <ngx-mat-select-search ngModel name="searchINput" (ngModelChange)="searchDepartment($event)"
          placeholderLabel="Rechercher" noEntriesFoundLabel="pas de resultats"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let department of filtredDepartments" [value]="department.id">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h3 class="mt-0" matsubheader>Période d'affichage</h3>
  <mat-form-field appearance="outline" >
    <mat-label>Début</mat-label>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Du" [(ngModel)]="absencesMainViewModel.startDate"
      name="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" >
    <mat-label>Fin</mat-label>
    <input matInput [matDatepicker]="endDatePicker" placeholder="Au" [(ngModel)]="absencesMainViewModel.endDate"
      name="endDate" />
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="getAbsencesByDepartementForDate()">
    Afficher
    <mat-icon class="ml-1">filter_list</mat-icon>
  </button>
</form>