<div class=container>
  <div>
    <h3>{{'Catégorie ' + currentCategorie.name}}</h3>
    <label>{{'identifiant : ' + currentCategorie.id}}</label>
  </div>
    <div class=title>
        <input type="text" [(ngModel)]="post.title"  placeholder="Titre de l'article"/>
      </div>

      <div id="ref" class="content" #ref contenteditable="true" style="" >
      </div>


      <div style="padding:25px;">
        <h6>Pièce jointe</h6>
          <input type="file" (change)="filePicked($event)" >
      </div>

      <div>
          <button (click)="add()" >Insérer</button>
      </div>


      <div class="test" *ngIf="posts" style="background-color:azure; display: none;">
        <img src="{{posts[1].src}}" alt="">
        <div   [innerHTML]="posts[1].content" >

        </div>
      </div>


      <router-outlet></router-outlet>


</div>



