<fuse-progress-bar></fuse-progress-bar>

<ng-container *ngIf="fuseConfig.layout.style === 'vertical-layout-1'">
    <vertical-layout-1></vertical-layout-1>
</ng-container>
<!-- THEME OPTIONS PANEL -->
<button *ngIf="showConfigButton === true" mat-icon-button class="warn mat-elevation-z2 theme-options-button"
        [ngClass]="{'right-side-panel': fuseConfig.layout.sidepanel.position === 'right',
                    'side-panel-hidden': true}"
                    [routerLink]="configurationUrl">
    <mat-icon>settings</mat-icon>
</button>

<fuse-sidebar name="themeOptionsPanel" class="theme-options-sidebar" position="right" [invisibleOverlay]="true">
    <fuse-theme-options></fuse-theme-options>
</fuse-sidebar>
<!-- / THEME OPTIONS PANEL -->
<ngx-ui-loader
  fgsColor="#039be5"
  fgsPosition="center-center"
  fgsSize="60"
  fgsType="rectangle-bounce"
  gap="24"
  logoUrl=""
  logoPosition="center-center"
  logoSize=""
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(40, 40, 40, 0.8)"
  pbColor="#039be5"
  pbDirection="ltr"
  pbThickness="3"
  hasProgressBar="true"
  text=""
  textColor="#FFFFFF"
  textPosition="center-center"
></ngx-ui-loader>
