<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">
        Ajouter Prime
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
      <mat-tab label="Prime Trajet">
        <form
          #f="ngForm"
          (ngSubmit)="updateBonusCategory(f)"
          name="composeForm"
          class="compose-form mt-8"
          fxLayout="column"
          fxFlex
        >
          <mat-form-field appearance="outline">
            <mat-label>Prime Trajet</mat-label>
            <mat-select
              #bonusCategory="ngModel"
              name="bonusCategory"
              [(ngModel)]="activity.bonusCategory.id"
              required
            >
              <mat-option
                *ngFor="let bonusCategory of bonusCategories"
                [value]="bonusCategory.id"
              >
                {{ bonusCategory.fullTitle }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                bonusCategory.invalid &&
                (bonusCategory.dirty || bonusCategory.touched)
              "
            >
              Veuillez choisir une prime !
            </mat-error>
          </mat-form-field>
          <div
            mat-dialog-actions
            class="m-0 p-16"
            fxLayout="row"
            fxLayoutAlign="end end"
          >
            <button mat-raised-button color="accent" type="submit">
              Valider
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Prime Remplacement" *ngIf="!isTemporaryWorker">
        <form
          #f2="ngForm"
          (ngSubmit)="updateReplacementBonusCategory(f2)"
          name="composeForm"
          class="compose-form mt-8"
          fxLayout="column"
          fxFlex
        >
          <mat-form-field appearance="outline">
            <mat-label>Prime Remplacement</mat-label>
            <mat-select
              #replacementBonusCategory="ngModel"
              name="replacementBonusCategory"
              [(ngModel)]="activity.replacementBonusCategory.id"
              required
            >
              <mat-option
                *ngFor="
                  let replacementBonusCategory of replacementBonusCategories
                "
                [value]="replacementBonusCategory.id"
              >
                {{ replacementBonusCategory.fullTitle }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                replacementBonusCategory.invalid &&
                (replacementBonusCategory.dirty ||
                  replacementBonusCategory.touched)
              "
            >
              Veuillez choisir une prime !
            </mat-error>
          </mat-form-field>
          <div
            mat-dialog-actions
            class="m-0 p-16"
            fxLayout="row"
            fxLayoutAlign="end end"
          >
            <button mat-raised-button color="accent" type="submit">
              Valider
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
