<div id="mail" class="page-layout carded w-full inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="w-full">
      <div class="h-30 items-center bg-indigo-600 flex justify-between" color="primary">
        <div class="flex items-center">
          <span class="text-white text-2xl pl-10">Gestion des clients</span>
        </div>
        <div class="mr-4" *ngIf="habilitation.canCreate()">
          <button mat-icon-button matTooltip="Ajouter un client" class=" bg-red-500" (click)="addClient()">
            <mat-icon class=" text-white">add</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <!-- CONTENT TOOLBAR -->
        <div class="toolbar pl-6 pt-3">
          <div *ngIf="currentClient" class="block sm:hidden">
            <button mat-icon-button (click)="currentClient = null">
              <mat-icon class="secondary-text">arrow_back</mat-icon>
            </button>
          </div>
        </div>
        <!-- / CONTENT TOOLBAR -->
        <!-- CONTENT -->
        <div class="flex flex-wrap m-8 mt-3 bg-white rounded-lg border border-gray-200 shadow-md">
          <clients-list class="w-full mt-1 sm:w-1/4 h-100 border-r-2 border-gray-300"
            [ngClass]="{ 'hidden sm:flex': currentClient }"></clients-list>
          <clients-details class="w-full sm:w-3/4" [ngClass]="{ 'hidden sm:flex': currentClient==null }">
          </clients-details>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>