<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="academy-course-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>

            <div class="steps" *ngIf="currentAudit && currentAudit.menus">

                <div class="step"
                     *ngFor="let menu of currentAudit.menus; let i = index; let last = last; let first = first"
                     (click)="loadMenuSections(menu, i)"
                     [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                    <div class="index">
                        <span>{{ i + 1 }}</span>
                    </div>
                    <div class="title">{{menu.title}}</div>
                </div>

            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-16" fxHide.gt-md
                    (click)="toggleSidebar('academy-course-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button class="mr-16" [routerLink]="'/audits/'+ currentAudit?.poleId">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div>
                <h2 *ngIf="currentAudit" >{{'Établissement ' + currentAudit.site.name}}<span class="subtitle secondary-text">{{' - le '+ (currentAudit.date | date:'dd/MM/yyyy')}}</span></h2>
            </div>
            <button *ngIf="!isDraft"  fxLayoutAlign="end center" mat-icon-button [routerLink]="'/audit-print/' + currentAudit?.id"><mat-icon>print</mat-icon></button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content" *ngIf="currentAudit">
            <ng-container *ngFor="let step of currentAudit.menus; let i = index;">

                <div class="course-step" fusePerfectScrollbar
                     *ngIf="currentStep === i"
                     [@slideIn]="animationDirection">
              <div>
              </div>
                    <div id="course-step-content" *ngIf="currentMenu && currentMenu.id.length > 0" class="course-step-content">
                      <div class="section" *ngFor="let section of currentMenu.sections">
                        <h1 [innerHTML]="section.title" ></h1>
                        <div  class="audit-item p-16 mb-24" *ngFor="let item of section.items"
                            [class.mat-elevation-z2]="true">
                          <p [innerHTML]="item.title"></p>
                          <div fxLayout="row wrap" fxLayoutAlign="end end" >
                            <button (click)="updateEffectiveValue(item,v)" mat-raised-button class="m-4" color="{{item.effectiveValue==v ? 'accent' :''}}" *ngFor="let v of item.possibleValues.values" >{{v}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="course-step-content" *ngIf="currentMenu && currentMenu.id.length === 0" class="course-step-content">
                        <mat-form-field appearance="outline" class="w-100-p">
                            <mat-label>Rapport général</mat-label>
                            <textarea [readonly]="!habilitation.canEdit() || !isDraft" matInput name="title" [(ngModel)]="currentAudit.report" (change)="updateAuditPrperties()" rows="18">
                            </textarea>
                        </mat-form-field>
                        <mat-divider *ngIf="currentAudit.attachments && currentAudit.attachments.length > 0" class="mt-0"></mat-divider>
                        <div class="attachments p-4" fxLayout="row wrap" *ngIf="true || currentAudit.attachments && currentAudit.attachments.length > 0">
                            <div class="media" *ngFor="let attachment of currentAudit.attachments">
                                <img class="preview" [src]="attachment.url" />
                                <div class="title" [innerHTML]="attachment.fileName"></div>
                                <button *ngIf="isDraft" matTooltip="Retirer l'image" mat-button class="delete" (click)="removeAttachment(attachment)"><mat-icon color="warn">delete</mat-icon></button>
                            </div>
                        </div>
                        <div fxLayout="row" class="w-100-p" fxLayoutAlign="space-between center" *ngIf="isDraft">
                          <button (click)="filepicker.click()" mat-icon-button aria-label="Add photo" matTooltip="Inclure une image">
                            <mat-icon>photo</mat-icon>
                          </button>
                          <input hidden type="file" #filepicker (change)="attachmentPicked($event)" accept="image/x-png,image/gif,image/jpeg" >
                        </div>
                    </div>

              </div>
            </ng-container>
        </div>
        <!-- / CONTENT -->

        <div class="step-navigation">

            <button mat-fab class="previous mat-accent fuse-white-fg"
                    (click)="gotoPreviousStep()"
                    [disabled]="currentStep === 0"
                    [fxHide]="currentStep === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-fab class="next mat-accent fuse-white-fg"
                    (click)="gotoNextStep()"
                    [disabled]="currentStep === totalMenusCount - 1"
                    [fxHide]="currentStep === totalMenusCount - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>

            <button mat-fab class="done green-600"
                    *ngIf="isDraft"
                    (click)="saveAudit()"
                    [disabled]="currentStep !== totalMenusCount - 1"
                    [fxShow]="currentStep === totalMenusCount - 1">
                <mat-icon>check</mat-icon>
            </button>

        </div>

    </div>
    <!-- / CENTER -->

</div>
