<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="recap-activities-sidebar"
    position="left"
    lockedOpen="gt-sm"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <recap-activity-sidebar></recap-activity-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div
      id="non-printable"
      class="header accent p-24"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <button
        mat-icon-button
        class="sidebar-toggle mr-8"
        fxHide.gt-sm
        (click)="toggleSidebar('recap-activities-sidebar')"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <h2 class="m-0">Récapitulatif activité par secteur</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-sm-24 full-content">
      <recap-activity-content></recap-activity-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
