@import "src/@fuse/scss/fuse";

advance-salary-content {
  .employee-fullName {
    background-color: #f79b08 !important;
    color: white !important;
    font-weight: bold !important;
  }

  .datatable-body-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
  .datatable-header-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
}
