<div fxLayout="column" *ngIf="settings" class="p-24">
  <div fxLayout="row" fxLayoutAlign="end center" class="mb-12">
    <button mat-raised-button color="warn" (click)="save()">Sauvegarder</button>
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let c of homeSettingsToDisplay"
      cdkDrag
      [cdkDragDisabled]="c.componentId == 'highlightPost' || c.componentId == 'newsLetter'"
    >
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
        <div fxLayoutAlign="start center" fxFlex="70">
          <!-- HighlightPost -->
          <div
            *ngIf="c.displayOrder == 0"
            style="cursor: pointer !important;"
            matTooltip="Choisir un titre"
          >
            <div [satPopoverAnchor]="highlightPostTitlePopover" (click)="highlightPostTitlePopover.toggle()">
              {{ c.title }}
              <div *ngIf="c.highlightPostTitle" class="mt-8">
                {{ c.highlightPostTitle }}
              </div>
            </div>
            <div>
              <sat-popover #highlightPostTitlePopover hasBackdrop>
                <div class="popover-highlightPost mat-elevation-z8 font-size-14">
                  <div fxLayout="column">
                    <div fxLayout="row">
                      <mat-radio-group
                        (change)="
                          highlightPostTitle = null; selectedPost = null
                        "
                        class="mb-12"
                        aria-label="Choisir une option"
                        [(ngModel)]="highlightPostTitleMode"
                      >
                        <mat-radio-button class="mb-4" value="fromPosts"
                          >Choisir depuis la liste des
                          articles</mat-radio-button
                        >
                        <mat-radio-button value="customTitle"
                          >Ajouter un titre manuellement</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                    <mat-form-field
                      *ngIf="highlightPostTitleMode == 'fromPosts'"
                      appearance="outline"
                      fxFlex="100"
                      class="pl-4"
                    >
                      <mat-label>Choisir un article</mat-label>
                      <mat-select
                        name="posts"
                        [(ngModel)]="selectedPost"
                        (selectionChange)="postChanged($event)"
                      >
                        <mat-option *ngFor="let post of posts" [value]="post">
                          {{ post.title }} -
                          {{ post.timestamp | date: "dd/MM/yyyy" }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      *ngIf="highlightPostTitleMode == 'customTitle'"
                      appearance="outline"
                      fxFlex="100"
                      class="pl-4"
                    >
                      <mat-label>Ajouter un titre</mat-label>
                      <input
                        matInput
                        [(ngModel)]="highlightPostTitle"
                        minLength="20"
                      />
                    </mat-form-field>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="end center"
                      class="mb-12"
                    >
                      <button
                        mat-raised-button
                        color="warn"
                        (click)="saveHighlightPostTitle()"
                        [disabled]="!isHighlightTitleValid()"
                      >
                        Sauvegarder
                      </button>
                    </div>
                  </div>
                </div>
              </sat-popover>
            </div>
          </div>
          <!-- Our Services -->
          <div
            *ngIf="c.componentId == 'ourServices'"
            style="cursor: pointer !important;"
            matTooltip="Modifier nos services"
          >
            <div [satPopoverAnchor]="ourServicesPopover" (click)="ourServicesPopover.toggle()">
              {{ c.title }}
            </div>
            <div>
              <sat-popover #ourServicesPopover hasBackdrop>
                <div class="popover-custom mat-elevation-z8 font-size-14">
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    *ngFor="let item of serviceItems"
                    style="border-bottom: 1px solid;"
                  >
                    <h2
                      class="m-8"
                      contenteditable="true"
                      [textContent]="item.title"
                      (input)="item.title = $event.target.textContent"
                      (blur)="updateOurServices(item)"
                    >
                      {{ item.title }}
                    </h2>
                    <p
                      contenteditable="true"
                      [textContent]="item.description"
                      (input)="item.description = $event.target.textContent"
                      (blur)="updateOurServices(item)"
                    >
                      {{ item.description }}
                    </p>
                    <mat-divider></mat-divider>
                  </div>

                  <!-- <div fxLayout="row wrap" *ngFor="let item of serviceItems">
                      <h3>{{item.displayOrder + 1}}</h3>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Titre</mat-label>
                        <input matInput [(ngModel)]="item.title" (change)="updateOurServices(item)"/>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Description</mat-label>
                        <textarea matInput [(ngModel)]="item.description" (change)="updateOurServices(item)" rows="3">
                        </textarea>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Icon</mat-label>
                        <input matInput [(ngModel)]="item.icon" (change)="updateOurServices(item)"/>
                      </mat-form-field>
                      <mat-divider></mat-divider>
                  </div> -->
                </div>
              </sat-popover>
            </div>
          </div>
          <!-- Our Mission -->
          <div
            *ngIf="c.componentId == 'ourMission'"
            style="cursor: pointer !important;"
            matTooltip="Modifier notre mission"
          >
            <div
              [satPopoverAnchor]="ourMissionPopover"
              (click)="ourMissionPopover.toggle()"
            >
              {{ c.title }}
            </div>
            <div>
              <sat-popover #ourMissionPopover hasBackdrop>
                <div class="popover-custom mat-elevation-z8 font-size-14">
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    *ngFor="let item of missionItems"
                    style="border-bottom: 1px solid;"
                  >
                    <h2
                      class="m-8"
                      contenteditable="true"
                      [textContent]="item.title"
                      (input)="item.title = $event.target.textContent"
                      (blur)="updateOurMission(item)"
                    >
                      {{ item.title }}
                    </h2>
                    <p
                      contenteditable="true"
                      [textContent]="item.description"
                      (input)="item.description = $event.target.textContent"
                      (blur)="updateOurMission(item)"
                    >
                      {{ item.description }}
                    </p>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </sat-popover>
            </div>
          </div>
          <!-- Testimonials -->
          <div
            *ngIf="c.componentId == 'testimonials'"
            style="cursor: pointer !important;"
            matTooltip="Modifier témoignages"
          >
            <div
              [satPopoverAnchor]="testimonialsPopover"
              (click)="testimonialsPopover.toggle()"
            >
              {{ c.title }}
            </div>
            <div>
              <sat-popover #testimonialsPopover hasBackdrop>
                <div class="popover-custom mat-elevation-z8 font-size-14">
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    *ngFor="let item of testimonials"
                    style="border-bottom: 1px solid;"
                  >
                    <p
                      contenteditable="true"
                      [textContent]="item.author"
                      (input)="item.author = $event.target.textContent"
                      (blur)="updateTestimonials(item)"
                    >
                      {{ item.author }}
                    </p>
                    <p
                      contenteditable="true"
                      [textContent]="item.profession"
                      (input)="item.profession = $event.target.textContent"
                      (blur)="updateOurMission(item)"
                    >
                      {{ item.profession }}
                    </p>
                    <p
                      contenteditable="true"
                      [textContent]="item.company"
                      (input)="item.company = $event.target.textContent"
                      (blur)="updateTestimonials(item)"
                    >
                      {{ item.company }}
                    </p>
                    <p
                      contenteditable="true"
                      [textContent]="item.content"
                      (input)="item.content = $event.target.textContent"
                      (blur)="updateTestimonials(item)"
                    >
                      {{ item.content }}
                    </p>
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </sat-popover>
            </div>
          </div>
          <div
            *ngIf="
              c.componentId != 'highlightPost' &&
              c.componentId != 'ourServices' &&
              c.componentId != 'ourMission' &&
              c.componentId != 'testimonials'
            "
          >
            {{ c.title }}
          </div>
        </div>
        <div fxLayoutAlign="end center" fxFlex="30">
          <mat-slide-toggle [(ngModel)]="c.show"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
