<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
           <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
              <mat-cell *matCellDef="let contact">
                  <p class="job-title text-truncate">
                      {{contact.id}}
                  </p>
              </mat-cell>
          </ng-container>
           <!-- Job Title Column -->
           <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let contact">
                  <p class="text-truncate font-weight-600">{{contact.title}}</p>
              </mat-cell>
          </ng-container>
    <!-- Buttons Column -->



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
