<!-- <div fxLayout="column" fxFlex fusePerfectScrollbar>
  <mat-divider cdkFocusRegionEnd></mat-divider>

  <div *ngIf="hours" class="pb-16">
    <h3 class="pl-16 pt-45 font-size-16">Heures de prières (Paris)</h3>
    <mat-divider cdkFocusRegionEnd></mat-divider>
    <table class="simple clickable">
      <tbody>
        <tr>
          <td class="text-left">Fajr</td>
          <td class="text-bold">{{ hours.Fajr }}</td>
        </tr>
        <tr>
          <td class="text-left">Shourouq</td>
          <td class="text-bold">{{ hours.Sunrise }}</td>
        </tr>
        <tr>
          <td>Dohr</td>
          <td class="text-bold">{{ hours.Dhuhr }}</td>
        </tr>
        <tr>
          <td>Asr</td>
          <td class="text-bold">{{ hours.Asr }}</td>
        </tr>
        <tr>
          <td>Maghrib</td>
          <td class="text-bold">{{ hours.Maghrib }}</td>
        </tr>
        <tr>
          <td>Ichaa</td>
          <td class="text-bold">{{ hours.Isha }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div> -->
<div fxLayout="column" fxLayoutAlign="space-between">
  <div
    class="content p-16"
    fxLayout="column"
    fusePerfectScrollbar
    style="max-height: 92vh;"
  >
    <h1 class="mt-0">Mes tâches</h1>
    <div class="fuse-card mb-8" *ngFor="let task of pendingTasks">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxFlex>
          <div class="p-8" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h4">{{ task.folderName }}</div>
          </div>
          <div class="p-8" fxLayout="row wrap" fxLayoutAlign="start">
            <div class="h4">{{ task.content }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="settings-btn">
    <button
      *ngIf="showSettingsButton"
      mat-raised-button
      [routerLink]="'/settings'"
      (click)="commonService.closeSidebar('quickPanel')"
    >
      Paramètres
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
