<div fxLayout="column" fxFlex fusePerfectScrollbar>
  <mat-divider cdkFocusRegionEnd></mat-divider>

  <div *ngIf="hours" class="pb-16">
    <h3 class="pl-16 pt-45 font-size-16">Heures de prières (Paris)</h3>
    <mat-divider cdkFocusRegionEnd></mat-divider>
    <table class="simple clickable">
      <tbody>
        <tr>
          <td class="text-left">Fajr</td>
          <td class="text-bold">{{ hours.Fajr }}</td>
        </tr>
        <tr>
          <td class="text-left">Shourouq</td>
          <td class="text-bold">{{ hours.Sunrise }}</td>
        </tr>
        <tr>
          <td>Dohr</td>
          <td class="text-bold">{{ hours.Dhuhr }}</td>
        </tr>
        <tr>
          <td>Asr</td>
          <td class="text-bold">{{ hours.Asr }}</td>
        </tr>
        <tr>
          <td>Maghrib</td>
          <td class="text-bold">{{ hours.Maghrib }}</td>
        </tr>
        <tr>
          <td>Ichaa</td>
          <td class="text-bold">{{ hours.Isha }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    *ngIf="showSettingsButton"
    mat-flat-button
    class="settings-btn"
    [routerLink]="'/settings'"
    (click)="commonService.closeSidebar('quickPanel')"
  >
    Paramètres
    <mat-icon>settings</mat-icon>
  </button>
</div>
