<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logoavs.jpg">
            </div>

            <div class="title">AUTHENTIFICATION PAR ÉMAIL ET MOT DE PASSE</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        L'adresse émail est requise
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Veuillez saisir un émail valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Le mot de passe est obligatoire
                    </mat-error>
                </mat-form-field>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between end">
                    <div></div>
                    <a class="forgot-password" [routerLink]="'/login/reset-password-request'">
                        Réinitialiser mot de passe ?
                    </a>
                </div>
                <button (click)="login()" mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid">
                    SE CONNECTER
                </button>
                <mat-label *ngIf="showError">
                    <mat-error>Émail ou mot de passe incorrect</mat-error>
                </mat-label>
            </form>
            <div class="separator">
                <span class="text"></span>
            </div>
        </div>
    </div>
</div>
