<mat-table #table [dataSource]="posts" [@animateStagger]="{ value: '50' }">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let post">
      <p class="job-title text-truncate">
        {{ post.timestamp | date: "dd/MM/yyyy" }}
      </p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
    <mat-cell *matCellDef="let post">
      <p class="text-truncate font-weight-600">{{ post.title }}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let post">
      <button
        mat-icon-button
        color="warn"
        class="mat-elevation-z1"
        (click)="
          $event.preventDefault(); $event.stopPropagation(); disablePost(post)
        "
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let post; columns: displayedColumns"
    class="post"
    (click)="updatePost(post)"
    matRipple
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </mat-row>
</mat-table>
