<div fxLayout="column">
<h2 class="select-message-text hint-text p-8"
  fxLayout="column">
  Liste des fiches techniques
</h2>
<hr />
<div
  *ngIf="technicalSheets.length === 0"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <span class="no-messages-text hint-text">Pas de resultats</span>
</div>
<div class="mail-list" [@animateStagger]="{ value: '50' }">
  <technical-sheet-item
    matRipple
    *ngFor="let technicalSheet of technicalSheets"
    [technicalSheet]="technicalSheet"
    (click)="getTechnicalSheetDetails(technicalSheet)"
    [ngClass]="{
      'current-mail': technicalSheet?.id == currentTechnicalSheet?.id
    }"
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </technical-sheet-item>
</div>
</div>
