<div fxLayout="row" fxLayoutAlign="start center">
  <div class="info" fxFlex FlexLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="name mb-12" fxLayout="column" fxLayoutAlign="start start" fxFlex>
        <span>{{ missionOrder.owner.fullName | uppercase }}</span>
        <span>{{ missionOrder.title }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" *ngIf="habilitation.canEdit()">
        <button
          mat-icon-button
          color="accent"
          class="mat-elevation-z1"
          (click)="
            $event.preventDefault();
            $event.stopPropagation();
            updateMissionOrder(missionOrder)
          "
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="message text-truncate">
          {{ missionOrder.date | date: 'dd/MM/yyyy HH:mm:ss' }}
        </div>
      </div>
    </div>
  </div>
</div>
