<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/marks-products/products'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <img *ngIf="product?.images[0]" [src]="product.images[0]">
          <img *ngIf="!product?.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="mode ==='edit'">
            {{product.name}}
          </div>
          <div class="h2" *ngIf="mode ==='new'">
            Nouveau produit
          </div>
          <div class="subtitle secondary-text">
            <span>Details produit</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
      <button mat-raised-button class="save-product-button" *ngIf="mode ==='new'" (click)="addProduct(f)">
        <span>Ajouter</span>
      </button>
      <button mat-raised-button class="save-product-button" *ngIf="mode ==='edit'" (click)="updateProduct(f)">
        <span>Modifier</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">
        <form #f="ngForm" name="productForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group>
            <mat-tab label="Info basique">

              <div class="tab-content p-24" fusePerfectScrollbar>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Nom du produit</mat-label>
                  <input matInput placeholder="Nom du produit" name="name" [(ngModel)]="product.name" required>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Description du produit</mat-label>
                  <textarea matInput placeholder="Description du produit" name="description" required
                    [(ngModel)]="product.description" rows="5">
                                  </textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Details</mat-label>
                  <textarea matInput placeholder="Details du produit" name="details" required
                    [(ngModel)]="product.details" rows="5">
                                  </textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Marque du produit</mat-label>
                  <mat-select name="marks" [(ngModel)]="product.mark" required>
                    <mat-option *ngFor="let mark of marks" [value]="mark">
                      {{ mark.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Distributions</mat-label>
                  <mat-chip-list #distributionList name="distributionPlaces" [(ngModel)]="product.distributionPlaces">

                    <mat-chip *ngFor="let distribution of product.distributionPlaces" [removable]="true"
                      (removed)="removeDistribution(distribution)">
                      {{distribution}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>

                    <input [matChipInputFor]="distributionList" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addDistribution($event)" />

                  </mat-chip-list>

                </mat-form-field>
              </div>

            </mat-tab>

            <mat-tab label="Images">

              <div class="tab-content p-24" fusePerfectScrollbar>
                <div fxLayout="column">
                  <div fxLayoutAlign="center center" class="mb-16">
                    <button fxLayoutAlign="center" mat-fab color="warn" type="button" class="upload"
                      (click)="file.click()">
                      <mat-icon>
                        add_photo_alternatet"
                      </mat-icon>
                    </button>
                    <input (change)="filePicked($event)" type="file" #file hidden accept="image/*" />
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start start">
                    <div *ngFor="let image of product?.images; index as i">
                      <div *ngIf="product?.images.length > 0" class="product-image" fxlayout="row"
                        fxLayoutAlign="center center">
                        <button class="remove-image-btn" mat-icon-button color="warn" (click)="removeImage(i)">
                          <mat-icon>close</mat-icon>
                        </button>
                        <img class="media" [src]="image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
