<div class="flex flex-col   items-center justify-start flex-auto min-w-0 my-4">
    <div class="flex items-center h-full w-auto p-8 rounded-2xl  shadow bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class=" flex flex-row place-content-center  ">
                <div class="w-22">
                    <img src="assets/images/logos/logoavs.jpg">
                </div>
            </div>

            <!-- Title -->
            <div class="mt-4 text-xl font-extrabold tracking-tight leading-tight text-center">
                RÉINITIALISATION MOT PASSE

            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Forgot password form -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        L'adresse émail est requise
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Veuillez saisir un émail valide
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    
                    [disabled]="forgotPasswordForm.invalid"
                    (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Recevoir le lien par mail 
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="text-center mt-8 text-md font-medium text-secondary">
                    
                    <a 
                        class="text-center ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']">Retourner à la page de connexion
                    </a>
                </div>

            </form>
        </div>
    </div>
 
</div>
