<div class="page-layout simple">
  <!-- HEADER -->
  <div
    class="header accent-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h2
      fxLayout="row"
      fxLayoutAlign="start center"
      class="fuse-white-500-fg"
      [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
    >
      Mes Tickets
    </h2>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-fab
        color="warn"
        (click)="addTicket()"
        *ngIf="habilitation.canCreate()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- / HEADER -->
  <div class="content p-sm-24">
    <div>
      <fuse-widget
        [@animate]="{ value: '*', params: { y: '100%' } }"
        class="widget"
        fxLayout="row"
        fxFlex="100"
      >
        <div class="fuse-widget-front">
          <mat-table #table [dataSource]="tickets">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
              <mat-cell *matCellDef="let ticket">
                {{ ticket.title }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell *matCellDef="let ticket">
                {{ ticket.date }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isResolved">
              <mat-header-cell *matHeaderCellDef>Cloturée ?</mat-header-cell>
              <mat-cell *matCellDef="let ticket">
                {{ ticket.isResolved ? "Oui" : "Non" }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="unreadCommentsCount">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let ticket">
                <button class="s-16" mat-icon-button *ngIf="ticket.unreadCommentsCount > 0">
                  <span
                    [matBadge]="ticket.unreadCommentsCount"
                    matBadgeOverlap="false"
                    matRipple
                    matBadgeColor="warn"
                  >
                  </span>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row
              *matRowDef="let ticket; columns: displayColumns"
              [routerLink]="'/employee-tickets/' + ticket.id"
              style="cursor: pointer;"
            >
            </mat-row>
          </mat-table>
        </div>
      </fuse-widget>
    </div>
  </div>
</div>
