<div
  fxLayout.gt-sm="row"
  fxLayout="column"
  fxLayoutAlign="space-between"
  *ngIf="stats != null"
>
  <div
    fxLayout="row"
    fxFlex.gt-sm="40"
    fxFlex
    class="mat-card mat-elevation-z4 p-16"
    ngClass.gt-sm="mr-12"
  >
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
      <h1>{{ stats.employeeName }}</h1>
      <h2>Statistiques sur période personnalisée</h2>
      <h3 class="stats-title">Temps de travail</h3>
      <div fxLayout="row" fxLayoutAlign="start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Jours réellement travaillés :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex fxFill>
          <span class="details">{{ stats.dayRealyWorked }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Jours de travail effectif :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.dayEffectiveWorked }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures réellement travaillées :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.hourRealyWorkedHundredth
              : stats.hourRealyWorked
          }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures de travail effectif:</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.hourEffectiveWorkedHundredth
              : stats.hourEffectiveWorked
          }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Tickets restaurants :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.mealTicket }}</span>
        </div>
      </div>
      <!--Heures supplémentaires  -->
      <h3 class="stats-title">Heures supplémentaires</h3>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures complémentaires</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.additionalHoursHundredth
              : stats.additionalHours
          }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures supplémentaires +25 :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.overtime25Hundredth
              : stats.overtime25
          }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures supplémentaires +50 :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.overtime50Hundredth
              : stats.overtime50
          }}</span>
        </div>
      </div>
      <!--Heures majorées  -->
      <h3 class="stats-title">Heures majorées</h3>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures majorées +25 :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.plusTime25Hundredth
              : stats.plusTime25
          }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Heures majorées +50 :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{
            showDataCentiemeFormat
              ? stats.plusTime50Hundredth
              : stats.plusTime50
          }}</span>
        </div>
      </div>
      <!-- Primes & Avantages -->
      <h3 class="stats-title">Primes & Avantages</h3>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Panier repas : </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.lunchBag }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Prime de trajet : </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.travelAdvantage }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Compteur compensatoire : </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.compensationCounter }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" class="mb-8 full-width">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
          <span class="order-title">Prime de remplacement :</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex fxFill>
          <span class="details">{{ stats.replacementAdvanage }}</span>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout="column" fxFlex>
    <stats-overtime-details
      [statsOvertimeDetails]="stats.employeeOverTimeDetails"
    ></stats-overtime-details>
    <stats-mission-abroad
      [statsMissionAbroad]="stats.employeeMissionAbroadViewModels"
    >
    </stats-mission-abroad>
  </div>
</div>
