<div fxLayout="row" fxLayoutAlign="start center">
  <div class="info" fxFlex FlexLayout="column">
    <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
      <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <div class="avatar accent">{{ ticket.ownerLastName[0] }}</div>
        <span class="text-truncate">
          {{ ticket.ownerLastName }} {{ ticket.ownerFirstName }}
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="s-16" mat-icon-button *ngIf="ticket.unreadCommentsCount > 0">
          <span
            [matBadge]="ticket.unreadCommentsCount"
            matBadgeOverlap="false"
            matRipple
            matBadgeColor="warn"
          >
          </span>
        </button>
        <div class="time">{{ ticket.date }}</div>
      </div>
    </div>
    <div class="row-2" fxLayout="row" fxLayoutAlign="start center">
      <div
        fxLayout="column"
        fxLayoutAlign="start start"
        [ngClass]="{
          'unread-comments': !ticket.read
        }"
      >
        <div class="subject text-truncate">
          {{ ticket.title }}
        </div>
        <div class="message text-truncate" *ngIf="ticket?.details">
          {{ ticket.details | htmlToPlaintext | slice: 0:180
          }}{{ ticket.details.length > 180 ? "..." : "" }}
        </div>
      </div>
    </div>
  </div>
</div>
