<div class="p-4 flex flex-col sm:flex-row items-center justify-between">

  <mat-checkbox class="w-full p-4 flex flex-wrap" (change)="onHideRecoveryAbsences($event.checked)"
    [checked]="hideRecoveryAbsencesValue">Cacher les absences "Récupérations" et "Formations" ?
  </mat-checkbox>

  <div class="w-full rounded-full bg-white p-1 flex flex-row items-center">
    <button mat-icon-button class="secondary-text">
      <mat-icon>search</mat-icon>
    </button>
    <input placeholder="Filtrer les salariés" name="search" [(ngModel)]="filterValue"
      (keyup)="onFilterByName($event)" />
  </div>
</div>

<!-- CONTENT -->
<div class="p-4 w-full" [hidden]="!dataSource || dataSource.data.length === 0">
  <mat-table class="w-full" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="employee.fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-1/5 pt-5">Nom </th>
      <td mat-cell *matCellDef="let element" class="w-1/5 px-3 py-2  bg-amber-500 text-white">
        {{element.employee.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="absenceType.title">
      <th mat-header-cell class="w-1/5 pt-5" *matHeaderCellDef mat-sort-header> Absence </th>
      <td mat-cell *matCellDef="let element" class="w-1/5 px-3"> {{element.absenceType.title}} </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell class=" w-1/5 pt-5" *matHeaderCellDef mat-sort-header> Début </th>
      <td mat-cell *matCellDef="let element" class=" w-1/5 px-3">
        {{element.startDate}} </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell class="hidden sm:table-cell w-1/5 pt-5" *matHeaderCellDef mat-sort-header> Fin </th>
      <td mat-cell class="hidden sm:table-cell px-3 w-1/5" *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell class="w-60 pt-5" *matHeaderCellDef> Actions </th>
      <td mat-cell class="w-60" *matCellDef="let element">
        <button *ngIf="habilitation.isAdmin()" mat-icon-button matTooltip="Modifier" color="primary"
          class="mat-elevation-z1" (click)="updateActivityAbsence(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="habilitation.isAdmin()" mat-icon-button matTooltip="Supprimer" color="warn"
          class="mat-elevation-z1 ml-1" (click)="deleteActivityAbsence(element)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="sélectionner une page"></mat-paginator>
</div>
<div [hidden]="dataSource && dataSource.data.length > 0">
  <p class="p-6 w-full text-center text-gray-600 text-lg"> Pas de résultats</p>
</div>