@import "src/@fuse/scss/fuse";

.popover-info {
  font-size: 1.0em;
  padding: 16px;
  background-color: white;
  max-width: 460px;
  border-radius: 5px;
  font-weight: 600;
}

.mat-header-cell {
  @include media-breakpoint("lt-md") {
    padding: 4px !important;
  }
}

.mat-cell {
  @include media-breakpoint("lt-md") {
    padding: 4px !important;
  }
}

