<div class="demo-sidebar">
  <form
    #f="ngForm"
    class="mat-card mat-elevation-z4 p-8"
    fxLayout="column"
    fxLayoutAlign="start"
    name="form"
  >
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <h3>Impression d'agréments</h3>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxFlex="1 0 auto"
      class="mt-8"
    >
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Sites</mat-label>
        <mat-select [(ngModel)]="selectedSite" name="site">
          <mat-option *ngFor="let site of sites" [value]="site">
            {{ site.name }}
          </mat-option>
        </mat-select>
        <button
          matSuffix
          mat-icon-button
          color="accent"
          (click)="$event.stopPropagation();addSiteForPrint()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="1 0 auto"
      class="mb-8 mat-elevation-z3 custom-panel"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        *ngIf="selectedSites.length == 0"
      >
        <p class="m-8">Séléctionner des sites</p>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        *ngFor="let site of selectedSites; index as i"
      >
        <p class="m-8">{{ site.name }}</p>
        <button mat-icon-button color="warn" (click)="removeSite(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-raised-button
        color="warn"
        fxFlex="100"
        (click)="printAgreement()"
      >
        Imprimer
        <mat-icon class="s-20">print</mat-icon>
      </button>
    </div>
  </form>
</div>
