<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{
        mode == "add" ? "Nouvel Acompte" : "Modifier Acompte"
      }}</span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      name="composeForm"
      [formGroup]="newAdvanceSalaryForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline" *ngIf="mode == 'add'">
        <mat-label>Sélection salarié</mat-label>
        <mat-select formControlName="employee" name="employee">
          <mat-option>
            <ngx-mat-select-search
              formControlName="searchInput"
              name="searchInput"
              (ngModelChange)="searchEmployee($event)"
              placeholderLabel="Rechercher"
              noEntriesFoundLabel="pas de resultats"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let employee of filtredEmployees"
            [value]="employee.id"
          >
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
        <mat-error>Salarié est obligatoire!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="mode == 'edit'">
        <mat-label>Salarié</mat-label>
        <input
          matInput
          formControlName="employee"
          name="employee"
          [value]="data.employee.fullName"
          type="text"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="mode == 'edit'">
        <mat-label>En date du</mat-label>
        <input
          matInput
          formControlName="requestDate"
          name="requestDate"
          [value]="data.requestDate"
          type="text"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="mode == 'edit'">
        <mat-label>Status</mat-label>
        <mat-select
          (valueChange)="onStatusChange($event)"
          formControlName="advanceSalaryStatus"
          name="advanceSalaryStatus"
        >
          <mat-option
            *ngFor="let advanceSalaryStatus of advanceSalariesStatus"
            [value]="advanceSalaryStatus.id"
          >
            {{ advanceSalaryStatus.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Montant de l'acompte</mat-label>
        <input
          type="number"
          matInput
          name="requestAmount"
          formControlName="requestAmount"
        />
        <mat-error>Montant de l'acompte obligatoire!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="mode == 'edit'">
        <mat-label>Montant accordé</mat-label>
        <input
          type="number"
          matInput
          name="requestAwarded"
          formControlName="requestAwarded"
        />
        <mat-error>Veuillez vérifier ce champ!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Observation</mat-label>
        <textarea
          matInput
          name="observations"
          formControlName="observations"
          rows="4"
        >
        </textarea>
      </mat-form-field>
    </form>
  </div>

  <div
    mat-dialog-actions
    class="m-0 p-16"
    fxLayout="row"
    fxLayoutAlign="end end"
  >
    <button
      *ngIf="mode == 'add'"
      mat-raised-button
      color="accent"
      (click)="addAdvanceSalary()"
      type="submit"
    >
      Créer <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="mode == 'edit'"
      mat-raised-button
      color="accent"
      (click)="updateAdvanceSalary()"
      type="submit"
    >
      Mettre à jour <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
