<form
  #f="ngForm"
  class="mat-card mat-elevation-z4 p-8"
  fxLayout="column"
  name="form"
  (ngSubmit)="updateEmployeeDepartments(f)"
>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxFlex="1 0 auto"
    class="mt-8"
  >
    <mat-toolbar class="mat-accent m-0 mb-12">
      <mat-toolbar-row
        fxFlex
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
      >
        <span class="title dialog-title">
          Associer un employé à un département
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Sélection employé</mat-label>
      <mat-select
        (selectionChange)="selectedEmployeeChanged()"
        required
        [(ngModel)]="selectedEmployee"
        name="employee"
      >
      <mat-option>
        <ngx-mat-select-search
          ngModel
          name="searchINput"
          (ngModelChange)="searchEmployee($event)"
          placeholderLabel="Rechercher"
          noEntriesFoundLabel="pas de resultats"
        ></ngx-mat-select-search>
      </mat-option>
        <mat-option *ngFor="let employee of filtredEmployees" [value]="employee">
          {{ employee.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-chip-list #chipList required>
        <mat-chip
          *ngFor="let department of selectedDepartments; let indx = index"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(indx)"
        >
          {{ department.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Ajouter departement"
          #departmentInput
          [formControl]="departmentCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let department of filteredDepartments | async"
          [value]="department"
        >
          {{ department.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    fxFlex="1 0 auto"
  >
    <h3 matsubheader>
      Merci de sélectionner la zone par défault de l'utilisateur
    </h3>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Zone par défault</mat-label>
      <mat-select required name="department" [(ngModel)]="defaultDepartment" [disabled]="!habilitation.isAdmin()">
        <mat-option
          *ngFor="let department of selectedDepartments"
          [value]="department"
        >
          {{ department.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="habilitation.isAdmin()">
    <button type="submit" mat-raised-button color="accent">
      Mettre à jour
      <mat-icon class="s-20">check</mat-icon>
    </button>
  </div>
</form>
