<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{
        data.mode === "new" ? "Créer un article" : "Modifier un article"
      }}</span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
    <form #f="ngForm" name="addPostForm" (ngSubmit)="onSubmit(f)">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Titre</mat-label>
          <input
            #title="ngModel"
            [(ngModel)]="post.title"
            name="title"
            matInput
            required
            minlength="10"
          />
          <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
            Veuillez renseigner le titre (10 caractères minimum) !
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
          <mat-label>Catégories</mat-label>
          <mat-select name="clients" [(ngModel)]="post.categoryId">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <angular-editor
        [config]="config"
        [(ngModel)]="post.content"
        name="content"
      ></angular-editor>
      <div fxLayout="row" fxLayoutAlign="start start" class="mt-12">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Date de publication</mat-label>
          <input
            matInput
            [matDatepicker]="editionDatePicker"
            [(ngModel)]="post.editionDate"
            name="editionDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="editionDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #editionDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-12">
        <div class="image">
          <img
            *ngIf="post.src && post.src.length > 0"
            [src]="post.src"
            class=" huge m-0"
          />
          <!-- <button *ngIf="post.src" class="remove" (click)="removePostUrl()">
            <mat-icon>delete</mat-icon>
          </button> -->
          <button
            mat-fab
            color="warn"
            type="button"
            class="upload"
            (click)="file.click()"
          >
            <mat-icon>{{
              post.src && post.src.length > 0 ? "edit" : "add_photo_alternatet"
            }}</mat-icon>
          </button>
          <input
            (change)="filePicked($event)"
            type="file"
            #file
            hidden
            accept="image/*"
          />
        </div>
      </div>
    </form>
  </div>
  <div
    mat-dialog-actions
    class="m-0 p-16"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <button
      style="display: none"
      mat-button
      type="button"
      class="mr-8"
      (click)="matDialogRef.close()"
      aria-label="Delete"
      matTooltip="Delete"
    >
      SUPPRIMER
    </button>
    <button
      mat-raised-button
      (click)="onSubmit(f)"
      color="accent"
      aria-label="SAVE"
      type="submit"
    >
      {{ data.mode === "new" ? "Créer" : "Modifier" }}
    </button>
  </div>
</div>
