<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div>
      <a routerLink="changelog" mat-button class="pink">
        <mat-icon class="s-16 mr-sm-4">build</mat-icon>
        <span>{{versionName}}</span>
      </a>
      <button fxHide.gt-xs class="ml-4" color="warn" *ngIf="isInStandaloneMode === false && isAlreadyInstalled === false"  mat-button (click)="installApp();" >
        <mat-icon>get_app</mat-icon>Installer</button>
    </div>

    <div>
      <mat-menu class="mb-12 mr-32" #moreMenu="matMenu">
        <button *ngIf="isBackofficeMember" mat-menu-item routerLink="/admin-tickets">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Administration</span>
          <button class="s-16" mat-icon-button *ngIf="allUnreadTicketsAndCommentsCount > 0">
            <span
              [matBadge]="allUnreadTicketsAndCommentsCount"
              matBadgeOverlap="false"
              matRipple
              matBadgeColor="warn"
            >
            </span>
          </button>
        </button>
        <button *ngIf="!isBackofficeMember" mat-menu-item routerLink="/employee-tickets">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Mes tickets</span>
          <button class="s-16" mat-icon-button *ngIf="allUnreadTicketsAndCommentsCount > 0">
            <span
              [matBadge]="allUnreadTicketsAndCommentsCount"
              matBadgeOverlap="false"
              matRipple
              matBadgeColor="warn"
            >
            </span>
          </button>
        </button>
        <button mat-menu-item (click)="addTicket()">
          <mat-icon>send</mat-icon>
          <span>Envoyer un ticket</span>
        </button>
      </mat-menu>
      <button
        matTooltip="Assistance technique"
        mat-button
        [matMenuTriggerFor]="moreMenu"
        aria-label="More"
        (click)="$event.stopPropagation()"
      >
        <img
          class="avatar"
          src="../../../../assets/images/technical-help-icon.png"
        />
      </button>
    </div>
  </div>
</mat-toolbar>
