<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">


        </a>

        <div fxLayout="row" fxLayoutAlign="end center" fxHide fxShow.gt-xs>
            <a target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">build</mat-icon>
            <span>Version 0.1 - 2019</span>
        </a>
        </div>

    </div>

</mat-toolbar>
