<mat-table [dataSource]="weekStats" [@animateStagger]="{ value: '50' }">
  <ng-container matColumnDef="label">
    <mat-header-cell
      fxLayoutAlign="center center"
      *matHeaderCellDef
    ></mat-header-cell>
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="label-style"
    >
      <span class="job-title">
        {{ weekStat.label }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="monday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Lundi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.monday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tuesday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Mardi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.tuesday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="wednesday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Mercredi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.wednesday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="thursday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Jeudi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.thursday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="friday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Vendredi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.friday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="saturday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Samedi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.saturday }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="totalWeek">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Totale semaine</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let weekStat"
      class="week-style"
    >
      <span class="job-title">
        {{ weekStat.totalWeek }}
      </span>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let weekStat; columns: displayedColumns"
    class="activity"
    matRipple
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </mat-row>
</mat-table>
