<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium"> {{ data.mode == "edit" ? "Modifier un module" : "Ajouter un module" }}</div>
    <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
 

  <div  class="p-4 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="flex flex-col flex-auto p-6 overflow-y-auto">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          #title="ngModel"
          [(ngModel)]="module.title"
          placeholder="Nom du module"
          matInput
          name="title"
          required
          minlength="3"
        />
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          Veuillez renseigner le nom (3 caractères minimum) !
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="data.mode != 'edit'">
        <mat-label>Clé</mat-label>
        <mat-select
          #key="ngModel"
          name="key"
          required
          [(ngModel)]="module.key"
        >
          <mat-option> </mat-option>
          <mat-option *ngFor="let key of availableKeys" [value]="key">
            {{ key }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="key.invalid && (key.dirty || key.touched)">
          Veuillez choisir une clé !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="data.mode == 'edit'">
        <input [(ngModel)]="module.key" matInput name="key" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="moduleType != 'childModule'">
        <mat-label>Type</mat-label>
        <mat-select
          #type="ngModel"
          name="type"
          required
          [(ngModel)]="module.type"
        >
          <mat-option value="collapsable">
            Collapsable
          </mat-option>
          <mat-option value="item">
            Item
          </mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">
          Veuillez choisir un type !
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        *ngIf="
          (moduleType == 'parentModule' && module?.type == 'item') ||
          moduleType == 'childModule'
        "
      >
        <mat-label>Url</mat-label>
        <input
          #url="ngModel"
          [(ngModel)]="module.url"
          placeholder="Url"
          matInput
          name="url"
          required
        />
        <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">
          Veuillez renseigner l'URL !
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Icon</mat-label>
        <input
          #icon="ngModel"
          [(ngModel)]="module.icon"
          placeholder="Icon"
          matInput
          name="icon"
          required
        />
        <mat-error *ngIf="icon.invalid && (icon.dirty || icon.touched)">
          Veuillez renseigner l'icon !
        </mat-error>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="module.displayInMenu" name="displayInMenu">
        Aficher sur le menu ?
      </mat-checkbox>

      <mat-form-field appearance="outline" class="mt-12">
        <mat-label>ACL Description</mat-label>
        <textarea matInput name="new" [(ngModel)]="module.aclDescription" rows="6">
        </textarea>
      </mat-form-field>

      <div class="flex flex-col sm:flex-row sm:items-end items-end justify-between">
        <div class="ml-auto">
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
