.traceability-color-button {
  width: 32px;
  height: 32px;
  border: none;
  margin-right: 5px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
