<div class="demo-sidebar">
  <div class="mat-card mat-elevation-z4 p-8 mb-24" fxLayout="column" fxLayoutAlign="start" name="form">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <h3 class="mb-0">Codes de la semaine</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let code of traceabilityPlanification?.traceabilityWeekCodes">
        <h3 class="pr-12">{{code.code}} </h3>
      </div>
      <h3 *ngIf="traceabilityPlanification?.traceabilityWeekCodes?.length == 0" >Pas encore des codes</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mb-12" *ngIf="habilitation.canEdit()">
      <button [disabled]="!traceabilityPlanification" mat-fab color="accent" (click)="managTraceabilityCodesOfWeek()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>
  <form class="mat-card mat-elevation-z4 p-8 mb-24" fxLayout="column" fxLayoutAlign="start" name="form">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <h3 class="mb-0">Code MEL de la semaine</h3>
      <h2 class="mt-0">
        {{
          traceabilityPlanification
            ? traceabilityPlanification.mel
            : "Non définie"
        }}
      </h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div class="buttons-row" *ngFor="let color of colors">
        <button class="mb-4" mat-mini-fab *ngIf="color !== 'Non définie'"
          [ngStyle]="{ 'background-color': getColor(color) }" (click)="changeSelectedColor(color)"></button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h2 *ngIf="traceabilityPlanification">
        {{ traceabilityPlanification.color }}
      </h2>
      <h2 *ngIf="!traceabilityPlanification">
        {{ selectedColor }}
      </h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mb-12" *ngIf="habilitation.canEdit()">
      <button mat-raised-button color="accent" fxFlex="100" (click)="updateOrAddPlanification()">
        Affecter la couleur
      </button>
    </div>

  </form>

  <form class="mat-card mat-elevation-z4 p-8" fxLayout="column" fxLayoutAlign="start" name="form">

    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Semaine</mat-label>
        <mat-select [(ngModel)]="requestParameter.week" name="week" (selectionChange)="getTraceabilityPlanification()">
          <mat-option *ngFor="let week of weeks" [value]="week">
            {{ week }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Année</mat-label>
        <mat-select [(ngModel)]="requestParameter.year" name="year" (selectionChange)="getTraceabilityPlanification()">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider class="mb-24"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center" class="mb-12">
      <button mat-raised-button color="warn" fxFlex="100" (click)="printWeeks()">
        Impression semaines
        <mat-icon class="s-20">print</mat-icon>
      </button>
    </div>
  </form>
</div>
