<div
  class="p-sm-16 pb-0"
  fxLayout="row"
  style="background-color: rgb(244, 244, 244) !important;
  min-height: 100vh !important;"
>
  <div fxLayout="row" fxLayoutAlign="space-around" fxFlex>
    <!-- Weeks & Sectors -->
    <fuse-sidebar
      class="sidebar"
      name="decisions-sidebar"
      position="left"
      lockedOpen="gt-sm"
    >
      <div class="content" fusePerfectScrollbar>
        <div class="sidebar-content">
          <div class="card">
            <mat-tab-group
              mat-align-tabs="center"
              mat-stretch-tabs
              dynamicHeight
            >
              <mat-tab label="Semaines">
                <div class="content p-16" fusePerfectScrollbar>
                  <div class="nav material2">
                    <div class="nav-item" *ngFor="let week of latestWeeks">
                      <a
                        class="nav-link"
                        matRipple
                        [ngClass]="{
                          'active accent': currentWeek?.id == week?.id
                        }"
                        (click)="
                          currentWeek = week;
                          currentSector = null;
                          filterInput = null;
                          getDecisions()
                        "
                      >
                        <span>{{ "Semaine " + week.weekNumber }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Secteurs">
                <div class="content p-16" fusePerfectScrollbar>
                  <div class="nav material2">
                    <div class="nav-item" *ngFor="let sector of sectors">
                      <a
                        class="nav-link"
                        matRipple
                        [ngClass]="{
                          'active accent': currentSector?.id == sector?.id
                        }"
                        (click)="
                          currentSector = sector;
                          currentWeek = null;
                          filterInput = null;
                          getDecisions()
                        "
                      >
                        <span>{{ sector.name }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </fuse-sidebar>

    <!-- Decisions -->
    <div fxLayout="column" fxFlex>
      <div
        class="header p-8"
        fxLayout.gt-md="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-between center"
      >
        <div fxLayoutAlign="space-between center" class="pl-4">
          <button
            mat-icon-button
            class="sidebar-toggle mr-12"
            fxHide.gt-sm
            (click)="commonService.toggleSidebar('decisions-sidebar')"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <!-- <h3 class="m-0">
            <span [matBadge]="decisions.length" matBadgeOverlap="false"
              >Total</span
            >
          </h3> -->
          <button class="m-8" mat-raised-button>
            {{ "Total: " + decisions.length }}
          </button>
        </div>
        <div
          fxLayoutAlign="space-between center"
          class="search-wrapper mt-16 mt-md-0 pl-4"
        >
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button class="secondary-text">
              <mat-icon>search</mat-icon>
            </button>
            <input
              placeholder="Recherche par mot clé"
              name="search"
              [(ngModel)]="filterInput"
              (keyup.enter)="
                currentWeek = null; currentSector = null; getDecisions()
              "
            />
          </div>
        </div>
      </div>
      <div class="ml-16 mr-16">
        <div class="fuse-card mb-8" *ngFor="let decision of decisions">
          <div class="p-16" fxLayout="row">
            <div class="h2 pr-16">{{ decision.folderName }}</div>
          </div>
          <div class="card-divider full-width"></div>
          <div class="p-16" fxLayout="row">
            <div fxLayout="row wrap" fxLayoutAlign="start" class="content-text">
              <div class="h4" [outerHTML]="decision.pointContent | replaceLineBreaks"></div>
            </div>
          </div>
          <div class="card-divider full-width"></div>
          <div class="sector-text" fxLayout="row">
            {{ "Secteur : " + decision.sectorName }}
          </div>
          <div class="card-divider full-width"></div>
          <div class="decision-text" fxLayout="row">
            {{ "Décision : " + decision.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
