<form name="form" 
class="flex flex-col mat-card mat-elevation-z4 p-4 pt-6 mx-2 mt-4">
  <mat-form-field appearance="outline" class="flex-auto w-full">
    <mat-label>Sélection région</mat-label>
    <mat-select class="w-full" [(ngModel)]="filterParams.departmentId" name="departmentId">
      <mat-option *ngFor="let department of departments" [value]="department.id">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="flex-auto w-full">
    <mat-label>Etat</mat-label>
    <mat-select [(ngModel)]="filterParams.statusId" name="status">
      <mat-option [value]="-1">Tous</mat-option>
      <mat-option *ngFor="let status of advanceSalariesStatus" [value]="status.id">
        {{ status.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="flex-auto w-full">
    <mat-label>Du</mat-label>

    <input matInput [matDatepicker]="startDatePicker" placeholder="Du" [(ngModel)]="filterParams.startDate"
      name="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="flex-auto w-full">
    <mat-label>Au</mat-label>

    <input matInput [matDatepicker]="endDatePicker" placeholder="Au" [(ngModel)]="filterParams.endDate"
      name="endDate" />
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <button class="grow-0	justify-center bg-indigo-700 text-white hover:bg-indigo-900" mat-raised-button 
      type="submit" (click)="filterAdvanceSalaries()">
    Afficher
    <mat-icon class="s-20 ml-1">filter_list</mat-icon>

  </button>
</form>
