<mat-table [dataSource]="weekActivities" [@animateStagger]="{ value: '50' }">
  <ng-container matColumnDef="site">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Site</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="site-style"
    >
      <span class="job-title">
        {{ tourSheet.siteName }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="monday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Lundi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T  " +
            tourSheet.monday.dayPart +
            "  " +
            tourSheet.monday.startDateStr +
            "  " +
            tourSheet.monday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tuesday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Mardi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T&#160;&#160;" +
            tourSheet.tuesday.dayPart +
            "&#160;&#160;" +
            tourSheet.tuesday.startDateStr +
            "&#160;&#160;" +
            tourSheet.tuesday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="wednesday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Mercredi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T&#160;&#160;" +
            tourSheet.wednesday.dayPart +
            "&#160;&#160;" +
            tourSheet.wednesday.startDateStr +
            "&#160;&#160;" +
            tourSheet.wednesday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="thursday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Jeudi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T&#160;&#160;" +
            tourSheet.thursday.dayPart +
            "&#160;&#160;" +
            tourSheet.thursday.startDateStr +
            "&#160;&#160;" +
            tourSheet.thursday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="friday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Vendredi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T&#160;&#160;" +
            tourSheet.friday.dayPart +
            "&#160;&#160;" +
            tourSheet.friday.startDateStr +
            "&#160;&#160;" +
            tourSheet.friday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="saturday">
    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef
      >Samedi</mat-header-cell
    >
    <mat-cell
      fxLayoutAlign="center center"
      *matCellDef="let tourSheet"
      class="week-style"
    >
      <span class="job-title">
        {{
          "T&#160;&#160;" +
            tourSheet.saturday.dayPart +
            "&#160;&#160;" +
            tourSheet.saturday.startDateStr +
            "&#160;&#160;" +
            tourSheet.saturday.timeOnSite
        }}
      </span>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let tourSheet; columns: displayedColumns"
    class="activity"
    matRipple
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
  </mat-row>
</mat-table>
