<div class="page-layout carded fullwidth tabbed inner-scroll">
  <div class="top-bg accent"></div>

  <div class="center">
    <div
      class="header accent p-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <div class="h2">
            GESTION DES UTILISATEURS
          </div>
          <div class="subtitle secondary-text">
            <span>Profils, droits et permissions</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <a
          *ngIf="connectedUser.customClaims.isRoot"
          class="pr-12 mat-title"
          [routerLink]="'/settings/modules'"
          style="color: white !important;"
          >Gestion des modules
        </a>
        <button
          *ngIf="connectedUser.customClaims.isRoot || connectedUser.customClaims.isTechAdmin"
          (click)="popup(null, 'new')"
          mat-fab
          color="warn"
          class="add-file-button"
          [@animate]="{
            value: '*',
            params: { delay: '300ms', scale: '0.2' }
          }"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="content-card">
      <div class="content">
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
          <mat-tab label="Utilisateurs">
            <div class="tab-content" fxLayout="column" fusePerfectScrollbar>
              <div
                class="my-24 mx-16"
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <div class="search-wrapper mt-16 mt-md-0 pl-4">
                  <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="center center"
                  >
                    <button mat-icon-button class="secondary-text">
                      <mat-icon>search</mat-icon>
                    </button>
                    <input
                      placeholder="Rechercher utilisateur"
                      name="search"
                      (keyup)="searchUser($event)"
                    />
                  </div>
                </div>
              </div>
              <table mat-table [dataSource]="filtredUsers" matSort fxFlex>
                <!-- Date Column -->
                <ng-container matColumnDef="displayName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Pseudo
                  </th>
                  <td mat-cell *matCellDef="let u">{{ u.displayName }}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Émail
                  </th>
                  <td mat-cell *matCellDef="let u">{{ u.email }}</td>
                </ng-container>

                <!-- Value Column -->
                <ng-container matColumnDef="customClaims">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Privilèges
                  </th>
                  <td mat-cell *matCellDef="let u">
                    <div class="claims-list" *ngIf="u.customClaims">
                      <span *ngIf="u.customClaims.isRoot">root</span>
                      <span *ngIf="u.customClaims.isTechAdmin">techAdmin</span>
                      <span *ngIf="u.customClaims.isGuest">guest</span>
                      <span *ngIf="u.customClaims.isHrM">HrM</span>
                      <span *ngIf="u.customClaims.isSeM">SeM </span>
                      <span *ngIf="u.customClaims.isAdM">AdM </span>
                      <span *ngIf="u.customClaims.isDir">Dir</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="buttons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let u">
                    <button
                      *ngIf="
                        !(
                          u.customClaims.isRoot &&
                          !connectedUser.customClaims.isRoot
                        )
                      "
                      mat-icon-button
                      [matMenuTriggerFor]="card20Menu"
                      aria-label="more"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #card20Menu="matMenu">
                      <button
                        [routerLink]="['/access-rights', u.uid]"
                        mat-menu-item
                        aria-label="edit"
                        target="_blank"
                      >
                        <mat-icon>blur_linear</mat-icon>
                        <span>Permissions</span>
                      </button>
                      <button
                        (click)="popup(u, 'edit')"
                        mat-menu-item
                        aria-label="edit"
                        target="_blank"
                      >
                        <mat-icon>account_circle</mat-icon>
                        <span>Éditer</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnsToDisplay"
                ></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Notifications">
            <div class="tab-content p-8" fusePerfectScrollbar>
              <group-notifications></group-notifications>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
