// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.buttons-row button {
  margin-right: 8px;
}

.buttons-row-white button {
  margin-right: 8px;
  background-color: white !important;
}

.datatable-body-row.active .datatable-row-group {
  background-color: #039be5 !important;
}

.closed-ticket {
  background-color: #adff2f38 !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.emergencyLevel-badge {
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 8px;
  white-space: nowrap;
  color: white;
}

.emergencyLevel-1 {
  background-color: #f5a816;
}

.emergencyLevel-2 {
  background-color: #ff6200;
}

.emergencyLevel-3 {
  background-color: #ff0010;
}

.success-snackbar {
  background-color: #51a351 !important;
}

.warning-snackbar {
  background-color: #f89406 !important;
}

.error-snackbar {
  background-color: #bd362f !important;
}

@media print {
  #non-printable {
    display: none !important;
  }
  .content-card {
    border-radius: 0px !important;
    box-shadow: none !important;
  }
}

i.fa {
  font-family: FontAwesome !important;
  font-size: 12px !important;
}

.angular-editor-toolbar {
  font: 100 1.5rem/15px normal, normal, sans-serif !important;
}

.red-bg {
  background-color: #ef4b4a !important;
}

.green-bg {
  background-color: #91dc5b !important;
}

.gray-bg {
  background-color: #bfbfbf !important;
}

.yellow-bg {
  background-color: #ffd31a !important;
}

.blue-bg {
  background-color: #5e8eb7 !important;
}

.violet-bg {
  background-color: #792fb8 !important;
}

.mat-option-text {
  font-size: 13px !important;
}

.full-content {
  overflow-x: auto;
  width: 100%;
}
