<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"> Codes de la semaine
      </span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <div fxLayout="row">
          <mat-radio-group (change)="traceabilityWeekCode.code = null" class="mb-12" aria-label="Choisir une option" [(ngModel)]="codeMode">
            <mat-radio-button class="mb-4 pr-12" value="fromCodes">Choisir depuis la liste des
              codes</mat-radio-button>
            <mat-radio-button value="customCode">Ajouter un code manuellement</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="habilitation.canCreate()">
        <mat-form-field appearance="outline" fxFlex="40" *ngIf="codeMode == 'fromCodes'">
          <mat-label>Code</mat-label>
          <mat-select msInfiniteScroll (infiniteScroll)="getNextCodes()" [complete]="paginationParameter.start >= total"
            [threshold]="'30%'" name="code" [(ngModel)]="traceabilityWeekCode.code"
            (openedChange)="openedChange($event)">
            <mat-option>
              <ngx-mat-select-search [(ngModel)]="searchInput" name="searchINput" (ngModelChange)="searchCode($event)"
                placeholderLabel="Rechercher" noEntriesFoundLabel="pas de resultats"
                disableScrollToActiveOnOptionsChanged="true"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let code of codes" [value]="code.code">
              {{ code.code }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Custom Code -->
        <mat-form-field appearance="outline" fxFlex="40" *ngIf="codeMode == 'customCode'" >
          <mat-label>Code</mat-label>
          <input matInput [(ngModel)]="traceabilityWeekCode.code" minLength="3" maxLength="3" />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="40">
          <mat-label>Forme</mat-label>
          <mat-select name="shape" required [(ngModel)]="traceabilityWeekCode.shape">
            <mat-option *ngFor="let shape of shapes" [value]="shape.shape">
              {{ shape.shape }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" mat-icon-button color="accent" class="mat-elevation-z1" (click)="addCode()"
          [disabled]="
            !(
              traceabilityWeekCode?.code &&
              traceabilityWeekCode?.shape
            )
          ">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <!-- TAMPON LIST -->
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="
          let traceabilityWeekCode of traceabilityPlanification.traceabilityWeekCodes;
          index as i
        ">
        <div fxLayout="row">
          <p class="m-8">
            {{ traceabilityWeekCode.code }}
          </p>
          <p class="m-8" fxLayoutAlign="space-between center">
            {{ traceabilityWeekCode.shape }}
          </p>
          <div>
            <button *ngIf="habilitation.canDelete()" mat-icon-button color="warn"
              (click)="deleteTraceabilityWeekCode(traceabilityWeekCode)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
