<div class="page-layout simple left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar"
    name="activity-sidebar"
    position="left"
    lockedOpen="gt-md"
  >
    <!-- SIDEBAR CONTENT -->
    <div class="content p-8" fusePerfectScrollbar>
      <activity-sidebar></activity-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>
    <!-- HEADER -->
    <div
      class="header accent-bg p-16 p-sm-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <button
          mat-icon-button
          class="sidebar-toggle mr-8"
          style="color: white !important"
          fxHide.gt-md
          (click)="commonService.toggleSidebar('activity-sidebar')"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1
          class="fuse-white-500-fg"
          [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
        >
          {{
            isTemporaryWorker ? "Pointages intérimaires" : "Pointage salariés"
          }}
        </h1>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        *ngIf="habilitation.canCreate()"
      >
        <button
          mat-fab
          color="warn"
          [@animate]="{
            value: '*',
            params: { delay: '600ms', scale: '0.2' }
          }"
          type="button"
          class="ml-8"
          (click)="addActivity()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="p-md-24">
      <activity-content></activity-content>
    </div>
    <!-- / CONTENT -->
  </div>
  <!-- / CENTER -->
</div>
