<!-- HEADER -->
<div class="w-full">
  <div class="h-30 p-6 sm:p-0 sm:h-20 items-center bg-indigo-600 flex 
  justify-between flex-col sm:flex-row " color="primary">

    <div class="flex items-center">
      <button mat-icon-button [routerLink]="'/activity'" matTooltip="Retour à pointages salariés" class="ml-2">
        <mat-icon class="text-white">arrow_back</mat-icon>
      </button>
      <span class="text-white text-2xl">PARAMÉTRAGES</span>
    </div>



  </div>
  <div>
    <!-- / CONTENT HEADER -->

    <mat-tab-group class="mt-4" mat-align-tabs="center" mat-stretch-tabs>
      <mat-tab label="Secteurs salariés">
        <div class="tab-content" fusePerfectScrollbar>
          <parameters-settings></parameters-settings>
        </div>
      </mat-tab>

      <mat-tab label="Paramétrage jours feriés">
        <div class="tab-content" fusePerfectScrollbar>
          <parameters-holidays></parameters-holidays>
        </div>
      </mat-tab>
      <mat-tab label="Paramétrage employés">
        <div class="tab-content" fusePerfectScrollbar>
          <parameters-employees></parameters-employees>
        </div>
      </mat-tab>
    </mat-tab-group>


    <div class="page-layout carded fullwidth tabbed inner-scroll" *ngIf="false">
      <div class="top-bg accent"></div>

      <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="start center">
          <button matTooltip="Retour à pointages salariés" mat-icon-button class="back mr-16"
            [routerLink]="'/activity'">
            <mat-icon class="fuse-white-500-fg">arrow_back</mat-icon>
          </button>
          <h2 class="m-0">PARAMÉTRAGES</h2>
        </div>
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
          <mat-tab label="Secteurs salariés">
            <div class="tab-content" fusePerfectScrollbar>
              <parameters-settings></parameters-settings>
            </div>
          </mat-tab>
          <mat-tab label="Paramétrage jours feriés">
            <div class="tab-content" fusePerfectScrollbar>
              <parameters-holidays></parameters-holidays>
            </div>
          </mat-tab>
          <mat-tab label="Paramétrage employés">
            <div class="tab-content" fusePerfectScrollbar>
              <parameters-employees></parameters-employees>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>