<div class="content">
  <div class="header" fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center" fxLayoutAlign="start center">
    <div fxFlex="30" fxFlex.lt-sm="100">
      <mat-form-field class="w-100-p">
        <mat-label>Filter par secteur</mat-label>
        <mat-select (selectionChange)="getTemporaryWorkers()" [(ngModel)]="selectedDepartment" name="department">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="40" fxFlex.lt-sm="100" class="mx-md-8">
      <mat-form-field floatLabel="never" class="w-100-p">
        <input matInput placeholder="FILTRE PAR NOM, PRÉNOM, VILLE OU AGENCE" name="search"
          (keyup)="filterTemporaryWorkers($event)" />
      </mat-form-field>
    </div>
    <div fxFlex="18" fxFlex.lt-sm="100" fxLayoutAlign.lt-sm="center" fxLayoutAlign="end center">
      <button type="button" mat-mini-fab color="warn" (click)="addTemporaryWorker()"
        matTooltip="Créer nouvel intérimaire">
        <mat-icon class="s-20">add</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="mt-12">
  <mat-table [dataSource]="temporaryWorkers">
    <ng-container matColumnDef="lastName">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Nom et prénom</mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title">
          {{ temporaryWorker.lastName }} {{ temporaryWorker.firstName }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell fxHide.lt-sm fxLayoutAlign="center center" *matHeaderCellDef>Ville</mat-header-cell>
      <mat-cell fxHide.lt-sm fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title">
          {{ temporaryWorker.city }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthdate">
      <mat-header-cell fxHide.lt-sm fxLayoutAlign="center center" *matHeaderCellDef>Naissance</mat-header-cell>
      <mat-cell fxHide.lt-sm fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title">
          {{ temporaryWorker.birthdate }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="provider">
      <mat-header-cell fxHide.lt-sm fxLayoutAlign="center center" *matHeaderCellDef>Agence</mat-header-cell>
      <mat-cell fxHide.lt-sm fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title">
          {{ temporaryWorker.provider ? temporaryWorker.provider.name : "" }}
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell fxHide.lt-sm fxLayoutAlign="center center" *matHeaderCellDef>Secteurs</mat-header-cell>
      <mat-cell fxHide.lt-sm fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title" *ngIf="temporaryWorker.departments.length != 0">
          <ul>
            <li *ngFor="let department of temporaryWorker.departments">
              {{ department.name }}
            </li>
          </ul>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isEnable">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Actif?</mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span class="job-title">
          <mat-icon matRipple [ngClass]="{
              'green-600': temporaryWorker.isEnable,
              'red-600': !temporaryWorker.isEnable
            }" (click)="updateTemporaryWorkerState(temporaryWorker)" class="enable-icon s-16"></mat-icon>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edition">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Édition</mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let temporaryWorker">
        <span fxHide.lt-md class="job-title">
          <div class="buttons-row" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button color="accent" class="mat-elevation-z1"
              (click)="updateTemporaryWorker(temporaryWorker)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="mat-elevation-z1"
              (click)="deleteTemporaryWorker(temporaryWorker)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </span>
        <div fxHide.gt-sm>
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #actionsMenu="matMenu">
            <button
              mat-menu-item
              (click)="updateTemporaryWorker(temporaryWorker)"
            >
              <span><mat-icon color="accent">edit</mat-icon>Modifier</span>
            </button>
            <button
              mat-menu-item
              (click)="deleteTemporaryWorker(temporaryWorker)"
            >
              <span><mat-icon color="warn">delete_outline</mat-icon>Supprimer</span>
            </button>
          </mat-menu>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let temporaryWorker; columns: displayedColumns" class="activity" matRipple>
    </mat-row>
  </mat-table>
</div>
