<div class=container>
  <div class=categories>
    <ul>
      <li *ngFor="let c of categories" [innerHTML]="c.title" (click)="currentCategorie.id = c.id"
        [ngClass]="{'selected' : c.id === currentCategorie.id}"></li>
    </ul>
  </div>
  <div class=title>
    <input type="text" [(ngModel)]="post.title" placeholder="Titre de l'article" />
  </div>
  <div class=title>
    <input type="date" [(ngModel)]="dateParam" />
  </div>
  <div style="padding-bottom:25px;">
    <h3>Pièce jointe</h3>
    <input type="file" (change)="filePicked($event)">
  </div>

  <div id="ref" class="content" #ref contenteditable="true">
  </div>
  <div class="confirmation" >
      {{confirmationText}}
    </div>
  <div style="padding-top: 15px; padding-bottom: 100px;" class=add >
    <button (click)="addPost()">Insérer le nouvel article</button>   <label>   {{ '=>Rubrique : ' + currentCategorie.id}}</label>
  </div>



</div>
