@import "src/@fuse/scss/fuse";

clients-details {
  .client-detail {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
  }
  table.client-detail tr td {
    border: 1px solid lightgray;
    padding: 10px;
    font-style: italic;
    width: 50%;
  }
  table.client-detail tr td:first-child {
    font-weight: bold;
    font-style: initial;
  }

  .mat-header-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
  .mat-cell {
    @include media-breakpoint("lt-md") {
      padding: 4px !important;
    }
  }
}
