<div id="mail" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span
          class="logo-text h2"
          [@animate]="{
            value: '*',
            params: { delay: '100ms', x: '-25px' }
          }"
        >
          Gestion des clients
        </span>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        *ngIf="habilitation.canCreate()"
      >
        <button
          mat-fab
          color="warn"
          [@animate]="{
            value: '*',
            params: { delay: '600ms', scale: '0.2' }
          }"
          type="button"
          class="ml-8"
          (click)="addClient()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div
      class="content-card mt-24"
      [ngClass]="{ 'current-mail-selected': currentClient }"
    >
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8" fxHide.gt-sm>
        <div *ngIf="currentClient" fxHide.gt-sm>
          <button mat-icon-button (click)="currentClient = null">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
          </button>
        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->
      <!-- CONTENT -->
      <div class="content" fxLayout="row">
        <clients-list fusePerfectScrollbar fxFlex="1 1 0%"></clients-list>
        <clients-details fusePerfectScrollbar fxFlex="3 1 0%"></clients-details>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
