<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title"
        >{{
          data.mode == "edit" ? "Modifier une présence" : "Créer une présence"
        }}
      </span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      name="composeForm"
      class="compose-form"
      fxLayout="column"
      fxFlex
    >
      <mat-form-field appearance="outline">
        <mat-label>Employé</mat-label>
        <mat-select
          #employee="ngModel"
          name="employee"
          required
          [(ngModel)]="monthlyMeetingPresence.employeeId"
          [disabled]="data.mode == 'edit'"
        >
          <mat-option>
            <ngx-mat-select-search
              ngModel
              name="searchINput"
              (ngModelChange)="searchEmployee($event)"
              placeholderLabel="Rechercher"
              noEntriesFoundLabel="pas de resultats"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let employee of filtredEmployees"
            [value]="employee.id"
          >
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="employee.invalid && (employee.dirty || employee.touched)"
        >
          Veuillez choisir un employé !
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Début</mat-label>
        <input
          #startDate="ngModel"
          matInput
          [matDatetimepicker]="startDatePicker"
          placeholder="Début"
          [(ngModel)]="monthlyMeetingPresence.start"
          name="startDatePicker"
          required
        />
        <mat-datetimepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datetimepicker-toggle>
        <mat-datetimepicker
          type="time"
          timeInterval="5"
          #startDatePicker
        ></mat-datetimepicker>
        <mat-error
          *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
        >
          Veuillez renseigner le début!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fin</mat-label>
        <input
          #endDate="ngModel"
          matInput
          [matDatetimepicker]="endDatePicker"
          placeholder="Fin"
          [(ngModel)]="monthlyMeetingPresence.end"
          name="endDatePicker"
          required
        />
        <mat-datetimepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datetimepicker-toggle>
        <mat-datetimepicker
          type="time"
          timeInterval="5"
          #endDatePicker
        ></mat-datetimepicker>
        <mat-error
          *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)"
        >
          Veuillez renseigner la fin!
        </mat-error>
      </mat-form-field>
      <mat-checkbox
        [(ngModel)]="monthlyMeetingPresence.justifiedAbsence"
        name="justifiedAbsence"
        *ngIf="data.mode == 'edit'"
      >
        Absence justifiée ?
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="monthlyMeetingPresence.meal"
        name="meal"
        *ngIf="data.mode == 'edit'"
      >
        Avec repas ?
      </mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>Observations</mat-label>
        <input
          [(ngModel)]="monthlyMeetingPresence.observations"
          placeholder="Observations"
          matInput
          name="observations"
        />
      </mat-form-field>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end end"
      >
        <button mat-raised-button color="accent" type="submit">
          {{ data.mode == "edit" ? "Modifier" : "Créer" }}
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
